doctype html
head
  title Выбор элективов, 2-й модуль, 1-й этап
  link(rel='stylesheet', href='//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css')
  // load bootstrap css
  link(rel='stylesheet', href='//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css')
  // load fontawesome
  style.
    body        { padding-top:20px;   font-family: 'Agipo-Bold';}
    @font-face {
      font-family: 'Agipo-Bold';
      src:url('fonts/agipo/Agipo-Bold.woff'); 
    }
    .jumbotron h1 {
      font-size:36px;
      margin-bottom: 40px;
    }
    .jumbotron{
      font-size:18px;
      line-height: initial;
    }
    .input-group label {
      width:100%;
      font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
      font-weight: 500;
    }
    .input-group .form-control {
      margin: 20px 0 40px 0;
      width:75%;
    }
    form {
      margin-top: 30px;
    }
    label,legend {
      text-align: left;
    }
    input, textarea, select {
      float:left;
      width:75%;
      font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    }

    @media screen and (max-width:767px){
      body{padding-top:10px}
      .container{
        width:95% !important;
      }
    legend {
      font-size:30px;
    }
    label,legend {
      text-align: center;
    }
    input, textarea, select {
      float: none;
      width:100% !important;
    }
    .input-group .form-control {
      width:100% !important;
    }
    }
.container
  .jumbotron.text-center
    h1 Выбор элективов, 2-й модуль, 1-й этап
    form(action="/polls-ai-metaphor" method="post")
      select(class="form-control" required="required" name="2module__electives_1")
        option(value="Энн Малхолл") Intro to Contemporary French Theory (English) – Энн Малхолл
        option(value="Евгений Гришин") История российских религий (Russian)- Евгений Гришин
        option(value="Сурендра Бхандари") International Law (English) - Сурендра Бхандари
        option(value="Елена Арбатская") Современные медиа: контент и эстетика (Russian) - Елена Арбатская
        option(value="Закари Рейна") Nietzsche (English) – Закари Рейна
        option(value="Томаш Блушевич") The Geopolitics of Energy (English) – Томаш Блушевич
        option(value="Луи Вервурт") The Problem of Free Will (English) – Луи Вервурт
        option(value="Наталья Савельева") Почему мы верим? (Russian) - Наталья Савельева
        option(value="Таисья Погодаева") Введение в теорию экономического роста (Russian) - Таисья Погодаева
      button(type="submit" class="btn btn-primary btn-lg") Отправить
