doctype html
html
  head
    link(rel="stylesheet" type = "text/css" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/7.0.0/normalize.min.css")
    style.
      .image-list {
        width:100%;
      }
      .image-list__image-container {
        width:33.33%;
        height:auto;
        display:inline-block;
      }
      .image-list__image-small {
        width:100%;
      }
  body
    main.image-list
      div.image-list__image-container
        img.image-list__image-small(src="/assets/duskin.jpg")
      div.image-list__image-container
        img.image-list__image-small(src="/assets/duskin.jpg")
      div.image-list__image-container
        img.image-list__image-small(src="/assets/duskin.jpg")
        
