doctype html
head
  title Школа перспективных исследований - Обратная связь. Лекции и семинары
  link(rel='stylesheet', href='//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css')
  // load bootstrap css
  link(rel='stylesheet', href='//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css')
  // load fontawesome
  style.
    body        { padding-top:80px;   font-family: 'Agipo-Bold';}
    @font-face {
      font-family: 'Agipo-Bold';
      src:url('fonts/agipo/Agipo-Bold.woff');
    }
    p {font-size:1.8em}
    @media (max-width: 768px){
    .jumbotron, .btn-lg {font-size:40px}
    .container {
      width: auto;
      }
      a.btn-xl {
        font-size:40px;
      }
    body {font-size:40px}
    p {font-size:40px}
    h1 {font-size:40px}
    h2 {font-size:40px}}
.container
  .jumbotron.text-center
    h1 Обратная связь. Лекции и семинары
    h2
      span.fa.fa-lock
      span  Регистрация
    p Для участия в опросах войдите при помощи своего студенческого аккаунта Gmail:
    a.btn.btn-danger.btn-lg.btn-xl(href='/auth/google')
      span.fa.fa-google-plus Google
