doctype html
head
  title Обратная связь. Лекции и семинары
  link(rel='stylesheet', href='//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css')
  // load bootstrap css
  link(rel='stylesheet', href='//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css')
  // load fontawesome
  style.
    body        { padding-top:20px;   font-family: 'Agipo-Bold';}
    @font-face {
      font-family: 'Agipo-Bold';
      src:url('fonts/agipo/Agipo-Bold.woff'); 
    }
    .jumbotron h1 {
      font-size:36px;
      margin-bottom: 40px;
    }
    .jumbotron{
      font-size:18px;
      line-height: initial;
    }
    .input-group label {
      width:100%;
      font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    }
    .input-group .form-control {
      margin: 20px 0 40px 0;
      width:75%;
    }
    label,legend {
      text-align: left;
    }
    input, textarea, select {
      float:left;
      width:75%;
      font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    }

    @media screen and (max-width:767px){
      body{padding-top:10px}
      .container{
        width:95% !important;
      }
    legend {
      font-size:30px;
    }
    label,legend {
      text-align: center;
    }
    input, textarea, select {
      float: none;
      width:100% !important;
    }
    .input-group .form-control {
      width:100% !important;
    }
    }
.container
  .jumbotron.text-center
    h1 Обратная связь. Лекции и семинары. "Анализ и интерпретация: Метафора"
    h3 Завершилась первая часть курса "Анализ и интерпретация", который является обязательной дисциплиной ядра. Опрос состоит из двух частей: оценка лекций (лектор: Елена Григорьева) и семинарских занятий. Для Школы очень важна ваша обратная связь, она является вашим главным инструментом влияния на образовательный процесс.  В течение учебного года после прохождения каждого отдельного элемента образовательной программы вы будете получать формы оценки учебных курсов. Просим вас отнестись к заполнению формы максимально внимательно и объективно. Опрос является анонимным и будет доступен для заполнения до 11:00 2 октября. Обращаем ваше внимание на то, что баллы 0, 5 и 10 являются лишь ориентирами для возможной оценки, вы можете использовать любой показатель от 0 до 10. 


    form(action="/polls-ai-metaphor" method="post")
      fieldset
        legend ЛЕКЦИИ:
        div(class="input-group")
          label(for="Как хорошо были организованы материалы курса") Как хорошо были организованы материалы курса (ридер, раздатки, книги, электронные копии книг, аудиовизуальные материалы, e-mail рассылки, соцсети, web-сайт и т.д.). Оцените по шкале от 0 до 10, где 0 – материалов вообще не было или ими было невозможно пользоваться; 5 – материалов явно не хватало или пользоваться ими было затруднительно; 10 – материалов было достаточно, они были легко доступны и прекрасно структурированы.
          input(type="number" required class="form-control" name="Как хорошо были организованы материалы курса" min="0" max="10")
          label(for="Насколько пунктуален был преподаватель (лекции)") Насколько пунктуален был преподаватель? Оцените по шкале от 0 до 10, где 0 – преподаватель пропускал занятия и не проводил дополнительных занятий вместо пропущенных; 5 – преподаватель не пропускал занятий, но опаздывал в среднем на 20 минут; 10 – преподаватель был абсолютно пунктуален
          input(type="number" required class="form-control" name="Насколько пунктуален был преподаватель (лекции)" min="0" max="10")
          label(for="Насколько полно преподаватель следовал программе курса") Насколько полно преподаватель следовал программе курса (силлабусу) . Оцените по шкале от 0 до 10, где 0 - вообще не следовал; 5 – следовал на 50%; 10 – следовал на 100%
          input(type="number" required class="form-control" name="Насколько полно преподаватель следовал программе курса" min="0" max="10")
          label(for="Оцените сложность лекций для вашего понимания") Оцените сложность лекций для вашего понимания. Оцените по шкале от 0 до 10, где 0 – я вообще ничего не понимал; 5 – я понимал 50%; 10 – я понимал все.
          input(type="number" required class="form-control" name="Оцените сложность лекций для вашего понимания" min="0" max="10")
          label(for="Насколько новым для вас было содержание лекций") Насколько новым для вас было содержание лекций? Оцените по шкале от 0 до 10, где  0 – я не узнал ничего нового; 5 – 50% материала было для меня новым; 10 – все, о чем говорилось, я слышал впервые.
          input(type="number" required class="form-control" name="Насколько новым для вас было содержание лекций" min="0" max="10")
          label(for="Насколько вам понравилась манера чтения лекций этим преподавателем") Насколько вам понравилась манера чтения лекций этим преподавателем? (балл от 0 до 10)
          input(type="number" required class="form-control" name="Насколько вам понравилась манера чтения лекций этим преподавателем" min="0" max="10")
          label(for="Насколько изменились ваше мышление, знания и умения") Насколько изменились ваше мышление, знания и умения под воздействием этого курса? Оцените по шкале от 0 до 10, где 0 - вообще не изменились; 3 – изменились незначительно; 6 – заметно изменились; 8 – сильно изменились; 10 – я стал другим человеком.
          input(type="number" required class="form-control" name="Насколько изменились ваше мышление, знания и умения" min="0" max="10")
          label(for="Хотите ли вы снова встретиться с этим преподавателем на других курсах") Хотите ли вы снова встретиться с этим преподавателем на других курсах? Оцените по шкале от 0 до 10, где 0 – ни в коем случае, только под угрозой отчисления из Школы; 5 – готов, если тема курса будет для меня очень важна, а других преподавателей с этой темой не будет; 10 – сделаю все возможное, чтобы вновь оказаться с этим преподавателем в одной аудитории.
          input(type="number" required class="form-control" name="Хотите ли вы снова встретиться с этим преподавателем на других курсах" min="0" max="10")
          label(for="Если бы этот курс не входил в ядро, взяли бы вы его как электив") Если бы этот курс не входил в «ядро», взяли бы вы его как электив? Оцените не конкретного преподавателя, а сам курс в целом по шкале от 0 до 10, где 0 – не взял бы ни в коем случае; 5 – взял бы, если бы в это время не было других хороших курсов; 10 – взял бы непременно.
          input(type="number" required class="form-control" name="Если бы этот курс не входил в ядро, взяли бы вы его как электив" min="0" max="10")
          label(for="Что вам больше всего понравилось в этом лекционном курсе") Что вам больше всего понравилось в этом лекционном курсе? 
          textarea(rows="4" required class="form-control" name="Что вам больше всего понравилось в этом лекционном курсе") 
          label(for="Что вам больше всего не понравилось в этом лекционном курсе") Что вам больше всего не понравилось в этом лекционном курсе?
          textarea(rows="4" required class="form-control" name="Что вам больше всего не понравилось в этом лекционном курсе")
          label(for="Что для вас было самым сложным в этом лекционном курсе") Что для вас было самым сложным в этом лекционном курсе?
          textarea(rows="4" required class="form-control" name="Что для вас было самым сложным в этом лекционном курсе")
          label(for="Как бы вы порекомендовали улучшить этот лекционный курс") Как бы вы порекомендовали улучшить этот лекционный курс?
          textarea(rows="4" required class="form-control" name="Как бы вы порекомендовали улучшить этот лекционный курс")  
      fieldset
        legend СЕМИНАРЫ:
        div(class="input-group")
          label(for="Укажите имя и фамилию преподавателя, работавшего с вами на семинарах") Укажите имя и фамилию преподавателя, работавшего с вами на семинарах.
          select(class="form-control" required name="Укажите имя и фамилию преподавателя, работавшего с вами на семинарах")
            option(value="Елена Арбатская") Елена Арбатская
            option(value="Гульнара Баязитова") Гульнара Баязитова
            option(value="Даскин Драм") Даскин Драм
            option(value="Олег Журавлев") Олег Журавлев
            option(value="Энн Малхолл") Энн Малхолл
            option(value="Наталья Савельева") Наталья Савельева
            option(value="Джон Тангни") Джон Тангни
          label(for="Насколько полно преподаватель следовал темам") Насколько полно преподаватель следовал темам, которым были посвящены лекции на этом модуле? Оцените по шкале от 0 до 10, где 0 - вообще не следовал; 5 – следовал на 50%;10 – следовал на 100%.
          input(type="number" required class="form-control" name="Насколько полно преподаватель следовал темам" min="0" max="10")
          label(for="Насколько хорошо преподаватель организует интерактивную коммуникацию в группе") Насколько хорошо преподаватель организует интерактивную коммуникацию в группе? (балл от 0 до 10, где  0 – интеракция отсутствует, так как преподаватель читает лекцию или задает вопросы, на которые никто не может ответить; 10 – работа семинара максимально интерактивна, интеракция прекрасно организована).
          input(type="number" required class="form-control" name="Насколько хорошо преподаватель организует интерактивную коммуникацию в группе" min="0" max="10")
          label(for="Сколько раз в течение одного семинарского занятия вы (в среднем) высказывались вслух") Сколько раз в течение одного семинарского занятия вы (в среднем) высказывались вслух (в том числе задавая вопросы)?
          input(type="number" required class="form-control" name="Сколько раз в течение одного семинарского занятия вы (в среднем) высказывались вслух" min="0" max="10")
          label(for="Насколько хорошо преподаватель объясняет материал") Насколько хорошо преподаватель объясняет материал? (балл от 0 до 10)
          input(type="number" required class="form-control" name="Насколько хорошо преподаватель объясняет материал" min="0" max="10")
          label(for="Насколько семинарские занятия помогли вам освоить материал лекций") Насколько семинарские занятия помогли вам освоить материал лекций и подготовиться к написанию итоговой письменной работы? (0 – вообще не помогли; 3 – помогли в незначительной степени; 8 – значительно помогли; 10 – я смог хорошо разобраться в материале только благодаря этим занятиям)
          input(type="number" required class="form-control" name="Насколько семинарские занятия помогли вам освоить материал лекций" min="0" max="10")
          label(for="Насколько пунктуален был преподаватель") Насколько пунктуален был преподаватель (любой балл от 0 до 10, где 0 – преподаватель пропускал занятия и не проводил дополнительных занятий вместо пропущенных; 5 – преподаватель не пропускал занятий, но опаздывал в среднем на 20 минут; 10 – преподаватель был абсолютно пунктуален).
          input(type="number" required class="form-control" name="Насколько пунктуален был преподаватель" min="0" max="10")
          label(for="Какую оценку (балл от 0 до 10) вы ожидаете получить за эту часть курса") Какую оценку (балл от 0 до 10) вы ожидаете получить за эту часть курса?
          input(type="number" required class="form-control" name="Какую оценку (балл от 0 до 10) вы ожидаете получить за эту часть курса" min="0" max="10")
          label(for="Готовы ли вы снова встретиться с этим преподавателем на других курсах") Готовы ли вы снова встретиться с этим преподавателем на других курсах? (любой балл от 0 до 10, где 0 – ни в коем случае, только под угрозой отчисления из Школы; 5 – готов, если тема курса будет для меня очень важна, а других преподавателей с этой темой не будет; 10 – сделаю все возможное, чтобы вновь оказаться с этим преподавателем в одной аудитории).
          input(type="number" required class="form-control" name="Готовы ли вы снова встретиться с этим преподавателем на других курсах" min="0" max="10")
          label(for="Сколько процентов обязательных текстов по этой части курса вы успевали прочесть") Сколько процентов обязательных текстов по этой части курса вы успевали прочесть?
          input(type="number" required class="form-control" name="Сколько процентов обязательных текстов по этой части курса вы успевали прочесть" min="0" max="100")
          label(for="Сколько часов в неделю вы уделяли внеаудиторной работе по этой части курса") Сколько часов в неделю вы уделяли внеаудиторной работе по этой части курса?
          input(type="number" required class="form-control" name="Сколько часов в неделю вы уделяли внеаудиторной работе по этой части курса" min="0" max="100")
          label(for="Что вам больше всего понравилось в этом семинаре") Что вам больше всего понравилось в этом семинаре?
          textarea(rows="4" required class="form-control" name="Что вам больше всего понравилось в этом семинаре")  
          label(for="Что вам больше всего не понравилось в этом семинаре") Что вам больше всего не понравилось в этом семинаре?
          textarea(rows="4" required class="form-control" name="Что вам больше всего не понравилось в этом семинаре")
          label(for="Что для вас было самым сложным в этом семинаре") Что для вас было самым сложным в этом семинаре?
          textarea(rows="4" required class="form-control" name="Что для вас было самым сложным в этом семинаре") 
          label(for="Как бы вы порекомендовали улучшить этот семинар") Как бы вы порекомендовали улучшить этот семинар?
          textarea(rows="4" required class="form-control" name="Как бы вы порекомендовали улучшить этот семинар")   
      button(type="submit" class="btn btn-primary btn-lg") Отправить
