doctype html
html
  head
    title School of advanced studies: polls and feedback
    link(rel='stylesheet', href='//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css')
    link(rel='stylesheet', href='//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css')
    style.
      body        {    font-family: 'Agipo-Bold'; ;}
        .alert {font-size:1.8em;    margin: 15px;}
        body {font-size:1.8em}
        h1 {font-size:2.5em}
        h2 {font-size:2em}
        a:visited {
            color: grey;
          }
        .row {
      margin-top: 10px;
      margin-bottom:10px;}
      @font-face {
        font-family: 'Agipo-Bold';
        src:url('../fonts/agipo/Agipo-Bold.woff');
      }
      @media (min-width: 768px){
        .container {
        width: auto;
          }}
      @media (max-width: 768px){
      .container {
        width: auto;
        }

        }
  body
        div(class="container")
          div(class="page-header text-center")
            h1 School of advanced studies: polls and feedback
          div(class="row" style="font-family: -apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,Oxygen-Sans,Ubuntu,Cantarell,'Helvetica Neue',sans-serif;")
            -if(messages)
              div(class="alert alert-success") #{messages}
            div(class="")
              div(class="col-xs-12")
                //- h1 
                //-   a(href="/polls/electives-2019-3-year2") Year 2
                //- h1 Year 3:
                //- h1 
                //-   a(href="/polls/electives-2019-3-art") Cultural Studies
                //- h1 
                //-   a(href="/polls/electives-2019-3-media") Film and Media Studies
                //- h1 
                //-   a(href="/polls/electives-2019-3-history") Historical Studies
                //- h1 
                //-   a(href="/polls/electives-2019-3-biology") Life Sciences
                //- h1 
                //-   a(href="/polls/electives-2019-3-economics") Economics
                //- h1 
                //-   a(href="/polls/electives-2019-3-it") Information Technology and Digital Society
                //- h1 
                //-   a(href="/polls/electives-2019-3-sociology") Sociology and Anthropology
                //- h1 
                //-   a(href="/polls/electives-2019-3-sociology-alt") Sociology and Anthropology (for Siyutkin and Kudin)
                //- h1 Year 1
                //- ul(class="list-unstyled")
                //-   li
                //-     h1
                //-       a(href="/polls/ba-2019-year1-module4-electives") Elective
                //-   li
                //-     h1
                //-       a(href="/polls/ba-2019-year1-module4-tfy") TFY
                //-   li
                //-     h1
                //-       a(href="/polls/ba-2019-year1-module4-it") IT
                //-   li
                //-     h1
                //-       a(href="/polls/ba-2019-year1-module4-history") History
                //-   li
                //-     h1
                //-       a(href="/polls/ba-2019-year1-module4-gb") Great Books: Philosophy
                //- h1 Year 2
                //- ul(class="list-unstyled")
                //-   li
                //-     h1
                //-       a(href="/polls/ba-2019-year2-module8-electives") Elective 1
                //-   li
                //-     h1
                //-       a(href="/polls/ba-2019-year2-module8-electives2") Elective 2
                //-   li
                //-     h1
                //-       a(href="/polls/ba-2019-year2-module8-gb") Great Books: Literature
                //-   li
                //-     h1
                //-       a(href="/polls/ba-2019-year2-module8-design-thinking") Design Thinking
          .row
            div(class="col-xs-12")
              div(class="well")
                h3.text-danger
                  span.fa.fa-google-plus Google
                p
                  br
                  -if(user)
                    span Email: #{user.google.email}
                  br
                  -if(user)
                    span Name: #{user.google.name}
                a.btn.btn-default.btn-lg(href='/logout') Log out
