doctype html
html
  head
    title Опросы Школы перспективных исследований - Главная
    link(rel='stylesheet', href='//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css')
    link(rel='stylesheet', href='//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css')
    style.
      body        {    font-family: 'Agipo-Bold';}
      @font-face {
        font-family: 'Agipo-Bold';
        src:url('fonts/agipo/Agipo-Bold.woff');
      }
  body
    .container
      .page-header.text-center
        h1 Опросы Школы перспективных исследований
      .row
        // GOOGLE INFORMATION
        .col-sm-3.col-xs-12
          .well
            h3.text-danger
              span.fa.fa-google-plus Google
            p
              br
              strong Email: #{user.google.email}
              br
              strong Имя: #{user.google.name}
            a.btn.btn-default.btn-lg(href='/logout') Выйти
