doctype html
html
  head
    title Опросы Школы перспективных исследований - Главная
    link(rel='stylesheet', href='//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css')
    link(rel='stylesheet', href='//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css')
    style.
      body        { padding-top:80px;   font-family: 'Agipo-Bold';}
      h1 {font-family: 'Agipo-Bold';}
      @font-face {
        font-family: 'Agipo-Bold';
        src:url('fonts/agipo/Agipo-Bold.woff');
      }
  body
    .container
      .page-header.text-center
        h1
          span.fa.fa-anchor Опросы Школы перспективных исследований - Главная
        a.btn.btn-default.btn-sm(href='/logout') Выйти
      .row
        // GOOGLE INFORMATION
        .col-sm-6
          .well
            h3.text-danger
              span.fa.fa-google-plus Google
            p
              strong id #{user.google.id}
              br
              strong token #{user.google.token}
              br
              strong email #{user.google.email}
              br
              strong name #{user.google.name}
