doctype html
head
  title Обратная связь. Лекции и семинары
  link(rel='stylesheet', href='//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css')
  // load bootstrap css
  link(rel='stylesheet', href='//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css')
  // load fontawesome
  style.
    body        { padding-top:80px;   font-family: 'Agipo-Bold';}
    @font-face {
      font-family: 'Agipo-Bold';
      src:url('fonts/agipo/Agipo-Bold.woff'); 
    }
.container
  .jumbotron.text-center
    h1 Обратная связь. Лекции и семинары. "Анализ и интерпретация: Метафора" 
    form(action="/polls-ai-metaphor" method="post")
      fieldset
        legend ЛЕКЦИИ:
        div(class="input-group")
          label(for="Как хорошо были организованы материалы курса") Как хорошо были организованы материалы курса (ридер, раздатки, книги, электронные копии книг, аудиовизуальные материалы, e-mail рассылки, соцсети, web-сайт и т.д.).Оцените по шкале от 0 до 10, где 0 – материалов вообще не было или ими было невозможно пользоваться; 5 – материалов явно не хватало или пользоваться ими было затруднительно; 10 – материалов было совершенно достаточно, они были легко доступны и прекрасно структурированы.
          input(type="number" class="form-control" name="Как хорошо были организованы материалы курса" min="0" max="10")
          label(for="Укажите имя и фамилию преподавателя, работавшего с вами на семинарах") Укажите имя и фамилию преподавателя, работавшего с вами на семинарах.
          select(class="form-control" name="Укажите имя и фамилию преподавателя, работавшего с вами на семинарах")
            option(value="Елена Арбатская")
            option(value="Гульнара Баязитова")
            option(value="Даскин Драм")
            option(value="Олег Журавлев")
            option(value="Энн Малхолл")
            option(value="Наталья Савельева")
            option(value="Джон Тангни")
      button(type="submit" class="btn btn-primary") Отправить
