doctype html
html
  head
    title SAS — Share Your Opinions
    link(rel='stylesheet', href='//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css')
    link(rel='stylesheet', href='//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css')
    style.
      body        {    font-family: 'Agipo-Bold'; ;}
        .alert {font-size:1.8em;    margin: 15px;}
        body {font-size:1.8em}
        h1 {font-size:2.5em}
        h2 {font-size:2em}
        a:visited {
            color: grey;
          }
        .row {
      margin-top: 10px;
      margin-bottom:10px;}
      @font-face {
        font-family: 'Agipo-Bold';
        src:url('../fonts/agipo/Agipo-Bold.woff');
      }
      @media (min-width: 768px){
        .container {
        width: auto;
          }}
      @media (max-width: 768px){
      .container {
        width: auto;
        }

        }
  body
        div(class="container")
          div(class="page-header text-center")
            h1 School of Advanced Studies — Share Your Opinions
          div(class="row" style="font-family: -apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,Oxygen-Sans,Ubuntu,Cantarell,'Helvetica Neue',sans-serif;")
            -if(messages)
              div(class="alert alert-success") #{messages}
          .row
            div(class="col-xs-12")
              div(class="well")
                h3.text-danger
                  span.fa.fa-google-plus Google
                p
                  br
                  -if(user)
                    span Email: #{user.google.email}
                  br
                  -if(user)
                    span Name: #{user.google.name}
                a.btn.btn-default.btn-lg(href='/logout') Log out
                //- div(class="col-xs-12")
                //-   h1 Demo Classes
                //-     h1
                //-       a(target="_blank" href="https://schoolofadvancedstudies.herokuapp.com/polls/pds_course?subject_id=pds_2021_1&teachers=Alisher%20Khaliyarov&subject=History%20of%20Afghanistan") Alisher Khaliyarov – History of Afghanistan
                //-     h1
                //-       a(target="_blank" href="https://schoolofadvancedstudies.herokuapp.com/polls/pds_course?subject_id=pds_2021_2&teachers=Eric%20Covey&subject=Comic%20History") Eric Covey – Comic History
                //- 
                //- div(class="col-xs-12")
                //-   h1 First Year Seminars
                //-     h1
                //-       a(target="_blank" href="/polls/course?subject=First Year Seminar — Great Educators&subject_id=ba_2021_q4_fys&teachers=Marko Turk,Siyaves Azeri") First Year Seminar — Great Educators
                //-     h1
                //-       a(target="_blank" href="/polls/course?subject=First Year Seminar — Psychoanalysis, Then and Now&subject_id=ba_2021_q4_fys&teachers=Julie Reshe,Duane Rousselle") First Year Seminar — Psychoanalysis, Then and Now
                //-     h1
                //-       a(target="_blank" href="/polls/course?subject=First Year Seminar — Basics of Modeling&subject_id=ba_2021_q4_fys&teachers=Alexander Usvitskiy,Erzsébet Pásztor") First Year Seminar — Basics of Modeling
                //-     h1
                //-       a(target="_blank" href="/polls/course?subject=First Year Seminar — Genes, Сulture, and Human Evolution&subject_id=ba_2021_q4_fys&teachers=Jay Silverstein,Erzsébet Pásztor") First Year Seminar — Genes, Сulture, and Human Evolution
                //-     h1
                //-       a(target="_blank" href="/polls/course?subject=First Year Seminar — Consciousness, emotions, and decision making&subject_id=ba_2021_q4_fys&teachers=Krishna Muthukumarappan,Louis Vervoort") First Year Seminar — Consciousness, emotions, and decision making
                div(class="col-xs-12")
                  h1 Majors and Electives:
                  h1 
                    a(target="_blank" href="/polls/course?subject=Elective 1&subject_id=ba_2021_q4_elective1&select=Joanna Longden — Black Atlantic,Giacomo Andreoletti — Formal Logic 1,Arseny Kustov — Desiring Mastery: Theoretical Foundations of Anarchism,Siyaves Azeri — Doors and the Constitution of Inner Space,Peter Lešnik — Global Art Cinema,Ksenia Popenko — Psychological Aspects of Decision-Making,Louis Vervoort — Quantum Mechanics and Buddhism,Devin Wangert — Surveillance Drones and Robots,Erzsébet Pásztor — The Witch Kitchen of Galapagos,Stanimir Panayotov — One and Many,Olga Dobrovidova — Science Communication,Nata Pokrovskaia — From Script to Storyboard") Elective 1
                  h1 
                    a(target="_blank" href="/polls/course?subject=Elective 2&subject_id=ba_2021_q4_elective2&select=Joanna Longden — Black Atlantic,Giacomo Andreoletti — Formal Logic 1,Arseny Kustov — Desiring Mastery: Theoretical Foundations of Anarchism,Siyaves Azeri — Doors and the Constitution of Inner Space,Peter Lešnik — Global Art Cinema,Ksenia Popenko — Psychological Aspects of Decision-Making,Louis Vervoort — Quantum Mechanics and Buddhism,Devin Wangert — Surveillance Drones and Robots,Erzsébet Pásztor — The Witch Kitchen of Galapagos,Stanimir Panayotov — One and Many,Olga Dobrovidova — Science Communication,Nata Pokrovskaia — From Script to Storyboard") Elective 2 (if exists)
                  h1 
                    a(target="_blank" href="/polls/course?subject=Free will in philosophy and neuroscience&subject_id=ba_2021_q4_elective3&teachers=Krishna Muthukumarappan,Louis Vervoort") Elective — Free will in philosophy and neuroscience
                  //- h1 
                  //-   a(target="_blank" href="/polls/course?subject=Body Culture Self&subject_id=ba_2021_q4_elective4&teachers=Erika Wolf,Stanimir Panayotov") Elective — Body, Culture, Self
                  //- h1 
                  //-   a(target="_blank" href="/polls/course?subject=Foundations of quantum mechanics&subject_id=ba_2021_q4_elective3&teachers=Giacomo Andreoletti,Louis Vervoort") Elective — Foundations of quantum mechanics
                  //- h1 
                  //-   a(target="_blank" href="/polls/course?subject=Institutional Experiments in Higher Education&subject_id=ma_xhe_2021_year1_q4_ie&teachers=Dara Melnyk,Daniel Kontowski") Institutional Experiments in Higher Education
                  //- h1 
                  //-   a(target="_blank" href="/polls/course?subject=Major course — Critical Theory&subject_id=ba_2021_q4_major4&teachers=Siyaves Azeri — Critical Theory,Stanimir Panayotov — Critical Theory") Major course — Critical Theory
                  //- h1 
                  //-   a(target="_blank" href="/polls/course?subject=Major course — Into the Archive&subject_id=ba_2021_q4_major3&teachers=Corinne Doria — Into the Archive,Tomasz Blusiewicz — Into the Archive") Major course — Into the Archive
                  h1 
                    a(target="_blank" href="/polls/course?subject=Major course — Web-backend&subject_id=ba_2021_q4_major4&teachers=Victor Skiba — Web-backend,Vladimir Prishepa — Web-backend") Major course — Web-backend
                  //- h1 
                  //-   a(target="_blank" href="/polls/course?subject=Major course 1&subject_id=ba_2021_q4_major1&select=Jay Silverstein — Anthropological Issues and Ideas,Erika Wolf — Visual Culture,Pavel Kocourek — Applied Economics,Alexander Usvitskiy — Game Theory,Peter Lešnik — Film Theory,Joshua Reeves — Intermediality,Olga Golechkova — Making History,Denis Zmeev — Software Development Process,Erzsébet Pásztor — Nature and Nurture in Genetics,Krishna Muthukumarappan — Brain and Behavior") Major course 1
                  //- h1 
                  //-   a(target="_blank" href="/polls/course?subject=Major course 2&subject_id=ba_2021_q4_major2&select=Jay Silverstein — Anthropological Issues and Ideas,Erika Wolf — Visual Culture,Pavel Kocourek — Applied Economics,Alexander Usvitskiy — Game Theory,Peter Lešnik — Film Theory,Joshua Reeves — Intermediality,Olga Golechkova — Making History,Denis Zmeev — Software Development Process,Erzsébet Pásztor — Nature and Nurture in Genetics,Krishna Muthukumarappan — Brain and Behavior") Major course 2 (if exists)
                  //- h1 
                  //-   a(target="_blank" href="/polls/course?subject=Major course 3&subject_id=ba_2021_q4_major3&select=Jay Silverstein — Anthropological Issues and Ideas,Erika Wolf — Visual Culture,Pavel Kocourek — Applied Economics,Alexander Usvitskiy — Game Theory,Peter Lešnik — Film Theory,Joshua Reeves — Intermediality,Olga Golechkova — Making History,Denis Zmeev — Software Development Process,Erzsébet Pásztor — Nature and Nurture in Genetics,Krishna Muthukumarappan — Brain and Behavior") Major course 3 (if exists)
                  h1 Core Courses:
                  //- h1 Year 1:
                  //- h1 
                  //-   a(target="_blank" href="/polls/course?subject=History&subject_id=ba_2021_year1_q4_history&lecturers=Corinne Doria&teachers=Corinne Doria,Tomasz Blusiewicz") History (Quarter 1 and Quarter 2)
                  h1 
                    a(target="_blank" href="/polls/course?subject=Great Books 3 — Arto Artinian,Siyaves Azeri&subject_id=ba_2021_year1_q4_gb3&lecturers=Arto Artinian,Siyaves Azeri&select=Arto Artinian,Siyaves Azeri") Great Books 3
                  h1 
                    a(target="_blank" href="/polls/course?subject=TFY&subject_id=ba_2021_year1_q4_tfy&teachers=Eva Burbo,Joanna Longden") TFY
                  //- h1 
                  //-   a(target="_blank" href="/polls/course?subject=Information Technology&subject_id=ba_2021_year1_q4_it&teachers=Alexey Lysenko") Information Technology
                  h1 
                    a(target="_blank" href="/polls/course?subject_id=ba_2021_year2_q4_gb_1&subject=Great Books: Literature 2, part 1 — Jay Silverstein&teachers=Jay Silverstein") Great Books: Literature 2, part 1 — Jay Silverstein
                  h1 
                    a(target="_blank" href="/polls/course?subject_id=ba_2021_year2_q4_gb_2&subject=Great Books: Literature 2, part 2 — Joanna Longden&teachers=Joanna Longden") Great Books: Literature 2, part 2 — Joanna Longden
                  h1 
                    a(target="_blank" href="/polls/course?subject_id=ba_2021_year2_q4_gb_3&subject=Great Books: Literature 2, part 3 — Olga Ushakova&teachers=Olga Ushakova") Great Books: Literature 2, part 3 — Olga Ushakova
                  h1 
                    a(target="_blank" href="/polls/course?subject_id=ba_2021_year2_q4_gb_4&subject=Great Books: Literature 2, part 4 — Elena Grigoreva&teachers=Elena Grigoreva") Great Books: Literature 2, part 4 — Elena Grigoreva
                  //- h1 
                  //-   a(target="_blank" href="/polls/course?subject_id=ba_2021_year2_q4_art&subject=Interpreting Artworks&lecturers=Erika Wolf,Stanimir Panayotov,Vera Trachtenberg,Corinne Doria,Julie Reshe,Duane Rouselle&teachers=Erika Wolf,Stanimir Panayotov,Vera Trachtenberg,Corinne Doria,Julie Reshe,Duane Rouselle") Interpreting Artworks (Quarter 1 and Quarter 2)
                  h1 
                    a(target="_blank" href="/polls/course?subject=Design Thinking&subject_id=ba_2021_year2_q4_dt&teachers=Irina Karabanova") Design Thinking
                  //- h1 Year 4:
                  //-   h1 
                  //-     a(target="_blank" href="/polls/course?subject_id=ba_2021_year4_q4_ec&subject=Effective Communication — Peter Mitchell, Eva Burbo&teachers=Peter Mitchell") Effective Communication
                  h1 Research Seminars:
                  h1 
                    a(target="_blank" href="/polls/course?subject=Research Seminar&subject_id=ba_2021_q4_rs&select=Erika Wolf,Jay Silverstein,Stanimir Panayotov,Aleksey Lysenko,Alexander Usvitskiy,Peter Lešnik,Erzsébet Pásztor") Research Seminar (Quarter 3 and Quarter 4)
                  h1 X-HE Year 1:
                  //- h1 
                  //-   a(target="_blank" href="/polls/course?subject=Institutional Experiments in Higher Education&subject_id=ma_xhe_2021_year1_q4_ie&teachers=Dara Melnyk,Daniel Kontowski") Institutional Experiments in Higher Education
                  h1 
                    a(target="_blank" href="/polls/course?subject=Evaluation of Educational Processes&subject_id=ma_xhe_2021_year1_q4_eep&teachers=Marko Turk") Evaluation of Educational Processes
                  h1 
                    a(target="_blank" href="/polls/course?subject=Organisational Analysis of Higher Education&subject_id=ma_xhe_2021_year1_q4_oc&teachers=Lidiia Yatluk") Organisational Change
                  h1 
                    a(target="_blank" href="/polls/course?subject=Professional Seminar — Year 1&subject_id=ma_xhe_2021_year1_q4_ps4&teachers=Dara Melnyk") Professional Seminar
                  h1 X-HE Year 2:
                  //- h1 
                  //-   a(target="_blank" href="/polls/course?subject=Higher Education Reforms&subject_id=ma_xhe_2021_year2_q4_her&teachers=Lidiia Iatluk") Higher Education Reforms
                  h1 
                    a(target="_blank" href="/polls/course?subject=Professional Seminar — Year 2&subject_id=ma_xhe_2021_year2_q4_ps8&teachers=Dara Melnyk") Professional Seminar
                
  script.
    //- if(Date.now() > Date.parse('11 Jan 2021 18:00:00 GMT+5')){
    //-   document.querySelectorAll(".closable").forEach(function(el){
    //-       el.style.display = "none";
    //-   })
    //-   }
          
