doctype html
html
  head
    title Школа перспективных исследований: опросы и обратная связь
    link(rel='stylesheet', href='//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css')
    link(rel='stylesheet', href='//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css')
    style.
      body        {    font-family: 'Agipo-Bold'; ;}
        .alert {font-size:1.8em;    margin: 15px;}
        body {font-size:1.8em}
        h1 {font-size:2.5em}
        h2 {font-size:2em}
        .row {
      margin-top: 10px;
      margin-bottom:10px;}
      @font-face {
        font-family: 'Agipo-Bold';
        src:url('../fonts/agipo/Agipo-Bold.woff');
      }
      @media (min-width: 768px){
        .container {
        width: auto;
          }}
      @media (max-width: 768px){
      .container {
        width: auto;
        }

        }
  body
        div(class="container")
          div(class="page-header text-center")
            h1 Школа перспективных исследований: опросы и обратная связь
          div(class="row")
            -if(messages)
              div(class="alert alert-success") #{messages}
          div(class="row")
            div(class="col-xs-12")
              ul(class="list-unstyled")
                li
                  h2
                    //a(href="/polls/2nd-module-surendra") Выбор курса у Сурендры Бхандари
                li
                  h2
                    //a(href="/polls-ai-metaphor") Анализ и интерпретация: Метафора
          .row
            div(class="col-xs-12")
              div(class="well")
                h3.text-danger
                  span.fa.fa-google-plus Google
                p
                  br
                  -if(user)
                    span Email: #{user.google.email}
                  br
                  -if(user)
                    span Имя: #{user.google.name}
                a.btn.btn-default.btn-lg(href='/logout') Выйти
