doctype html
html
  head
    title SAS Schedule
    link(rel='stylesheet', href='//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css')
    // load bootstrap css
    style.
      body { 
        font-family: 'Kazimir-Text-Regular';
        font-smooth: always;
        -webkit-font-smoothing: antialiased;
        background-color: rgb(20, 20, 20);
        color:#fff;
        overflow: hidden;
        /* cursor: none; */
      }
      @font-face {
        font-family: 'Agipo-Bold';
        src:url('../fonts/agipo/Agipo-Bold.woff');
      }
      @font-face {
        font-family: 'Agipo-Regular';
        src:url('../fonts/agipo/Agipo-Regular.woff');
      }
      @font-face {
        font-family: 'Kazimir-Text';
        src:url('../fonts/kazimir/Kazimir-Text-Medium-Web.ttf');
      }
      @font-face {
        font-family: 'Kazimir-Text-Regular';
        src:url('../fonts/kazimir/KazimirText-Regular.ttf');
      }
      
      @media (max-width:576px){
        p {margin-bottom:0; font-size:3vw;}
        .flex-container {
          display:-webkit-box;display:-ms-flexbox;display:flex; 
          /* margin:10px 0;  */
          -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between;align-items: flex-start;
        /* padding:0 20px; */
        /* margin-left: 10px; */
        margin-bottom:10px;
        }
        .time {        
              
          font-size:6vw;
        
        }
        .schedule {font-family: 'Agipo-Regular'; line-height: 0.9;}
        .date {font-family: 'Kazimir-Text-Regular';}
        /* td {border-top: none !important; padding: 16px 8px 0px !important;} */
        .schedule,.date {font-size:6vw;}
        /* .classes {padding-left: 25px !important} */
        
        /* .professor {display:inline-block;} */
        
        img {width:10%;margin-top: 15px;}
        /* .table{width:90% !important} */
        .title {   font-family: 'Agipo-Bold';} 
        /* .room {color:#f00;} */
        h2 {margin-top: 0px; }
        b {font-weight:normal; opacity:0}
        .flex-container-img {display:flex;position:absolute; opacity:0;z-index:-1;
          top:0;width:100%;height:100%;background-color:rgb(20, 20, 20);
          justify-content:center;align-items: start;
          transition: opacity 1s ease-in;
        }
        .flex-container-pitb {
          display:flex;position:absolute; 
          opacity:0;
            top:11vh;width:100%;height:89%;background-color:rgb(20, 20, 20);
            justify-content:center;align-items: start;
            transition: opacity 1s ease-in;
        }
        .tr_pitb {
          height:8vh;
          font-size: 22px;
          vertical-align :baseline;
        }
        .flex-container-pitb .thead, .tr_pitb:not(:last-child) {
          border-bottom:1px rgba(255,255,255,0.5) solid;
        }
        .tr_pitb td {
            line-height:24px;  
        }
        .tr_pitb td:first-child {
              padding-right: 40px !important;
              min-width:150px;
              vertical-align :baseline;
              font-size:22px;
              font-family: 'Agipo-Regular';width: 17%;
        }
        
        .tr_pitb td:not(:first-child) {
            width:12vw; 
        }
        
        .flex-container-pitb .thead {
          font-size:22px;
          font-family: 'Agipo-Regular';
          
        }
          .flex-container-pitb .thead td {
            padding-bottom:10px !important;
          }
        
        .announcement {width:95%;margin:auto; background: rgb(20, 20, 20) solid}
        .red {color:#f00; border-color:#f00 !important;}
        .red_highlight {
          color:#f00; 
          border-color:#f00 !important;
          background-repeat: no-repeat;
          background-image: url('/highlighting.svg');
          background-position: 0px 0px;
          height: 70px;
        }

        .classNumber {
          padding-top: 19px !important;
          padding-left:0px !important;
        }
        .classNumberSpan {
          text-align: center;
          display: inline-block;
          width: 30px;
          height: 30px;
          border: 2px #fff solid;
          border-radius: 50%;
          vertical-align: text-bottom;
          font-size: 18px;
          font-family: 'Agipo-Bold';
        }
        #authorize_button {
          background: rgb(20, 20, 20);
          color: rgb(20, 20, 20);
          border: none;
          font-size: 0.5vw;
          z-index:999;
          position: absolute;
          top: 0;
        }
        #authorize_button:hover {
          cursor:pointer;
        }
        #authorize_button:focus {
          outline:none;
        }
      }
      
      p {margin-bottom:0; font-size:1.875vw;}
      .flex-container {
        display:-webkit-box;display:-ms-flexbox;display:flex; 
        /* margin:0.78vw 0;  */
        -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between;align-items: flex-start;
      /* padding:0 1.56vw; */
      /* margin-left: 0.78vw; */
      margin-bottom:0.78vw;
      }
      .time {        
            padding-left: 3.125vw !important;
                padding-right: 3.125vw !important;
                min-width:19.5vw;
        vertical-align :baseline;
        font-size:1.875vw;
      font-family: 'Agipo-Regular';width: 17%;
      text-align:center;
      }
      .schedule {font-family: 'Agipo-Regular'; line-height: 0.9;}
      .date {font-family: 'Kazimir-Text-Regular';}
      td {border-top: none !important; padding: 1.25vw 0.625vw 0px !important;}
      .schedule,.date {font-size:4.14vw;}
      .classes {padding-left: 1.95vw !important}
      
      /* .professor {display:inline-block;} */
      
      img {width:10%;margin-top: 1.17vw;}
      /* .table{width:90% !important} */
      .title {   font-family: 'Agipo-Bold';} 
      /* .room {color:#f00;} */
      h2 {margin-top: 0px; }
      b {font-weight:normal; opacity:0}
      .flex-container-img {display:flex;position:absolute; opacity:0;z-index:-1;
        top:0;width:100%;height:100%;background-color:rgb(20, 20, 20);
        justify-content:center;align-items: start;
        transition: opacity 1s ease-in;
      }
      .flex-container-pitb {
        display:flex;position:absolute; 
        opacity:0;
          top:11vh;width:100%;height:89%;background-color:rgb(20, 20, 20);
          justify-content:center;align-items: start;
          transition: opacity 1s ease-in;
      }
      .tr_pitb {
        height:8vh;
        font-size: 1.71vw;
        vertical-align :baseline;
      }
      .flex-container-pitb .thead, .tr_pitb:not(:last-child) {
        border-bottom:1px rgba(255,255,255,0.5) solid;
      }
      .tr_pitb td {
          line-height:1.875vw;  
      }
      .tr_pitb td:first-child {
            padding-right: 3.125vw !important;
            min-width:11.71vw;
            vertical-align :baseline;
            font-size:1.71vw;
            font-family: 'Agipo-Regular';width: 17%;
      }
      
      .tr_pitb td:not(:first-child) {
          width:12vw; 
      }
      
      .flex-container-pitb .thead {
        font-size:1.71vw;
        font-family: 'Agipo-Regular';
        
      }
        .flex-container-pitb .thead td {
          padding-bottom:0.78vw !important;
        }
      
      .announcement {width:95%;margin:auto; background: rgb(20, 20, 20) solid}
      .red {color:#f00; border-color:#f00 !important;}
      .red_highlight {
        color:#f00; 
        border-color:#f00 !important;
        background-repeat: no-repeat;
        background-image: url('/highlighting.svg');
        background-position: 0px 0px;
        height: 5.46vw;
      }

      .classNumber {
        padding-top: 1.48vw !important;
        padding-left:0px !important;
      }
      .classNumberSpan {
        text-align: center;
        display: inline-block;
        width: 2.34vw;
        height: 2.34vw;
        border: 2px #fff solid;
        border-radius: 50%;
        vertical-align: text-bottom;
        font-size: 1.4vw;
        font-family: 'Agipo-Bold';
      }
      #authorize_button {
        background: rgb(20, 20, 20);
        color: rgb(20, 20, 20);
        border: none;
        font-size: 0.5vw;
        z-index:999;
        position: absolute;
        top: 0;
      }
      #authorize_button:hover {
        cursor:pointer;
      }
      #authorize_button:focus {
        outline:none;
      }
body
    button(id="authorize_button") Auth
    //- video(muted id="htmlVideo" loop="loop" src="https://dl.dropboxusercontent.com/s/um7oa5ivklj9kli/%D0%AD%D1%80%D0%B8%D0%BA%D0%B0.webm?dl=0" style="position: absolute; width: 100%; height: auto;z-index: 199")
    .flex-container.header
      h2.schedule Schedule
      h2.date
    .flex-container.tablecontainer
      table.table
        tbody.tbody
      .flex-container-pitb
        table.table
          thead.thead
            td   
            td MON 
            td TUE 
            td WED
            td THU
            td FRI
            td SAT
          tbody.tbody
      //- img(src="../Image273.PNG")
        //- tr
        //-   td.time 8:00–9:30
        //-   td.class
        //-     p
        //-       span.class History (Grishin E. – 401 (Respubliki, 9)) RU
        //- tr
        //-   td.time 9:40–11:10
        //-   td.class
        //-     p
        //-       span.class History (Grishin E. – 401 (Respubliki, 9)) RU
        //-     p
        //-       span.class History (Grishin E. – 401 (Respubliki, 9)) RU
    .flex-container-img
      img.announcement
    
    script(src="https://apis.google.com/js/api.js")
    script(src="sas-schedule.bundle.js")    
    //script(src="https://apis.google.com/js/api.js" onload="this.onload=function(){};handleClientLoad()" onreadystatechange="if (this.readyState === 'complete') this.onload()")
    script.
      /* window.onload = function (){
        document.getElementById('htmlVideo').load();
        document.getElementById('htmlVideo').play();
        document.getElementById('htmlVideo').onended = function(){
        this.load();
        this.play();
        };
      } */
    script.
      
      
