doctype html
html
  head
    title SAS Schedule
    link(rel='stylesheet', href='//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css')
    // load bootstrap css
    style.
      body { 
        font-family: 'Kazimir-Text-Regular';
        font-smooth: always;
        -webkit-font-smoothing: antialiased;
      }
      @font-face {
        font-family: 'Agipo-Bold';
        src:url('../fonts/agipo/Agipo-Bold.woff');
      }
      @font-face {
        font-family: 'Agipo-Regular';
        src:url('../fonts/agipo/Agipo-Regular.woff');
      }
      @font-face {
        font-family: 'Kazimir-Text';
        src:url('../fonts/kazimir/Kazimir-Text-Medium-Web.ttf');
      }
      @font-face {
        font-family: 'Kazimir-Text-Regular';
        src:url('../fonts/kazimir/KazimirText-Regular.ttf');
      }
      p {margin-bottom:0; font-size:24px;}
      .flex-container {display:-webkit-box;display:-ms-flexbox;display:flex; margin:10px 0; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between;align-items: flex-start;
      padding:0 20px;margin-left: 10px;}
      .time {padding-right:100px; 
        vertical-align :baseline;
        font-size:30px;padding-left:0 !important;
      font-family: 'Kazimir-Text';width: 17%;}
      .schedule {font-family: 'Agipo-Regular';}
      .date {font-family: 'Kazimir-Text-Regular';}
      td {border-top: none !important;}
      .schedule,.date {font-size:40px;}
      .classes {padding-top: 11px !important}
      /* .professor {display:inline-block;} */
      img {width:10%;margin-top: 15px;}
      .table{width:90% !important}
      .title {  font-family: 'Agipo-Bold';}
      .room {color:#00f;}
      h2 {margin-top: 10px;}
      b {font-weight:normal; opacity:0}
      .flex-container-img {display:flex;position:absolute; opacity:0;z-index:99;
        top:0;width:100%;height:100%;background-color:#fff;
        justify-content:center;align-items: start;
        transition: opacity 0.8s ease-in;
      }
      .announcement {width:100%;}
body
    .flex-container
      h2.schedule Schedule
      h2.date November 14
    .flex-container
      table.table
        tbody.tbody
      img(src="../Image273.PNG")
        //- tr
        //-   td.time 8:00–9:30
        //-   td.class
        //-     p
        //-       span.class History (Grishin E. – 401 (Respubliki, 9)) RU
        //- tr
        //-   td.time 9:40–11:10
        //-   td.class
        //-     p
        //-       span.class History (Grishin E. – 401 (Respubliki, 9)) RU
        //-     p
        //-       span.class History (Grishin E. – 401 (Respubliki, 9)) RU
    .flex-container-img
      img.announcement
    script(src="../sas-schedule.bundle.js")

      
