body        { padding-top:20px;   font-family: 'Agipo-Bold';}
@font-face {
  font-family: 'Agipo-Bold';
  src:url('../fonts/agipo/Agipo-Bold.woff');
}
@font-face {
  font-family: 'Agipo-Regular';
  src:url('../fonts/agipo/Agipo-Regular.woff');
}
img {
  width:80%;
}
a {color:red;}
p {font-family: 'Agipo-Regular'; margin: 20px 0;}
.logo {padding-bottom:30px;padding-top:20px}
h2 {font-weight:800; margin-bottom:20px;}
.jumbotron h1 {
  font-size:36px;
  margin-bottom: 40px;
}
h3 {
  font-size: 1.5em;
  font-weight: 400;
}
.jumbotron{
  font-size:18px;
  line-height: initial;
      padding: 15px;
  padding-top: 0px;
  margin-bottom: 0px;
}
.container{
  width:98% !important;
}
.input-group{
  margin-bottom:20px;
}
.input-group label {
  font-family: "Agipo-Regular","Helvetica Neue",Helvetica,Arial,sans-serif;
  font-weight: 500;
  margin: 15px 0;
  font-size:20px;
  max-width: 90%;
}
.input-group .label__description {
  font-family:initial;
}
.input-group .form-control {
    margin: 0px 0 0px 0;
    width: 100%;
}
form {
  margin-top: 0px;
}
label,legend {
  text-align: left;
      float: left;
}
legend {font-size: 1.8em;}
input, textarea, select {
  float:left;
  width:75%;
  font-family: "Agipo-Regular","Helvetica Neue",Helvetica,Arial,sans-serif;
}

input[type="radio"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

  border-radius: 50%;
  width: 39px;
  height: 38px;

  border: 2px solid #999;
  transition: 0.2s all linear;
  outline: none;
  margin-right: 15px;

  position: relative;
  top:0;
  }
  input:focus {
    outline: none !important;
  }
  input:checked {
    border: 12px solid #f00;
    width: 38px;
    height: 37.5px;
  }

  .checkbox {
    width: 5% !important;
    height: 30px;
    margin-top: 14px !important;
  }

  input[type="checkbox"] {
    /* -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none; */

    width: 38px;
    height: 30px;

    border: 2px solid #999;
    transition: 0.2s all linear;
    outline: none;
    margin-right: 15px;

    position: relative;
    top:0;
    zoom:1.1;
    }

button:not(.button_vote) {
    background-color: #f00 !important;
    border: none !important;
  }
  .flex-container {display:flex; flex-direction:column; margin:20px 0;}
  .flex-container.row {flex-direction:row;}
  .flex-container_center {align-items: center;}

  @media (max-width: 768px) {

    body{padding-top:0px}
    .container{
    width:95%;
    }
  .input-group label {
    font-size: 20px;
    margin-bottom: 10px;
}
    input[type="checkbox"]{
      width: 20% !important;
      top:14px;
      zoom:1.1;
    }
    input[type="radio"]{
      top:14px;
    }
    button.btn-lg {
      font-size: 20px;
    }
    .jumbotron h1 {
      font-size:2em;
      margin-bottom: 40px;
    }
    h3 {
      font-size: 1.5em;
      font-weight: 400;
    }
    .jumbotron{
      font-size:20px;
      line-height: initial;
      padding-top: 0px;
    }
  }
  @media (max-width: 1024px) {
    button.btn-lg {
    font-size: 20px;
  }
  }
