body        { padding-top:20px;   font-family: 'Agipo-Bold';}
@font-face {
  font-family: 'Agipo-Bold';
  src:url('../fonts/agipo/Agipo-Bold.woff');
}
@font-face {
  font-family: 'Agipo-Regular';
  src:url('../fonts/agipo/Agipo-Regular.woff');
}
img {
  width:80%;
}
a {color:red;}
p {font-family: 'Agipo-Regular'; margin: 20px 0;}
.logo {padding-bottom:30px;padding-top:20px}
h2 {font-weight:800; margin-bottom:20px;}
.jumbotron h1 {
  font-size:36px;
  margin-bottom: 40px;
}
ul,ol {
  font-family: 'Agipo-Regular';
  margin-top: 40px;
  margin-bottom: 40px;
}
h3 {
  font-size: 1.5em;
  font-weight: 400;
  margin-bottom: 20px;
}
.left {
  text-align:left;
}
.jumbotron{
  font-size:18px;
  line-height: initial;
  padding-top: 0px;
}
.container{
  width:98% !important;
}
.input-group{
  margin-bottom:20px;
  width: 100%;
}

.slider.slider-horizontal {
    width: 84%;
    height: 20px;
    margin: 21px 10px 100px !important;
}

/* for the Courses page */
#input-group {width: 100%;}
#input-group .form-control {width: 100%;}
/* for the Courses page */

.input-group label {
  font-family: "Agipo-Regular","Helvetica Neue",Helvetica,Arial,sans-serif;
  font-weight: 500;
  margin: 15px 0;
  font-size:20px;
  max-width: 90%;
  min-width: 75%;
}
.input-group .label__description {
  font-family:initial;
}
.input-group .form-control {
  margin: 20px 0 30px 0;
  width:75%;
}
form {
  margin-top: 30px;
}
label,legend {
  text-align: left;
      float: left;
}
legend {font-size: 1.8em;}
input, textarea, select {
  float:left;
  width:80%;
  font-family: "Agipo-Regular","Helvetica Neue",Helvetica,Arial,sans-serif;
}

input[type="radio"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

  border-radius: 50%;
  width: 39px;
  height: 38px;

  border: 2px solid #999;
  transition: 0.2s all linear;
  outline: none;
  margin-right: 15px;

  position: relative;
  top: 7px;
  }
  input:focus {
    outline: none !important;
  }
  input:checked {
    border: 12px solid #f00;
    width: 38px;
    height: 37.5px;
  }

  .checkbox {
    width: 5% !important;
    height: 30px;
    margin-top: 14px !important;
  }

  input[type="checkbox"] {
    /* -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none; */

    width: 38px;
    height: 38px;

    border: 2px solid #999;
    transition: 0.2s all linear;
    outline: none;
    margin-right: 15px;

    position: relative;
    top:0;
    zoom:1.1;
    }

button[type="submit"] {
    background-color: #f00 !important;
    border: none !important;
  }
  .flex-container {display:flex; flex-direction:column; margin:20px 0; min-width: 51%;}
  .flex-container.row {flex-direction:row;}
  .flex-container_center {align-items: center;}

  .border-bottom {
    border-bottom: 2px black solid;
  }
  .social li {
    display:inline-block;
  }

  .social li a {
    border:none;
  }

  [class^="icon-"]::before, [class*=" icon-"]::before {
      font-family: "fontello";
      font-style: normal;
      font-weight: normal;
      speak: none;
      display: inline-block;
      text-decoration: inherit;
      width: 1em;
      margin-right: .2em;
      text-align: center;
      font-variant: normal;
      text-transform: none;
      line-height: 1em;
      margin-left: .2em;
      font-size:50px;
    }
    .icon-facebook:before {
        content: '\f30c';
      }
      .icon-vkontakte:before {
        content: '\f189';
      }
      .icon-instagram:before {
        content: '\f32d';
      }
      .icon-youtube:before {
        content: '\f167';
      }

  @media (max-width: 1024px) {

    body{padding-top:10px}
    .container{
    width:95%;
    }
  .input-group  label {
    font-size:40px ;
    margin-bottom:20px;
    }
    input[type="checkbox"]{
      top:14px;
      zoom:1.1;
    }
    input[type="radio"]{
      top:14px;
    }
    button.btn-lg {
      font-size: 40px;
    }
    .jumbotron h1 {
      font-size:1.75em;
      margin-bottom: 40px;
    }
    h3 {
      font-size: 1.25em;
      font-weight: 400;
    }
    .jumbotron{
      font-size:40px;
      line-height: initial;
      padding-top: 0px;
    }

    .slider.slider-horizontal {
    width: 84%;
    height: 20px;
    margin: 21px 10px 200px !important;
  }
  .slider.slider-horizontal .slider-tick-label-container {
    white-space: nowrap;
    margin-top: 20px;
    font-size: 30px;
}
  }
