doctype html
head
  title Выбор элективов, 2-й модуль, 1-й этап
  link(rel='stylesheet', href='//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css')
  // load bootstrap css
  style.
    body        { padding-top:20px;   font-family: 'Agipo-Bold';}
    @font-face {
      font-family: 'Agipo-Bold';
      src:url('fonts/agipo/Agipo-Bold.woff'); 
    }
    .jumbotron h1 {
      font-size:36px;
      margin-bottom: 40px;
    }
    .jumbotron{
      font-size:18px;
      line-height: initial;
    }
    .container{
      width:98% !important;
    }
    .input-group{
      margin-bottom:20px;
    }
    .input-group label {
      width:95%;
      font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
      font-weight: 500;
      margin: 10px 0;
      font-size:20px;
    }
    .input-group .form-control {
      margin: 20px 0 40px 0;
      width:75%;
    }
    form {
      margin-top: 30px;
    }
    label,legend {
      text-align: left;
    }
    input, textarea, select {
      float:left;
      width:75%;
      font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    }

    input[type="radio"] {
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;

      border-radius: 50%;
      width: 26px;
      height: 26px;

      border: 2px solid #999;
      transition: 0.2s all linear;
      outline: none;
      margin-right: 15px;

      position: relative;
      top: 5px;
      }
      input:focus {
        outline: none !important;
      }
      input:checked {
        border: 9px solid #00f;
      }
      button {
        background-color: #00f !important;
      }


      @media (max-width: 1024px) {

        body{padding-top:10px}
        .container{
          width:95%;
        }
      .input-group  label {
        width:90%;
        font-size:30px ;
        margin-bottom:20px;
        }
        input[type="radio"]{
          top:13px;
        }
        button.btn-lg {
          font-size: 30px;
        }
      }
.container
  .jumbotron.text-center
    h1 Выбор элективов во втором учебном модуле Школы. Выберите по одному элективу из каждого списка, в порядке убывания приоритетности (первый список — наиболее приоритетный для вас электив).
    form(action="/polls/2nd-module-electives" method="post")
      h3 1-й приоритет
      div(class="input-group")
        input(type="radio" value="Энн Малхолл" name="elective1" id="Энн Малхолл")
        label(for="Энн Малхолл") Après ’68: An Introduction to Contemporary French Theory (английский язык) — Энн Малхолл
        input(type="radio" value="Евгений Гришин" name="elective1" id="Евгений Гришин") 
        label(for="Евгений Гришин") История российских религий (русский язык) — Евгений Гришин
        input(type="radio" value="Сурендра Бхандари" name="elective1" id="Сурендра Бхандари")
        label(for="Сурендра Бхандари") International Law (английский язык) — Сурендра Бхандари
        input(type="radio" value="Елена Арбатская" name="elective1" id="Елена Арбатская") 
        label(for="Елена Арбатская") Современные медиа: контент и эстетика (русский язык) — Елена Арбатская
        input(type="radio" value="Закари Рейна" name="elective1" id="Закари Рейна") 
        label(for="Закари Рейна") Nietzsche: Beyond Good and Evil and the Death of God (английский язык) — Закари Рейна
        input(type="radio" value="Томаш Блушевич" name="elective1" id="Томаш Блушевич") 
        label(for="Томаш Блушевич") The Geopolitics of Energy. Past, Present and Future (английский язык) — Томаш Блушевич
        input(type="radio" value="Луи Вервурт" name="elective1" id="Луи Вервурт")
        label(for="Луи Вервурт") The Problem of Free Will: When Philosophy Meets Modern Science (английский язык) — Луи Вервурт
        input(type="radio" value="Наталья Савельева" name="elective1" id="Наталья Савельева") 
        label(for="Наталья Савельева") Почему мы верим? (русский язык) — Наталья Савельева
        input(type="radio" value="Таисья Погодаева" name="elective1" id="Таисья Погодаева") 
        label(for="Таисья Погодаева") Введение в теорию экономического роста (русский язык) — Таисья Погодаева
      h3 2-й приоритет
      div(class="input-group")
        input(type="radio" value="Энн Малхолл" name="elective2" id="Энн Малхолл")
        label(for="Энн Малхолл") Après ’68: An Introduction to Contemporary French Theory (английский язык) — Энн Малхолл
        input(type="radio" value="Евгений Гришин" name="elective2" id="Евгений Гришин") 
        label(for="Евгений Гришин") История российских религий (русский язык) — Евгений Гришин
        input(type="radio" value="Сурендра Бхандари" name="elective2" id="Сурендра Бхандари")
        label(for="Сурендра Бхандари") International Law (английский язык) — Сурендра Бхандари
        input(type="radio" value="Елена Арбатская" name="elective2" id="Елена Арбатская") 
        label(for="Елена Арбатская") Современные медиа: контент и эстетика (русский язык) — Елена Арбатская
        input(type="radio" value="Закари Рейна" name="elective2" id="Закари Рейна") 
        label(for="Закари Рейна") Nietzsche: Beyond Good and Evil and the Death of God (английский язык) — Закари Рейна
        input(type="radio" value="Томаш Блушевич" name="elective2" id="Томаш Блушевич") 
        label(for="Томаш Блушевич") The Geopolitics of Energy. Past, Present and Future (английский язык) — Томаш Блушевич
        input(type="radio" value="Луи Вервурт" name="elective2" id="Луи Вервурт")
        label(for="Луи Вервурт") The Problem of Free Will: When Philosophy Meets Modern Science (английский язык) — Луи Вервурт
        input(type="radio" value="Наталья Савельева" name="elective2" id="Наталья Савельева") 
        label(for="Наталья Савельева") Почему мы верим? (русский язык) — Наталья Савельева
        input(type="radio" value="Таисья Погодаева" name="elective2" id="Таисья Погодаева") 
        label(for="Таисья Погодаева") Введение в теорию экономического роста (русский язык) — Таисья Погодаева
      h3 3-й приоритет
      div(class="input-group")
        input(type="radio" value="Энн Малхолл" name="elective3" id="Энн Малхолл")
        label(for="Энн Малхолл") Après ’68: An Introduction to Contemporary French Theory (английский язык) — Энн Малхолл
        input(type="radio" value="Евгений Гришин" name="elective3" id="Евгений Гришин") 
        label(for="Евгений Гришин") История российских религий (русский язык) — Евгений Гришин
        input(type="radio" value="Сурендра Бхандари" name="elective3" id="Сурендра Бхандари")
        label(for="Сурендра Бхандари") International Law (английский язык) — Сурендра Бхандари
        input(type="radio" value="Елена Арбатская" name="elective3" id="Елена Арбатская") 
        label(for="Елена Арбатская") Современные медиа: контент и эстетика (русский язык) — Елена Арбатская
        input(type="radio" value="Закари Рейна" name="elective3" id="Закари Рейна") 
        label(for="Закари Рейна") Nietzsche: Beyond Good and Evil and the Death of God (английский язык) — Закари Рейна
        input(type="radio" value="Томаш Блушевич" name="elective3" id="Томаш Блушевич") 
        label(for="Томаш Блушевич") The Geopolitics of Energy. Past, Present and Future (английский язык) — Томаш Блушевич
        input(type="radio" value="Луи Вервурт" name="elective3" id="Луи Вервурт")
        label(for="Луи Вервурт") The Problem of Free Will: When Philosophy Meets Modern Science (английский язык) — Луи Вервурт
        input(type="radio" value="Наталья Савельева" name="elective3" id="Наталья Савельева") 
        label(for="Наталья Савельева") Почему мы верим? (русский язык) — Наталья Савельева
        input(type="radio" value="Таисья Погодаева" name="elective3" id="Таисья Погодаева") 
        label(for="Таисья Погодаева") Введение в теорию экономического роста (русский язык) — Таисья Погодаева
      button(type="submit" class="btn btn-primary btn-lg") Отправить
