  doctype html
head
  title Выбор курса у Сурендры Бхандари
  link(rel='stylesheet', href='//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css')
  // load bootstrap css
  style.
    body        { padding-top:20px;   font-family: 'Agipo-Bold';}
    @font-face {
      font-family: 'Agipo-Bold';
      src:url('../fonts/agipo/Agipo-Bold.woff');
    }
    .jumbotron h1 {
      font-size:36px;
      margin-bottom: 40px;
    }
    .jumbotron{
      font-size:18px;
      line-height: initial;
    }
    .container{
      width:98% !important;
    }
    .input-group{
      margin-bottom:20px;
    }
    .input-group label {
      width:85%;
      font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
      font-weight: 500;
      margin: 10px 0;
      font-size:20px;
    }
    .input-group .label__description {
      font-family:initial;
    }
    .input-group .form-control {
      margin: 20px 0 40px 0;
      width:75%;
    }
    form {
      margin-top: 30px;
    }
    label,legend {
      text-align: left;
    }
    input, textarea, select {
      float:left;
      width:75%;
      font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    }

    input[type="radio"] {
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;

      border-radius: 50%;
      width: 38px;
      height: 38px;

      border: 2px solid #999;
      transition: 0.2s all linear;
      outline: none;
      margin-right: 15px;

      position: relative;
      top:3px;
      }
      input:focus {
        outline: none !important;
      }
      input:checked {
        border: 12px solid #00f;
      }
      button {
        background-color: #00f !important;
      }


      @media (max-width: 1024px) {

        body{padding-top:10px}
        .container{
        width:95%;
        }
      .input-group  label {
        width:85%;
        font-size:30px ;
        margin-bottom:20px;
        }
        input[type="radio"]{
          top:5px;
        }
        button.btn-lg {
          font-size: 30px;
        }
      }
.container
  .jumbotron.text-center
    h1 Выбор курса у Сурендры Бхандари
    form(action="/polls/2nd-module-surendra" method="post")
      div(class="input-group")
        input(type="radio" value="Russia in Global Governance and Policy Making" name="2module__surendra" id="Russia in Global Governance and Policy Making")
        label(for="Russia in Global Governance and Policy Making") 
          h2 Russia in Global Governance and Policy Making
          p(class="label__description") Historically, Russia has been one of the world’s most powerful states. In the post-war era too, Russia has been asserting its leadership role in shaping contemporary global issues. Russia’s role is especially important as one of the permanent members of the UN Security Council with veto power. The role of Russia in the Cold War era as well as in the post-Cold War era is distinctly noticeable in policy making and governance in the world stage. 
            This course offers students an opportunity to study and analyze Russia’s global presence, including exercising its role in influencing global governance and global policies, particularly in the areas of Peace and Security, Economic Governance, Regional Governance, and Multilateral Governance. Further, this course also offers an opportunity to analyze the future prospects and roles of Russia focusing on how Russia would prioritize global governance. The course also assesses the implications of the rise of China and India for Russia. 
        input(type="radio" value="States, Societies and Governance" name="2module__surendra" id="States, Societies and Governance")
        label(for="States, Societies and Governance") 
            h2 States, Societies and Governance
            p(class="label__description") We all live in a state. Nevertheless, without clearly appreciating the state’s growth, power, vulnerabilities, apparatuses, modus operandi (operational modality) and interactions with society, we interact with the state. Since the Liberal Arts education aims to produce students well rounded on interdisciplinary issues, this course introduces the concept, structure, and functionality of states and their inter-relationships with societies from the lens of governance. 
            p(class="label__description") This course analyzes good governance in Russia utilizing the nine parameters of good governance as identified by the United Nations. These nine features are: Participation, the Rule of Law, Transparency, Responsiveness, Consensus Orientation, Equity, Effectiveness and Efficiency, Accountability, and Strategic Vision. This course also helps students to better understand and compare states around the world. 
        input(type="radio" value="Civil Societies and the Construction of Social Reality" name="2module__surendra" id="Civil Societies and the Construction of Social Reality")
        label(for="Civil Societies and the Construction of Social Reality") 
            h2 Civil Societies and the Construction of Social Reality
            p(class="label__description") The global growth of civil society, especially the Non-Governmental Organizations (NGOs) and International Non-Governmental Organizations (INGOs), has become a conspicuous social and political phenomenon. Their engagement and influence is not simply limited to becoming development partner; they have also been able to expand their influence into the core areas of state, such as human rights, law and policy making, reform of the legal system, access to justice, election system, peace building, security, democracy, and good governance among others. 
            p(class="label__description") This course will also focus on how the roles of civil society organizations and their strategic engagement as advocacy agencies, research and think tank institutions, donors, and partners construct social reality. It will study the growth and role of civil society in Russia as well. The term civil society organization (CSO) covers almost all non-state actors, including media.  Students will be taught to understand and appreciate the roles of NGOs and INGOs, including how they design, implement, and evaluate projects. This course also assesses the overall impact of civil society in good governance and deepening democracy. 
        input(type="radio" value="North-South Dichotomies and Globalization" name="2module__surendra" id="North-South Dichotomies and Globalization")
        label(for="North-South Dichotomies and Globalization") 
            h2 North-South Dichotomies and Globalization 
            p(class="label__description") The ways countries are categorized may seem arbitrary. Terms such as: Civilized, Semi-Civilized, and Non-Civilized countries; First World, Second World, and Third World; East and West; and North and South are some of the key terms to place countries into different categories and have also shaped global issues accordingly. Some of these terms are gradually becoming obsolete. Others, such as East-West and North-South, are still in fashion. East denotes to Russia and China; whereas the US and its allies represent the West. The North indicates the rich and powerful countries, primarily led by the US and its allies; the South indicates developing and the least-developed countries.  Where do the countries like Russia and China belong to? 
            p(class="label__description") This course examines how these concepts were developed, the context or the background in which they arose, how these concepts have divided the world, and how they have changed the global social and political landscape. It further analyzes that how globalization has become possible within such a highly fragmented world. Has globalization changed how these concepts are understood? Or, has globalization been influenced by these concepts? How is globalization providing opportunities and challenges to the North and South? In specific, how is Russia assuming its roles during the rapid growth of globalization? What are the future possibilities of the North-South dichotomies?
        input(type="radio" value="Human Rights and Free Will" name="2module__surendra" id="Human Rights and Free Will")
        label(for="Human Rights and Free Will") 
            h2 Human Rights and Free Will 
            p(class="label__description") In our modern world, human rights have become one of the most important constituents of personal and social identity. Moreover, human rights have helped institute the core universal values of democracy and good governance. Thus, human rights have been guaranteed both at the domestic and global levels. However, the guarantee and protection of human rights vastly differs from country to country. For example, the US guarantees political rights under the International Covenant on Civil and Political Rights (ICCPR); whereas, the US does not guarantee social, cultural, and economic rights under the International Covenant on Economic, Social, and Cultural Rights (ICESCR). On the other hand, in China, these guarantees are just reversed. 
            p(class="label__description") This course introduces the students with the basic ideas and concept of human rights, its growth, and the protection mechanism at the international and domestic levels. It also examines the state of human rights protection in Russia. Further, this course assesses the link between human rights and free will. Since free will is one of the key components of Liberal Arts education, students will benefit from this course by understanding the human rights regime and the intersection of free will with human rights. 
        input(type="radio" value="Research Methodology: Facts v. Value" name="2module__surendra" id="Research Methodology: Facts v. Value")
        label(for="Research Methodology: Facts v. Value") 
            h2 Research Methodology: Facts v. Value
            p(class="label__description") We, both students and faculties, are constantly in search of knowledge. In its simplest form, knowledge is the distilled information. In everyday life, we receive two types of information: Facts and Values. Values are personal beliefs, expectations, preferences, dislikes, emotions, etc. Facts, on the other hand, are observable, predictable, and verifiable information. In other words, we are searching for knowledge that is based on facts. Research methodology is a tool that teaches students how they can search for factual knowledge: Observable, predictable, and verifiable knowledge. It is useful for students to understand and appreciate the basic tools of research, write a paper, use tools and methods of citation, and prepare a bibliography. Consequently, it also helps students to avoid plagiarism. 
            p(class="label__description") This course introduces students to the basic framework of qualitative, quantitative, and mixed types of research. It also provides them with the knowledge of writing a research proposal, finding a research question, designing a research plan, formulating questionnaire, collecting data, analyzing data, and interpreting data.
        input(type="radio" value="Freedom and Development" name="2module__surendra" id="Freedom and Development")
        label(for="Freedom and Development") 
            h2 Freedom and Development
            p(class="label__description") This course analyzes the idea developed by Amartya Sen, a philosopher and Nobel Laureate in economics. One of the key arguments of Amartya Sen is that without freedom, development is only partial. Economic growth alone is not sufficient for well-rounded development. Freedom constitutes of the institutional and individual capacity to engage freely in society. Lack of freedom constitutes deprivation that reduces the chances of human empowerment. Therefore, Amartya Sen argues that overcoming the problems of deprivation is central to development. He concedes that the freedom of agency that we individually have is qualified and constrained by social, political, and economic opportunities. Therefore, enlarging these opportunities should be the core role of development according to Sen.
            p(class="label__description") This course discusses and analyzes Sen’s idea of “Development as Freedom” with examples from several countries, including Russia. This course investigates the relationships between the free individual agency and social arrangements. Further it examines under what conditions individual freedom can remove unfreedoms that leave people with less choices and less opportunities to exercise reasoned agencies. This course also closely examines the idea of free will from the perspectives of freedom and development.
        input(type="radio" value="Human Development Reports" name="2module__surendra" id="Human Development Reports")
        label(for="Human Development Reports") 
            h2 Human Development Reports
            p(class="label__description") Since 1990, the United Nations Development Program (UNDP) has been annually publishing Human Development Reports (HDRs). It has published more than 25 HDRs, all of which are available on http://hdr.undp.org/en/global-reports. These reports are produced with intensive research and have covered important global issues such as: Measuring human development (1990), people’s participation (1993), gender and human development (1995), economic growth and human development (1996), globalization with human face (1999), human rights and human development (2000), deepening democracy (2002), cultural liberty (2004), overcoming barriers (2009), the real wealth of nations (2010), the rise of South (2013), and human development for everyone (2015).
            p(class="label__description") Each lecture will be dedicated to a single report. At the end of the course, students will be acquainted with the major global issues addressed by the reports.  Though reading every single report in a single module is not possible, students are suggested to read at least the executive summaries of the reports.  
      button(type="submit" class="btn btn-primary btn-lg") Отправить
