doctype html
head
  title Численные методы: выбор траектории
  link(rel='stylesheet', href='//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css')
  // load bootstrap css
  style.
    body        { padding-top:20px;   font-family: 'Agipo-Bold';}
    @font-face {
      font-family: 'Agipo-Bold';
      src:url('../fonts/agipo/Agipo-Bold.woff');
    }
    .jumbotron h1 {
      font-size:36px;
      margin-bottom: 40px;
    }
    .jumbotron{
      font-size:18px;
      line-height: initial;
    }
    .container{
      width:98% !important;
    }
    .input-group{
      margin-bottom:20px;
    }
    .input-group label {
      width:85%;
      font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
      font-weight: 500;
      margin: 10px 0;
      font-size:30px;
    }
    .input-group .form-control {
      margin: 20px 0 40px 0;
      width:75%;
    }
    form {
      margin-top: 30px;
    }
    label,legend {
      text-align: left;
    }
    input, textarea, select {
      float:left;
      width:75%;
      font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    }

    input[type="radio"] {
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;

      border-radius: 50%;
      width: 38px;
      height: 38px;

      border: 2px solid #999;
      transition: 0.2s all linear;
      outline: none;
      margin-right: 15px;

      position: relative;
      top:3px;
      }
      input:focus {
        outline: none !important;
      }
      input:checked {
        border: 12px solid #00f;
      }
      button {
        background-color: #00f !important;
      }


      @media (max-width: 1024px) {

        body{padding-top:10px}
        .container{
        width:95%;
        }
      .input-group  label {
        width:85%;
        font-size:30px ;
        margin-bottom:20px;
        }
        input[type="radio"]{
          top:5px;
        }
        button.btn-lg {
          font-size: 30px;
        }
      }
.container
  .jumbotron.text-center
    h1 Выбор траектории по курсу "Численные методы" в третьем учебном модуле Школы.
    form(action="/polls/2nd-module-quantitative-methods" method="post")
      div(class="input-group")
        input(type="radio" value="1" name="quantitative_methods" id="1")
        label(for="1") Траектория 1
        input(type="radio" value="2" name="quantitative_methods" id="2")
        label(for="2") Траектория 2
      button(type="submit" class="btn btn-primary btn-lg") Отправить
