doctype html
head
  title Выбор элективов 4-го модуля
  link(rel='stylesheet', href='//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css')
  // load bootstrap css
  style.
    body        { padding-top:20px;   font-family: 'Agipo-Bold';}
    @font-face {
      font-family: 'Agipo-Bold';
      src:url('../fonts/agipo/Agipo-Bold.woff');
    }
    img {
      width:100%;
    }
    .logo {padding-bottom:30px}
    h2 {font-weight:800; margin-bottom:20px;}
    .jumbotron h1 {
      font-size:36px;
      margin-bottom: 40px;
    }
    h3 {
      font-size: 1.5em;
      font-weight: 400;
    }
    .jumbotron{
      font-size:18px;
      line-height: initial;
    }
    .container{
      width:98% !important;
    }
    .input-group{
      margin-bottom:20px;
    }
    .input-group label {
      font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
      font-weight: 500;
      margin: 10px 0;
      font-size:20px;
      width:93%;
    }
    .input-group .label__description {
      font-family:initial;
    }
    .input-group .form-control {
      margin: 20px 0 40px 0;
      width:75%;
    }
    form {
      margin-top: 30px;
    }
    label,legend {
      text-align: left;
          float: left;
    }
    legend {font-size: 1.8em;}
    input, textarea, select {
      float:left;
      width:75%;
      font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    }

    input[type="radio"] {
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;

      border-radius: 50%;
      width: 38px;
      height: 38px;

      border: 2px solid #999;
      transition: 0.2s all linear;
      outline: none;
      margin-right: 15px;

      position: relative;
      top:6px;
      }
      input:focus {
        outline: none !important;
      }
      input:checked {
        border: 12px solid #00f;
      }
      button {
        background-color: #00f !important;
      }
      
      .label_desc {
        font-size:15px;
        margin-top:10px;
      }


      @media (max-width: 1024px) {

        body{padding-top:10px}
        .container{
        width:95%;
        }
      .input-group  label {
        font-size:30px ;
        margin-bottom:20px;
        }
        input[type="radio"]{
          top:6px;
        }
        button.btn-lg {
          font-size: 30px;
        }
        .label_desc {
          font-size:20px;
        }
      }
.container
  .jumbotron.text-center
    .logo
      a(href="https://sas.utmn.ru")
        img(src="../assets/Logo__blue.png")
    h1 Выбор элективов на 4-й модуль. Форма выбора доступна до 23 марта, 20:00.
    form(action="/polls/3rd-module-electives" method="post")
      h3 1-й приоритет
      div(class="input-group")
        input(type="radio" value="Anne Mulhall" name="elective1" id="Anne Mulhall ")
        label(for="Anne Mulhall") Work Stories — Anne Mulhall 
        input(type="radio" value="Duskin Drum" name="elective1" id="Duskin Drum") 
        label(for="Duskin Drum") Performance in Tyumen — Duskin Drum
        input(type="radio" value="Surendra Bhandari" name="elective1" id="Surendra Bhandari")
        label(for="Surendra Bhandari") The United Nations and Its Role in the Global Political Landscape — Surendra Bhandari
        input(type="radio" value="John Tangney" name="elective1" id="John Tangney") 
        label(for="John Tangney") Memories, Dreams, Confessions: Writing the Inner Life — John Tangney
        input(type="radio" value="Oleg Zhuravlev" name="elective1" id="Oleg Zhuravlev") 
        label(for="Oleg Zhuravlev") When Something Happens to Us. Introduction to Sociology of the Event — Oleg Zhuravlev
        input(type="radio" value="Elena Arbatskaya" name="elective1" id="Elena Arbatskaya") 
        label(for="Elena Arbatskaya") Проектирование медиа — Elena Arbatskaya. 
          div(class="label_desc") Мы разберем универсальные методы и приемы генерации и отбора идей, создания концепций, анализа рисков, бюджетирования, создания прототипов. Также мы изучим специфику медиапроектов. Параллельно вы будете работать над концепциями и пилотными выпусками собственных медиа.  Финальная оценка будет состоять из оценок за участие, тест, текст концепции и пилотный медиапроект. Преподаватель имеет опыт создания и перезапуска медиапроектов. 
        input(type="radio" value="Oksana Bulgakowa" name="elective1" id="Oksana Bulgakowa")
        label(for="Oksana Bulgakowa") Film Analysis — Oksana Bulgakowa
        input(type="radio" value="Giacomo Andreoletti" name="elective1" id="Giacomo Andreoletti") 
        label(for="Giacomo Andreoletti") Time Travel and Philosophy of Time — Giacomo Andreoletti
      h3 2-й приоритет
      div(class="input-group")
        input(type="radio" value="John Tangney" name="elective2" id="John Tangney2")
        label(for="John Tangney2") An Imperial Affliction: Depression in Literature (English) — John Tangney
        input(type="radio" value="Anil Aba" name="elective2" id="Anil Aba2") 
        label(for="Anil Aba2") History of Economic Thought (English) — Anil Aba
        input(type="radio" value="Surendra Bhandari" name="elective2" id="Surendra Bhandari2")
        label(for="Surendra Bhandari2") Human Rights and Free Will (English) — Surendra Bhandari
        input(type="radio" value="Almir Pepato, Pavel Klimov" name="elective2" id="Almir Pepato, Pavel Klimov2") 
        label(for="Almir Pepato, Pavel Klimov2") Introduction to phylogenetic inference based on molecular data (English) — Almir Pepato, Pavel Klimov
        input(type="radio" value="Svetlana Erpyleva" name="elective2" id="Svetlana Erpyleva2") 
        label(for="Svetlana Erpyleva2") Individual and Society: Socialization, Education, Violence (Russian) — Svetlana Erpyleva
        input(type="radio" value="Maxim Alyukov" name="elective2" id="Maxim Alyukov2") 
        label(for="Maxim Alyukov2") Political Communication (Russian) — Maxim Alyukov
        input(type="radio" value="Natalia Savelyeva, Svetlana Erpyleva" name="elective2" id="Natalia Savelyeva, Svetlana Erpyleva2")
        label(for="Natalia Savelyeva, Svetlana Erpyleva2") Qualitative Methods in Social Science (Russian) — Natalia Savelyeva, Svetlana Erpyleva
        input(type="radio" value="Ruslan Gasseev" name="elective2" id="Ruslan Gasseev2") 
        label(for="Ruslan Gasseev2") IT Security (Russian) — Ruslan Gasseev
      h3 3-й приоритет
      div(class="input-group")
        input(type="radio" value="John Tangney" name="elective3" id="John Tangney3")
        label(for="John Tangney3") An Imperial Affliction: Depression in Literature (English) — John Tangney
        input(type="radio" value="Anil Aba" name="elective3" id="Anil Aba3") 
        label(for="Anil Aba3") History of Economic Thought (English) — Anil Aba
        input(type="radio" value="Surendra Bhandari" name="elective3" id="Surendra Bhandari3")
        label(for="Surendra Bhandari3") Human Rights and Free Will (English) — Surendra Bhandari
        input(type="radio" value="Almir Pepato, Pavel Klimov" name="elective3" id="Almir Pepato, Pavel Klimov3") 
        label(for="Almir Pepato, Pavel Klimov3") Introduction to phylogenetic inference based on molecular data (English) — Almir Pepato, Pavel Klimov
        input(type="radio" value="Svetlana Erpyleva" name="elective3" id="Svetlana Erpyleva3") 
        label(for="Svetlana Erpyleva3") Individual and Society: Socialization, Education, Violence (Russian) — Svetlana Erpyleva
        input(type="radio" value="Maxim Alyukov" name="elective3" id="Maxim Alyukov3") 
        label(for="Maxim Alyukov3") Political Communication (Russian) — Maxim Alyukov
        input(type="radio" value="Natalia Savelyeva, Svetlana Erpyleva" name="elective3" id="Natalia Savelyeva, Svetlana Erpyleva3")
        label(for="Natalia Savelyeva, Svetlana Erpyleva3") Qualitative Methods in Social Science (Russian) — Natalia Savelyeva, Svetlana Erpyleva
        input(type="radio" value="Ruslan Gasseev" name="elective3" id="Ruslan Gasseev3") 
        label(for="Ruslan Gasseev3") IT Security (Russian) — Ruslan Gasseev
      button(type="submit" class="btn btn-primary btn-lg") Отправить
