doctype html
html
  head
    title Feedback
    link(rel='stylesheet', href='//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css')
    // load bootstrap css
    style.
      body        { padding-top:20px;   font-family: 'Agipo-Bold';}
      @font-face {
        font-family: 'Agipo-Bold';
        src:url('../fonts/agipo/Agipo-Bold.woff');
      }
      img {
        width:80%;
        margin-top:10px;
      }
      .logo {padding-bottom:30px}
      h2 {font-weight:800; margin-bottom:20px;}
      .jumbotron h1 {
        font-size:36px;
        margin-bottom: 40px;
      }
      h3 {
        font-size: 1.5em;
        font-weight: 400;
      }
      .jumbotron{
        font-size:18px;
        line-height: initial;
        padding-top: 0px;
      }
      .container{
        width:98% !important;
      }
      .input-group{
        margin-bottom:20px;
      }
      .input-group label {
        font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
        font-weight: 500;
        margin: 10px 0;
        font-size:20px;
        width:93%;
      }
      .input-group .label__description {
        font-family:initial;
      }
      .input-group .form-control {
        margin: 20px 0 40px 0;
        width:75%;
      }
      form {
        margin-top: 30px;
      }
      label,legend {
        text-align: left;
            float: left;
      }
      legend {font-size: 1.8em;}
      input, textarea, select {
        float:left;
        width:75%;
        font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
      }

      input[type="radio"] {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;

        border-radius: 50%;
        width: 38px;
        height: 38px;

        border: 2px solid #999;
        transition: 0.2s all linear;
        outline: none;
        margin-right: 15px;

        position: relative;
        top:0;
        }
        input:focus {
          outline: none !important;
        }
        input:checked {
          border: 12px solid #00f;
        }
        button {
          background-color: #00f !important;
          border: none !important;
        }
        .flex-container {display:flex; flex-direction:column; margin:10px 0;}
        .flex-container.row {flex-direction:row;}

        @media (max-width: 1024px) {

          body{padding-top:10px}
          .container{
          width:95%;
          }
        h1,h3 {font-size:60px !important;}
      .input-group  label {
        font-size:40px ;
        margin-bottom:20px;
        }
        input[type="checkbox"]{
          top:6px;
        }
        button.btn-lg {
          font-size: 30px;
        }
        }
body
  .container
    .jumbotron.text-center
      .logo
        a(href="https://sas.utmn.ru")
          img(src="/assets/logo_sas_ut_short-01.svg")
      h1 Обратная связь. Актуальные мировые проблемы. 2 модуль. (Пожалуйста, отвечайте на английском языке)

      form(action="/polls/ba-2019-year1-module3-gi" method="post")
        fieldset
          h2 ЛЕКЦИИ
          h2 Dr. Judith Schleicher — “Sustainability and the intersection of social and environmental issues”.
          div(class="input-group")
            .flex-container
              label(for="Насколько новым для вас было содержание лекций1") Насколько новым для вас было содержание лекций? Оцените по шкале от 1 до 10, где 1 – я не узнал ничего нового; 6 – 50% материала было для меня новым; 10 – все, о чем говорилось, я слышал впервые.
              input(type="number" required="required" class="form-control" name="Насколько новым для вас было содержание лекций1" min="1" max="10")
            .flex-container
              label(for="Что вам больше всего понравилось в этом лекционном блоке1") Что вам больше всего понравилось в этом лекционном блоке?
              textarea( rows="4" required="required" class="form-control" name="Что вам больше всего понравилось в этом лекционном блоке1" )
            .flex-container
              label(for="Что вам больше всего не понравилось в этом лекционном блоке1") Что вам больше всего не понравилось в этом лекционном блоке?
              textarea( rows="4" required="required" class="form-control" name="Что вам больше всего не понравилось в этом лекционном блоке1" )
          h2 Dr. Maria Tysiachniouk — “Global Governance of Natural Resources: on the Example of Forestryand Oil and Gas Sectors”
          div(class="input-group")
            .flex-container
              label(for="Насколько новым для вас было содержание лекций2") Насколько новым для вас было содержание лекций? Оцените по шкале от 1 до 10, где 1 – я не узнал ничего нового; 6 – 50% материала было для меня новым; 10 – все, о чем говорилось, я слышал впервые.
              input(type="number" required="required" class="form-control" name="Насколько новым для вас было содержание лекций2" min="1" max="10")
            .flex-container
              label(for="Что вам больше всего понравилось в этом лекционном блоке2") Что вам больше всего понравилось в этом лекционном блоке?
              textarea( rows="4" required="required" class="form-control" name="Что вам больше всего понравилось в этом лекционном блоке2" )
            .flex-container
              label(for="Что вам больше всего не понравилось в этом лекционном блоке2") Что вам больше всего не понравилось в этом лекционном блоке?
              textarea( rows="4" required="required" class="form-control" name="Что вам больше всего не понравилось в этом лекционном блоке2" )
          h2 Professor Jean-Francois Caron — “The Federal Spirit: Identity Building in Multinational States”
          div(class="input-group")
            .flex-container
              label(for="Насколько новым для вас было содержание лекций3") Насколько новым для вас было содержание лекций? Оцените по шкале от 1 до 10, где 1 – я не узнал ничего нового; 6 – 50% материала было для меня новым; 10 – все, о чем говорилось, я слышал впервые.
              input(type="number" required="required" class="form-control" name="Насколько новым для вас было содержание лекций3" min="1" max="10")
            .flex-container
              label(for="Что вам больше всего понравилось в этом лекционном блоке3") Что вам больше всего понравилось в этом лекционном блоке?
              textarea( rows="4" required="required" class="form-control" name="Что вам больше всего понравилось в этом лекционном блоке3" )
            .flex-container
              label(for="Что вам больше всего не понравилось в этом лекционном блоке3") Что вам больше всего не понравилось в этом лекционном блоке?
              textarea( rows="4" required="required" class="form-control" name="Что вам больше всего не понравилось в этом лекционном блоке3" )
          h2 ГРУППОВАЯ РАБОТА
          div(class="input-group")
            .flex-container
              label(for="Оцените эффективность формата самостоятельной групповой работы") Оцените эффективность формата самостоятельной групповой работы по шкале от 1 до 10, где 1 – результат нашей группы значительно хуже предыдущего опыта, потому что не было куратора, организующего нашу работу; 10 – наша работа была значительно продуктивней, потому что мы сами её организовывали.
              input(type="number" required="required" class="form-control" name="Оцените эффективность формата самостоятельной групповой работы" min="1" max="10")
            .flex-container
              label(for="Что было самым сложным в групповой работе") Что было самым сложным в групповой работе?
              textarea( rows="4" required="required" class="form-control" name="Что было самым сложным в групповой работе" )
            .flex-container
              label(for="Что было самым интересным в групповой работе") Что было самым интересным в групповой работе?
              textarea( rows="4" required="required" class="form-control" name="Что было самым интересным в групповой работе" ) 
            .flex-container
              label(for="Комментарий в свободной форме про групповую работу") Комментарий в свободной форме про групповую работу
              textarea( rows="4" required="required" class="form-control" name="Комментарий в свободной форме про групповую работу" )   
          h2 ОБЩАЯ ОЦЕНКА КУРСА
          div(class="input-group")
            .flex-container
              label(for="Оцените влияние курса на ваши знания, умения, компетенции") Оцените влияние курса на ваши знания, умения, компетенции, личные качества и мировоззрение, где 1 – никакого развития не произошло, 6 – произошло в целом  удовлетворительное развитие по ряду параметров, 10 – я стал другим человеком.
              input(type="number" required="required" class="form-control" name="Оцените влияние курса на ваши знания, умения, компетенции" min="1" max="10")
            .flex-container
              label(for="Оцените уровень обратной связи от преподавателя") Оцените уровень обратной связи от преподавателя (комментарии к эссе и другим работам, ответы на вопросы во время занятий, индивидуальные консультации в офисные часы), где 1 – обратная связь от преподавателя отсутствовала, 6 – обратная связь присутствовала в половине случаев, когда она была необходима, и была среднего качества, 10 – преподаватель обеспечивал исчерпывающую обратную связь высокого уровня всегда, когда она требовалась).
              input(type="number" required="required" class="form-control" name="Оцените уровень обратной связи от преподавателя" min="1" max="10")
            .flex-container
              label(for="Оцените качество курса") Оцените качество курса, включая и дизайн курса, и его преподавание, по сравнению с другими курсами, которые вы проходили в SAS, где 1 – качество курса было ужасающим, не идет ни в какое сравнение с другими курсами, 6 – качество курса было средним, 10 – качество курса – лучшее в SAS с большим отрывом.
              input(type="number" required="required" class="form-control" name="Оцените качество курса" min="1" max="10")
            .flex-container
              label(for="Что было самым сложным в рамках курса") Что было самым сложным в рамках курса?
              textarea( rows="4" required="required" class="form-control" name="Что было самым сложным в рамках курса" )
            .flex-container
              label(for="Что было самым интересным в рамках курса") Что было самым интересным в рамках курса?
              textarea( rows="4" required="required" class="form-control" name="Что было самым интересным в рамках курса") 
            .flex-container
              label(for="Оцените АМП часть 1 с точки зрения полезности для вас") Оцените АМП часть 1 с точки зрения полезности для вас
              input(type="number" required="required" class="form-control" name="Оцените АМП часть 1 с точки зрения полезности для вас" min="1" max="10")
            .flex-container
              label(for="Оцените АМП часть 1 с точки зрения полезности для вас — комментарий") Оцените АМП часть 1 с точки зрения полезности для вас — комментарий
              textarea( rows="4" required="required" class="form-control" name="Оцените АМП часть 1 с точки зрения полезности для вас — комментарий" )
            .flex-container
              label(for="Оцените АМП часть 2 с точки зрения полезности для вас") Оцените АМП часть 2 с точки зрения полезности для вас
              input(type="number" required="required" class="form-control" name="Оцените АМП часть 2 с точки зрения полезности для вас" min="1" max="10")
            .flex-container
              label(for="Оцените АМП часть 2 с точки зрения полезности для вас — комментарий") Оцените АМП часть 2 с точки зрения полезности для вас — комментарий
              textarea( rows="4" required="required" class="form-control" name="Оцените АМП часть 2 с точки зрения полезности для вас — комментарий" )
        button(type="submit" class="btn btn-primary btn-lg") Submit
