doctype html
html
  head
    title Course Evaluations
    link(rel='stylesheet', href='//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css')
    // load bootstrap css
    style.
      body        { padding-top:20px;   font-family: 'Agipo-Bold';}
      @font-face {
        font-family: 'Agipo-Bold';
        src:url('../fonts/agipo/Agipo-Bold.woff');
      }
      img {
        width:80%;
        margin-top:10px;
      }
      .logo {padding-bottom:30px}
      h2 {font-weight:800; margin-bottom:20px;}
      .jumbotron h1 {
        font-size:36px;
        margin-bottom: 40px;
      }
      h3 {
        font-size: 1.5em;
        font-weight: 400;
      }
      .jumbotron{
        font-size:18px;
        line-height: initial;
        padding-top: 0px;
      }
      .container{
        width:98% !important;
      }
      .input-group{
        margin-bottom:20px;
      }
      .input-group label {
        font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
        font-weight: 500;
        margin: 10px 0;
        font-size:20px;
        width:93%;
      }
      .input-group .label__description {
        font-family:initial;
      }
      .input-group .form-control {
        margin: 20px 0 40px 0;
        width:75%;
      }
      form {
        margin-top: 30px;
      }
      label,legend {
        text-align: left;
            float: left;
      }
      legend {font-size: 1.8em;}
      input, textarea, select {
        float:left;
        width:75%;
        font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
      }

      input[type="radio"] {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;

        border-radius: 50%;
        width: 38px;
        height: 38px;

        border: 2px solid #999;
        transition: 0.2s all linear;
        outline: none;
        margin-right: 15px;

        position: relative;
        top:0;
        }
        input:focus {
          outline: none !important;
        }
        input:checked {
          border: 12px solid #00f;
        }
        button {
          background-color: #00f !important;
          border: none !important;
        }
        .flex-container {display:flex; flex-direction:column; margin:10px 0;}
        .flex-container.row {flex-direction:row;}

        @media (max-width: 1024px) {

          body{padding-top:10px}
          .container{
          width:95%;
          }
        h1,h3 {font-size:60px !important;}
      .input-group  label {
        font-size:40px ;
        margin-bottom:20px;
        }
        input[type="checkbox"]{
          top:6px;
        }
        button.btn-lg {
          font-size: 30px;
        }
        }
body
  .container
    .jumbotron.text-center
      .logo
        a(href="https://sas.utmn.ru")
          img(src="/assets/Logo__red.png")
      h1 Обратная связь. Литература. Великие книги. 7-й модуль
      form(action="/polls/ba-2019-year2-module7-gb" method="post")
        fieldset
          h2 ЕЛЕНА ГРИГОРЬЕВА — «ЕВГЕНИЙ ОНЕГИН», А.С. ПУШКИН
          div(class="input-group")
            .flex-container
              label(for="Насколько удачным был выбор литературного произведения для данного блока1") Насколько удачным был выбор литературного произведения для данного блока, учитывая общую цель курса – познакомить студентов с многообразием литературных произведений и подходов к их изучению? (1 – крайне неудачный выбор, 6 – удовлетворительный выбор, 10 – оптимальный выбор).
              input(type="number" required="required" class="form-control" name="Насколько удачным был выбор литературного произведения для данного блока1" min="1" max="10")
            .flex-container
              label(for="Оцените влияние блока на ваши знания, умения, компетенции, личные качества и мировоззрение1") Оцените влияние блока на ваши знания, умения, компетенции, личные качества и мировоззрение, где 1 – никакого развития не произошло, 6 – произошло в целом удовлетворительное развитие по ряду параметров, 10 – я стал другим человеком.
              input(type="number" required="required" class="form-control" name="Оцените влияние блока на ваши знания, умения, компетенции, личные качества и мировоззрение1" min="1" max="10")    
            .flex-container
              label(for="Оцените уровень обратной связи от преподавателя1") Оцените уровень обратной связи от преподавателя (комментарии к эссе и другим работам, ответы на вопросы во время занятий, индивидуальные консультации в офисные часы), где 1 – обратная связь от преподавателя отсутствовала, 6 – обратная связь присутствовала в половине случаев, когда она была необходима, и была среднего качества, 10 – преподаватель обеспечивал исчерпывающую обратную связь высокого уровня всегда, когда она требовалась).
              input(type="number" required="required" class="form-control" name="Оцените уровень обратной связи от преподавателя1" min="1" max="10")    
            .flex-container
              label(for="Оцените качество блока, включая и дизайн блока, и его преподавание, по сравнению с другими курсами1") Оцените качество блока, включая и дизайн блока, и его преподавание, по сравнению с другими курсами, которые вы проходили в SAS, где 1 – качество блока было ужасающим, не идет ни в какое сравнение с другими курсами, 6 – качество блока было средним, 10 – качество блока – лучшее в SAS с большим отрывом.
              input(type="number" required="required" class="form-control" name="Оцените качество блока, включая и дизайн блока, и его преподавание, по сравнению с другими курсами1" min="1" max="10")    
            .flex-container
              label() Стоит ли предлагать этому преподавателю вести блок в рамках этого курса в следующем году? 
            .flex-container.row
              input(type="radio" required="required" value="Да" name="Стоит ли предлагать этому преподавателю вести блок в рамках этого курса в следующем году1")
              label(for="Стоит ли предлагать этому преподавателю вести блок в рамках этого курса в следующем году1") Да
            .flex-container.row
              input(type="radio" required="required" value="Hет" name="Стоит ли предлагать этому преподавателю вести блок в рамках этого курса в следующем году1")
              label(for="Стоит ли предлагать этому преподавателю вести блок в рамках этого курса в следующем году1") Нет
            .flex-container
              label(for="Комментарий в свободной форме1") Комментарий в свободной форме
              textarea(rows="4" required="required" class="form-control" name="Комментарий в свободной форме1")
          h2 АЛЕКСАНДР МЕДВЕДЕВ — «ВЕЛИКИЙ ИНКВИЗИТОР», Ф.М. ДОСТОЕВСКИЙ
          div(class="input-group")
            .flex-container
              label(for="Насколько удачным был выбор литературного произведения для данного блока2") Насколько удачным был выбор литературного произведения для данного блока, учитывая общую цель курса – познакомить студентов с многообразием литературных произведений и подходов к их изучению? (1 – крайне неудачный выбор, 6 – удовлетворительный выбор, 10 – оптимальный выбор).
              input(type="number" required="required" class="form-control" name="Насколько удачным был выбор литературного произведения для данного блока2" min="1" max="10")
            .flex-container
              label(for="Оцените влияние блока на ваши знания, умения, компетенции, личные качества и мировоззрение2") Оцените влияние блока на ваши знания, умения, компетенции, личные качества и мировоззрение, где 1 – никакого развития не произошло, 6 – произошло в целом удовлетворительное развитие по ряду параметров, 10 – я стал другим человеком.
              input(type="number" required="required" class="form-control" name="Оцените влияние блока на ваши знания, умения, компетенции, личные качества и мировоззрение2" min="1" max="10")    
            .flex-container
              label(for="Оцените уровень обратной связи от преподавателя2") Оцените уровень обратной связи от преподавателя (комментарии к эссе и другим работам, ответы на вопросы во время занятий, индивидуальные консультации в офисные часы), где 1 – обратная связь от преподавателя отсутствовала, 6 – обратная связь присутствовала в половине случаев, когда она была необходима, и была среднего качества, 10 – преподаватель обеспечивал исчерпывающую обратную связь высокого уровня всегда, когда она требовалась).
              input(type="number" required="required" class="form-control" name="Оцените уровень обратной связи от преподавателя2" min="1" max="10")    
            .flex-container
              label(for="Оцените качество блока, включая и дизайн блока, и его преподавание, по сравнению с другими курсами2") Оцените качество блока, включая и дизайн блока, и его преподавание, по сравнению с другими курсами, которые вы проходили в SAS, где 1 – качество блока было ужасающим, не идет ни в какое сравнение с другими курсами, 6 – качество блока было средним, 10 – качество блока – лучшее в SAS с большим отрывом.
              input(type="number" required="required" class="form-control" name="Оцените качество блока, включая и дизайн блока, и его преподавание, по сравнению с другими курсами2" min="1" max="10")    
            .flex-container
              label() Стоит ли предлагать этому преподавателю вести блок в рамках этого курса в следующем году? 
            .flex-container.row
              input(type="radio" required="required" value="Да" name="Стоит ли предлагать этому преподавателю вести блок в рамках этого курса в следующем году2")
              label(for="Стоит ли предлагать этому преподавателю вести блок в рамках этого курса в следующем году2") Да
            .flex-container.row
              input(type="radio" required="required" value="Hет" name="Стоит ли предлагать этому преподавателю вести блок в рамках этого курса в следующем году2")
              label(for="Стоит ли предлагать этому преподавателю вести блок в рамках этого курса в следующем году2") Нет
            .flex-container
              label(for="Комментарий в свободной форме2") Комментарий в свободной форме
              textarea(rows="4" required="required" class="form-control" name="Комментарий в свободной форме2")
          h2 ГАЛИНА ДАНИЛИНА — «ЗАМОК», Ф. КАФКА
          div(class="input-group")
            .flex-container
              label(for="Насколько удачным был выбор литературного произведения для данного блока3") Насколько удачным был выбор литературного произведения для данного блока, учитывая общую цель курса – познакомить студентов с многообразием литературных произведений и подходов к их изучению? (1 – крайне неудачный выбор, 6 – удовлетворительный выбор, 10 – оптимальный выбор).
              input(type="number" required="required" class="form-control" name="Насколько удачным был выбор литературного произведения для данного блока3" min="1" max="10")
            .flex-container
              label(for="Оцените влияние блока на ваши знания, умения, компетенции, личные качества и мировоззрение3") Оцените влияние блока на ваши знания, умения, компетенции, личные качества и мировоззрение, где 1 – никакого развития не произошло, 6 – произошло в целом удовлетворительное развитие по ряду параметров, 10 – я стал другим человеком.
              input(type="number" required="required" class="form-control" name="Оцените влияние блока на ваши знания, умения, компетенции, личные качества и мировоззрение3" min="1" max="10")    
            .flex-container
              label(for="Оцените уровень обратной связи от преподавателя3") Оцените уровень обратной связи от преподавателя (комментарии к эссе и другим работам, ответы на вопросы во время занятий, индивидуальные консультации в офисные часы), где 1 – обратная связь от преподавателя отсутствовала, 6 – обратная связь присутствовала в половине случаев, когда она была необходима, и была среднего качества, 10 – преподаватель обеспечивал исчерпывающую обратную связь высокого уровня всегда, когда она требовалась).
              input(type="number" required="required" class="form-control" name="Оцените уровень обратной связи от преподавателя3" min="1" max="10")    
            .flex-container
              label(for="Оцените качество блока, включая и дизайн блока, и его преподавание, по сравнению с другими курсами3") Оцените качество блока, включая и дизайн блока, и его преподавание, по сравнению с другими курсами, которые вы проходили в SAS, где 1 – качество блока было ужасающим, не идет ни в какое сравнение с другими курсами, 6 – качество блока было средним, 10 – качество блока – лучшее в SAS с большим отрывом.
              input(type="number" required="required" class="form-control" name="Оцените качество блока, включая и дизайн блока, и его преподавание, по сравнению с другими курсами3" min="1" max="10")    
            .flex-container
              label() Стоит ли предлагать этому преподавателю вести блок в рамках этого курса в следующем году? 
            .flex-container.row
              input(type="radio" required="required" value="Да" name="Стоит ли предлагать этому преподавателю вести блок в рамках этого курса в следующем году3")
              label(for="Стоит ли предлагать этому преподавателю вести блок в рамках этого курса в следующем году3") Да
            .flex-container.row
              input(type="radio" required="required" value="Hет" name="Стоит ли предлагать этому преподавателю вести блок в рамках этого курса в следующем году3")
              label(for="Стоит ли предлагать этому преподавателю вести блок в рамках этого курса в следующем году3") Нет
            .flex-container
              label(for="Комментарий в свободной форме3") Комментарий в свободной форме
              textarea(rows="4" required="required" class="form-control" name="Комментарий в свободной форме3")
          h2 НАТАЛЬЯ РОГАЧЕВА — «ВОЙНА И МИР», Л.Н. ТОЛСТОЙ
          div(class="input-group")
            .flex-container
              label(for="Насколько удачным был выбор литературного произведения для данного блока4") Насколько удачным был выбор литературного произведения для данного блока, учитывая общую цель курса – познакомить студентов с многообразием литературных произведений и подходов к их изучению? (1 – крайне неудачный выбор, 6 – удовлетворительный выбор, 10 – оптимальный выбор).
              input(type="number" required="required" class="form-control" name="Насколько удачным был выбор литературного произведения для данного блока4" min="1" max="10")
            .flex-container
              label(for="Оцените влияние блока на ваши знания, умения, компетенции, личные качества и мировоззрение4") Оцените влияние блока на ваши знания, умения, компетенции, личные качества и мировоззрение, где 1 – никакого развития не произошло, 6 – произошло в целом удовлетворительное развитие по ряду параметров, 10 – я стал другим человеком.
              input(type="number" required="required" class="form-control" name="Оцените влияние блока на ваши знания, умения, компетенции, личные качества и мировоззрение4" min="1" max="10")    
            .flex-container
              label(for="Оцените уровень обратной связи от преподавателя4") Оцените уровень обратной связи от преподавателя (комментарии к эссе и другим работам, ответы на вопросы во время занятий, индивидуальные консультации в офисные часы), где 1 – обратная связь от преподавателя отсутствовала, 6 – обратная связь присутствовала в половине случаев, когда она была необходима, и была среднего качества, 10 – преподаватель обеспечивал исчерпывающую обратную связь высокого уровня всегда, когда она требовалась).
              input(type="number" required="required" class="form-control" name="Оцените уровень обратной связи от преподавателя4" min="1" max="10")    
            .flex-container
              label(for="Оцените качество блока, включая и дизайн блока, и его преподавание, по сравнению с другими курсами4") Оцените качество блока, включая и дизайн блока, и его преподавание, по сравнению с другими курсами, которые вы проходили в SAS, где 1 – качество блока было ужасающим, не идет ни в какое сравнение с другими курсами, 6 – качество блока было средним, 10 – качество блока – лучшее в SAS с большим отрывом.
              input(type="number" required="required" class="form-control" name="Оцените качество блока, включая и дизайн блока, и его преподавание, по сравнению с другими курсами4" min="1" max="10")    
            .flex-container
              label() Стоит ли предлагать этому преподавателю вести блок в рамках этого курса в следующем году? 
            .flex-container.row
              input(type="radio" required="required" value="Да" name="Стоит ли предлагать этому преподавателю вести блок в рамках этого курса в следующем году4")
              label(for="Стоит ли предлагать этому преподавателю вести блок в рамках этого курса в следующем году4") Да
            .flex-container.row
              input(type="radio" required="required" value="Hет" name="Стоит ли предлагать этому преподавателю вести блок в рамках этого курса в следующем году4")
              label(for="Стоит ли предлагать этому преподавателю вести блок в рамках этого курса в следующем году4") Нет
            .flex-container
              label(for="Комментарий в свободной форме4") Комментарий в свободной форме
              textarea(rows="4" required="required" class="form-control" name="Комментарий в свободной форме4")
        button(type="submit" class="btn btn-primary btn-lg") Submit
