doctype html
head
  title SAS — Candidates
  link(rel='stylesheet', href='//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css')
  // load bootstrap css
  style.
    body        { padding-top:20px;   font-family: 'Agipo-Bold';}
    @font-face {
      font-family: 'Agipo-Bold';
      src:url('../fonts/agipo/Agipo-Bold.woff');
    }
    img {
      width:80%;
      margin-top:10px;
    }
    .logo {padding-bottom:30px}
    h2 {font-weight:800; margin-bottom:20px;}
    .jumbotron h1 {
      font-size:36px;
      margin-bottom: 40px;
    }
    h3 {
      font-size: 1.5em;
      font-weight: 400;
    }
    .jumbotron{
      font-size:18px;
      line-height: initial;
      padding-top: 0px;
    }
    .container{
      width:98% !important;
    }
    .input-group{
      margin-bottom:20px;
    }
    .input-group label {
      font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
      font-weight: 500;
      margin: 10px 0;
      font-size:20px;
      width:93%;
    }
    .input-group .label__description {
      font-family:initial;
    }
    .input-group .form-control {
      margin: 20px 0 40px 0;
      width:75%;
    }
    form {
      margin-top: 30px;
    }
    label,legend {
      text-align: left;
          float: left;
    }
    legend {font-size: 1.8em;}
    input, textarea, select {
      float:left;
      width:75%;
      font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    }

    input[type="radio"] {
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;

      border-radius: 50%;
      width: 50px;
      height: 38px;

      border: 2px solid #999;
      transition: 0.2s all linear;
      outline: none;
      margin-right: 15px;

      position: relative;
      top:0;
      }
      input:focus {
        outline: none !important;
      }
      input:checked {
        border: 12px solid #f00;
        width: 44px;
        height: 38px;
      }
      button {
        background-color: #f00 !important;
        border: none !important;
      }
      .flex-container {display:flex; flex-direction:column; margin:10px 0;}
      .flex-container.row {flex-direction:row;}

      @media (max-width: 1024px) {

        body{padding-top:10px}
        .container{
        width:95%;
        }
      h1,h3 {font-size:60px !important;}
    .input-group  label {
      font-size:40px ;
      margin-bottom:20px;
      }
      input[type="checkbox"]{
        top:14px;
        zoom:1.1;
      }
      input[type="radio"]{
        top:14px;
      }
      button.btn-lg {
        font-size: 30px;
      }
      }
      
.container
  .jumbotron.text-center
    .logo
      a(href="https://sas.utmn.ru")
        img(src="/assets/Logo__red.png")
    h1 Кандидаты на голосование:
    h1 Поддерживаете ли вы проект решения Комиссии в отношении: Вангерт, Дэвин Митчелл (Канада)?
    h3 - должность: профессор
    br
    h3 - продолжительность договора 1 год (до 14.08.2023)
    br
    h3 - заработная плата в размере 180 тыс. рублей в месяц
    br
    h3 - исследовательский бюджет в размере 200 тыс. рублей в год
    br
    h3 - преподавательская нагрузка в размере 256 условных аудиторных академических часов
    br
    h3 Проект решения: рекомендовать заключение трудового договора на срок 1 (один) год с заработной платой в размере 180 (ста восьмидесяти) тысяч рублей c учетом районного коэффициента и стимулирующих надбавок после налогообложения с условием успешной защиты диссертации соискателя PhD не позднее 15.07.2022 и предоставления соответствующего диплома не позднее 30.12.2022.
    form(action="/polls/candidates" method="post")
      div(class="input-group")
        .flex-container.row
          input(type="radio" required="required" value="Да" name="mitchell" id="Да1")
          label(for="Да1") Да
        .flex-container.row
          input(type="radio" required="required" value="Нет" name="mitchell" id="Нет1")
          label(for="Нет1") Нет
        .flex-container.row
          input(type="radio" required="required" value="Воздержался" name="mitchell" id="Воздержался1")
          label(for="Воздержался1") Воздержался
      h1 Поддерживаете ли вы проект решения Комиссии в отношении: Ли, Синди (Китай)?
      h3 - должность: профессор
      br
      h3 - продолжительность договора 10 месяцев (с 15.10.2022 по 14.08.2023)
      br
      h3 - заработная плата в размере 117 тыс. рублей в месяц
      br
      h3 - исследовательский бюджет в размере 200 тыс. рублей в год
      br
      h3 - преподавательская нагрузка в размере 202 условных аудиторных академических часов
      br
      h3 Проект решения: рекомендовать заключение трудового договора на срок 10 (десять) месяцев с заработной платой в размере 117 (ста семнадцати) тысяч рублей c учетом районного коэффициента и стимулирующих надбавок после налогообложения.
      div(class="input-group")
        .flex-container.row
          input(type="radio" required="required" value="Да" name="lee" id="Да2")
          label(for="Да2") Да
        .flex-container.row
          input(type="radio" required="required" value="Нет" name="lee" id="Нет2")
          label(for="Нет2") Нет
        .flex-container.row
          input(type="radio" required="required" value="Воздержался" name="lee" id="Воздержался2")
          label(for="Воздержался2") Воздержался
      //- h1 Поддерживаете ли вы проект решения Комиссии в отношении: Панайотов Станимир Веселинов?
      //- h3 - должность: профессор
      //- h3 - продолжительность договора 3 года 14 дней (до 14.08.2025)
      //- br
      //- h3 - заработная плата в размере 160 тыс. рублей в месяц
      //- br
      //- h3 - исследовательский бюджет в размере 200 тыс. рублей в год
      //- br
      //- h3 - преподавательская нагрузка в размере 256 условных аудиторных академических часов
      //- div(class="input-group")
      //-   .flex-container.row
      //-     input(type="radio" required="required" value="Да" name="panaiotov" id="Да3")
      //-     label(for="Да3") Да
      //-   .flex-container.row
      //-     input(type="radio" required="required" value="Нет" name="panaiotov" id="Нет3")
      //-     label(for="Нет3") Нет
      //-   .flex-container.row
      //-     input(type="radio" required="required" value="Воздержался" name="panaiotov" id="Воздержался3")
      //-     label(for="Воздержался3") Воздержался  
      //- br
      //- br
      //- br
      //- h1 Кандидаты на голосование (новые договоры):
      //- h1 Поддерживаете ли вы проект решения Комиссии в отношении: Баец Манца (участница ПАС-2021)?
      //- h3 - должность: доцент (кандидатская степень требует признания, соответствует требованиям по опыту работы)
      //- h3 - продолжительность договора 1 год (до 14.08.2023)
      //- br
      //- h3 - заработная плата в размере 160 тыс. рублей в месяц
      //- br
      //- h3 - исследовательский бюджет в размере 200 тыс. рублей в год
      //- br
      //- h3 - преподавательская нагрузка в размере 256 условных аудиторных академических часов
      //- div(class="input-group")
      //-   .flex-container.row
      //-     input(type="radio" required="required" value="Да" name="bajec" id="Да4")
      //-     label(for="Да4") Да
      //-   .flex-container.row
      //-     input(type="radio" required="required" value="Нет" name="bajec" id="Нет4")
      //-     label(for="Нет4") Нет
      //-   .flex-container.row
      //-     input(type="radio" required="required" value="Воздержался" name="bajec" id="Воздержался4")
      //-     label(for="Воздержался4") Воздержался  
      //- h1 Поддерживаете ли вы проект решения Комиссии в отношении: Герасимова Ксения Леонидовна (участница ПАС-2021)?
      //- h3 - должность: профессор
      //- h3 - продолжительность договора 3 года (до 14.08.2025)
      //- br
      //- h3 - заработная плата в размере 180 тыс. рублей в месяц
      //- br
      //- h3 - исследовательский бюджет в размере 200 тыс. рублей в год
      //- br
      //- h3 - преподавательская нагрузка в размере 256 условных аудиторных академических часов
      //- div(class="input-group")
      //-   .flex-container.row
      //-     input(type="radio" required="required" value="Да" name="gerasimova" id="Да5")
      //-     label(for="Да5") Да
      //-   .flex-container.row
      //-     input(type="radio" required="required" value="Нет" name="gerasimova" id="Нет5")
      //-     label(for="Нет5") Нет
      //-   .flex-container.row
      //-     input(type="radio" required="required" value="Воздержался" name="gerasimova" id="Воздержался5")
      //-     label(for="Воздержался5") Воздержался  
      //- h1 Поддерживаете ли вы проект решения Комиссии в отношении: Дивани Мазен Мохамд (участник ПАС-2021)?
      //- h3 - должность: профессор
      //- h3 - продолжительность договора 1 год (до 14.08.2023)
      //- br
      //- h3 - заработная плата в размере 180 тыс. рублей в месяц
      //- br
      //- h3 - исследовательский бюджет в размере 200 тыс. рублей в год
      //- br
      //- h3 - преподавательская нагрузка в размере 256 условных аудиторных академических часов
      //- div(class="input-group")
      //-   .flex-container.row
      //-     input(type="radio" required="required" value="Да" name="diwani" id="Да6")
      //-     label(for="Да6") Да
      //-   .flex-container.row
      //-     input(type="radio" required="required" value="Нет" name="diwani" id="Нет6")
      //-     label(for="Нет6") Нет
      //-   .flex-container.row
      //-     input(type="radio" required="required" value="Воздержался" name="diwani" id="Воздержался6")
      //-     label(for="Воздержался6") Воздержался  
      //- h1 Поддерживаете ли вы проект решения Комиссии в отношении: Йебра Лопес Карлос (участник ПАС-2021)?
      //- h3 - должность: профессор
      //- h3 - продолжительность договора 3 года (до 14.08.2025)
      //- br
      //- h3 - заработная плата в размере 200 тыс. рублей в месяц
      //- br
      //- h3 - исследовательский бюджет в размере 200 тыс. рублей в год
      //- br
      //- h3 - преподавательская нагрузка в размере 256 условных аудиторных академических часов
      //- div(class="input-group")
      //-   .flex-container.row
      //-     input(type="radio" required="required" value="Да" name="jebra" id="Да7")
      //-     label(for="Да7") Да
      //-   .flex-container.row
      //-     input(type="radio" required="required" value="Нет" name="jebra" id="Нет7")
      //-     label(for="Нет7") Нет
      //-   .flex-container.row
      //-     input(type="radio" required="required" value="Воздержался" name="jebra" id="Воздержался7")
      //-     label(for="Воздержался7") Воздержался  
      //- h1 Поддерживаете ли вы проект решения Комиссии в отношении: Ю Сан Гын (участник ПАС-2021)?
      //- h3 - должность: профессор
      //- h3 - продолжительность договора 3 года (до 14.08.2025)
      //- br
      //- h3 - заработная плата в размере 200 тыс. рублей в месяц
      //- br
      //- h3 - исследовательский бюджет в размере 200 тыс. рублей в год
      //- br
      //- h3 - преподавательская нагрузка в размере 256 условных аудиторных академических часов
      //- div(class="input-group")
      //-   .flex-container.row
      //-     input(type="radio" required="required" value="Да" name="gyn" id="Да8")
      //-     label(for="Да8") Да
      //-   .flex-container.row
      //-     input(type="radio" required="required" value="Нет" name="gyn" id="Нет8")
      //-     label(for="Нет8") Нет
      //-   .flex-container.row
      //-     input(type="radio" required="required" value="Воздержался" name="gyn" id="Воздержался8")
      //-     label(for="Воздержался8") Воздержался  
      //- h1 Поддерживаете ли вы проект решения Комиссии в отношении: МакКейб Кимберли Энн?
      //- h3 - должность: профессор
      //- h3 - продолжительность договора 1 год (до 14.08.2023)
      //- br
      //- h3 - заработная плата в размере 170 тыс. рублей в месяц
      //- br
      //- h3 - преподавательская нагрузка в размере 256 условных аудиторных академических часов
      //- div(class="input-group")
      //-   .flex-container.row
      //-     input(type="radio" required="required" value="Да" name="mccabe" id="Да9")
      //-     label(for="Да9") Да
      //-   .flex-container.row
      //-     input(type="radio" required="required" value="Нет" name="mccabe" id="Нет9")
      //-     label(for="Нет9") Нет
      //-   .flex-container.row
      //-     input(type="radio" required="required" value="Воздержался" name="mccabe" id="Воздержался9")
      //-     label(for="Воздержался9") Воздержался  
      button(type="submit" class="btn btn-primary btn-lg") Отправить
