doctype html
head
  title The choice of electives
  link(rel='stylesheet', href='//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css')
  // load bootstrap css
  style.
    body        { padding-top:20px;   font-family: 'Agipo-Bold';}
    @font-face {
      font-family: 'Agipo-Bold';
      src:url('../fonts/agipo/Agipo-Bold.woff');
    }
    img {
      width:80%;
      margin-top:10px;
    }
    .logo {padding-bottom:30px}
    h2 {font-weight:800; margin-bottom:20px;}
    .jumbotron h1 {
      font-size:36px;
      margin-bottom: 40px;
    }
    h3 {
      font-size: 1.5em;
      font-weight: 400;
    }
    .jumbotron{
      font-size:18px;
      line-height: initial;
      padding-top: 0px;
    }
    .container{
      width:98% !important;
    }
    .input-group{
      margin-bottom:20px;
    }
    .input-group label {
      font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
      font-weight: 500;
      margin: 10px 0;
      font-size:20px;
      width:93%;
    }
    .input-group .label__description {
      font-family:initial;
    }
    .input-group .form-control {
      margin: 20px 0 40px 0;
      width:75%;
    }
    form {
      margin-top: 30px;
    }
    label,legend {
      text-align: left;
          float: left;
    }
    legend {font-size: 1.8em;}
    input, textarea, select {
      float:left;
      width:75%;
      font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    }

    input[type="radio"] {
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;

      border-radius: 50%;
      width: 38px;
      height: 38px;

      border: 2px solid #999;
      transition: 0.2s all linear;
      outline: none;
      margin-right: 15px;

      position: relative;
      top:0;
      }
      input:focus {
        outline: none !important;
      }
      input:checked {
        border: 12px solid #00f;
      }
      button {
        background-color: #00f !important;
        border: none !important;
      }
      .flex-container {display:flex; flex-direction:column; margin:10px 0;}
      .flex-container.row {flex-direction:row;}

      @media (max-width: 1024px) {

        body{padding-top:10px}
        .container{
        width:95%;
        }
      .input-group  label {
        font-size:30px ;
        margin-bottom:20px;
        }
        input[type="radio"]{
          top:6px;
        }
        button.btn-lg {
          font-size: 30px;
        }
      }
.container
  .jumbotron.text-center
    .logo
      a(href="https://sas.utmn.ru")
        img(src="/assets/Logo__red.png")
    h1 The choice of electives for the next module. The form is available until August 23, 11:00.
    form(action="/polls/electives-2019-3" method="post")
      h3 ELECTIVE 1
      h3 1st priority
      input(type="hidden" value="media" name="major")    
      div(class="input-group")
      
        .flex-container.row
          input(type="radio" value="Матвей Ломоносов" name="elective1" id="Матвей Ломоносов1")
          label(for="Матвей Ломоносов1") Социологические перспективы — Матвей Ломоносов
        .flex-container.row
          input(type="radio" value="Vitaly Nikolaev" name="elective1" id="Vitaly Nikolaev1")
          label(for="Vitaly Nikolaev1") Math Tools for IT — Vitaly Nikolaev
        .flex-container.row
          input(type="radio" value="Juliette Colinas" name="elective1" id="Juliette Colinas1")
          label(for="Juliette Colinas1") Cell Biology — Juliette Colinas
        .flex-container.row
          input(type="radio" value="Anne Mulhall" name="elective1" id="Anne Mulhall1")
          label(for="Anne Mulhall1") Foundations of the Humanities — Anne Mulhall
        .flex-container.row
          input(type="radio" value="David Dussealt" name="elective1" id="David Dussealt1")
          label(for="David Dussealt1") Emerging from the Shadows: Africa in the 21st Century — David Dussealt
        .flex-container.row
          input(type="radio" value="Corinne Doria" name="elective1" id="Corinne Doria1")
          label(for="Corinne Doria1") Medical Humanities: Interdisciplinary Approaches to Medicine and Society — Corinne Doria
        .flex-container.row
          input(type="radio" value="Peter Jones" name="elective1" id="Peter Jones1")
          label(for="Peter Jones1") Essentials of Global History — Peter Jones
        .flex-container.row
          input(type="radio" value="Munesh Chauhan" name="elective1" id="Munesh Chauhan1")
          label(for="Munesh Chauhan1") Computer Hardware and Operating Systems — Munesh Singh Chauhan
        .flex-container.row
          input(type="radio" value="Brain and Behavior" name="elective1" id="Brain and Behavior1")
          label(for="Brain and Behavior1") Brain and Behavior — Krishna K
        .flex-container.row
          input(type="radio" value="Jay Silverstein" name="elective1" id="Jay Silverstein1")
          label(for="Jay Silverstein1") Introduction to Culture — Jay Silverstein
      h3 2nd priority
      div(class="input-group")
        
        .flex-container.row
          input(type="radio" value="Матвей Ломоносов" name="elective2" id="Матвей Ломоносов2")
          label(for="Матвей Ломоносов2") Социологические перспективы — Матвей Ломоносов
        .flex-container.row
          input(type="radio" value="Vitaly Nikolaev" name="elective2" id="Vitaly Nikolaev2")
          label(for="Vitaly Nikolaev2") Math Tools for IT — Vitaly Nikolaev
        .flex-container.row
          input(type="radio" value="Juliette Colinas" name="elective2" id="Juliette Colinas2")
          label(for="Juliette Colinas2") Cell Biology — Juliette Colinas
        .flex-container.row
          input(type="radio" value="Anne Mulhall" name="elective2" id="Anne Mulhall2")
          label(for="Anne Mulhall2") Foundations of the Humanities — Anne Mulhall
        .flex-container.row
          input(type="radio" value="David Dussealt" name="elective2" id="David Dussealt2")
          label(for="David Dussealt2") Emerging from the Shadows: Africa in the 21st Century — David Dussealt
        .flex-container.row
          input(type="radio" value="Corinne Doria" name="elective2" id="Corinne Doria2")
          label(for="Corinne Doria2") Medical Humanities: Interdisciplinary Approaches to Medicine and Society — Corinne Doria
        .flex-container.row
          input(type="radio" value="Peter Jones" name="elective2" id="Peter Jones2")
          label(for="Peter Jones2") Essentials of Global History — Peter Jones
        .flex-container.row
          input(type="radio" value="Munesh Chauhan" name="elective2" id="Munesh Chauhan2")
          label(for="Munesh Chauhan2") Computer Hardware and Operating Systems — Munesh Singh Chauhan
        .flex-container.row
          input(type="radio" value="Brain and Behavior" name="elective2" id="Brain and Behavior2")
          label(for="Brain and Behavior2") Brain and Behavior — Krishna K
        .flex-container.row
          input(type="radio" value="Jay Silverstein" name="elective2" id="Jay Silverstein2")
          label(for="Jay Silverstein2") Introduction to Culture — Jay Silverstein
      h3 3rd priority
      div(class="input-group")
        
        .flex-container.row
          input(type="radio" value="Матвей Ломоносов" name="elective3" id="Матвей Ломоносов3")
          label(for="Матвей Ломоносов3") Социологические перспективы — Матвей Ломоносов
        .flex-container.row
          input(type="radio" value="Vitaly Nikolaev" name="elective3" id="Vitaly Nikolaev3")
          label(for="Vitaly Nikolaev3") Math Tools for IT — Vitaly Nikolaev
        .flex-container.row
          input(type="radio" value="Juliette Colinas" name="elective3" id="Juliette Colinas3")
          label(for="Juliette Colinas3") Cell Biology — Juliette Colinas
        .flex-container.row
          input(type="radio" value="Anne Mulhall" name="elective3" id="Anne Mulhall3")
          label(for="Anne Mulhall3") Foundations of the Humanities — Anne Mulhall
        .flex-container.row
          input(type="radio" value="David Dussealt" name="elective3" id="David Dussealt3")
          label(for="David Dussealt3") Emerging from the Shadows: Africa in the 21st Century — David Dussealt
        .flex-container.row
          input(type="radio" value="Corinne Doria" name="elective3" id="Corinne Doria3")
          label(for="Corinne Doria3") Medical Humanities: Interdisciplinary Approaches to Medicine and Society — Corinne Doria
        .flex-container.row
          input(type="radio" value="Peter Jones" name="elective3" id="Peter Jones3")
          label(for="Peter Jones3") Essentials of Global History — Peter Jones
        .flex-container.row
          input(type="radio" value="Munesh Chauhan" name="elective3" id="Munesh Chauhan3")
          label(for="Munesh Chauhan3") Computer Hardware and Operating Systems — Munesh Singh Chauhan
        .flex-container.row
          input(type="radio" value="Brain and Behavior" name="elective3" id="Brain and Behavior3")
          label(for="Brain and Behavior3") Brain and Behavior — Krishna K
        .flex-container.row
          input(type="radio" value="Jay Silverstein" name="elective3" id="Jay Silverstein3")
          label(for="Jay Silverstein3") Introduction to Culture — Jay Silverstein
      h3 4th priority
      div(class="input-group")
        
        .flex-container.row
          input(type="radio" value="Матвей Ломоносов" name="elective4" id="Матвей Ломоносов4")
          label(for="Матвей Ломоносов4") Социологические перспективы — Матвей Ломоносов
        .flex-container.row
          input(type="radio" value="Vitaly Nikolaev" name="elective4" id="Vitaly Nikolaev4")
          label(for="Vitaly Nikolaev4") Math Tools for IT — Vitaly Nikolaev
        .flex-container.row
          input(type="radio" value="Juliette Colinas" name="elective4" id="Juliette Colinas4")
          label(for="Juliette Colinas4") Cell Biology — Juliette Colinas
        .flex-container.row
          input(type="radio" value="Anne Mulhall" name="elective4" id="Anne Mulhall4")
          label(for="Anne Mulhall4") Foundations of the Humanities — Anne Mulhall
        .flex-container.row
          input(type="radio" value="David Dussealt" name="elective4" id="David Dussealt4")
          label(for="David Dussealt4") Emerging from the Shadows: Africa in the 21st Century — David Dussealt
        .flex-container.row
          input(type="radio" value="Corinne Doria" name="elective4" id="Corinne Doria4")
          label(for="Corinne Doria4") Medical Humanities: Interdisciplinary Approaches to Medicine and Society — Corinne Doria
        .flex-container.row
          input(type="radio" value="Peter Jones" name="elective4" id="Peter Jones4")
          label(for="Peter Jones4") Essentials of Global History — Peter Jones
        .flex-container.row
          input(type="radio" value="Munesh Chauhan" name="elective4" id="Munesh Chauhan4")
          label(for="Munesh Chauhan4") Computer Hardware and Operating Systems — Munesh Singh Chauhan
        .flex-container.row
          input(type="radio" value="Brain and Behavior" name="elective4" id="Brain and Behavior4")
          label(for="Brain and Behavior4") Brain and Behavior — Krishna K
        .flex-container.row
          input(type="radio" value="Jay Silverstein" name="elective4" id="Jay Silverstein4")
          label(for="Jay Silverstein4") Introduction to Culture — Jay Silverstein
      h3 ELECTIVE 2
      h3 1st priority
      div(class="input-group")
        
        .flex-container.row
          input(type="radio" value="Матвей Ломоносов" name="elective5" id="Матвей Ломоносов5")
          label(for="Матвей Ломоносов5") Социологические перспективы — Матвей Ломоносов
        .flex-container.row
          input(type="radio" value="Vitaly Nikolaev" name="elective5" id="Vitaly Nikolaev5")
          label(for="Vitaly Nikolaev5") Math Tools for IT — Vitaly Nikolaev
        .flex-container.row
          input(type="radio" value="Juliette Colinas" name="elective5" id="Juliette Colinas5")
          label(for="Juliette Colinas5") Cell Biology — Juliette Colinas
        .flex-container.row
          input(type="radio" value="Anne Mulhall" name="elective5" id="Anne Mulhall5")
          label(for="Anne Mulhall5") Foundations of the Humanities — Anne Mulhall
        .flex-container.row
          input(type="radio" value="David Dussealt" name="elective5" id="David Dussealt5")
          label(for="David Dussealt5") Emerging from the Shadows: Africa in the 21st Century — David Dussealt
        .flex-container.row
          input(type="radio" value="Corinne Doria" name="elective5" id="Corinne Doria5")
          label(for="Corinne Doria5") Medical Humanities: Interdisciplinary Approaches to Medicine and Society — Corinne Doria
        .flex-container.row
          input(type="radio" value="Peter Jones" name="elective5" id="Peter Jones5")
          label(for="Peter Jones5") Essentials of Global History — Peter Jones
        .flex-container.row
          input(type="radio" value="Munesh Chauhan" name="elective5" id="Munesh Chauhan5")
          label(for="Munesh Chauhan5") Computer Hardware and Operating Systems — Munesh Singh Chauhan
        .flex-container.row
          input(type="radio" value="Brain and Behavior" name="elective5" id="Brain and Behavior5")
          label(for="Brain and Behavior5") Brain and Behavior — Krishna K
        .flex-container.row
          input(type="radio" value="Jay Silverstein" name="elective5" id="Jay Silverstein5")
          label(for="Jay Silverstein5") Introduction to Culture — Jay Silverstein
      h3 2nd priority
      div(class="input-group")
        
        .flex-container.row
          input(type="radio" value="Матвей Ломоносов" name="elective6" id="Матвей Ломоносов6")
          label(for="Матвей Ломоносов6") Социологические перспективы — Матвей Ломоносов
        .flex-container.row
          input(type="radio" value="Vitaly Nikolaev" name="elective6" id="Vitaly Nikolaev6")
          label(for="Vitaly Nikolaev6") Math Tools for IT — Vitaly Nikolaev
        .flex-container.row
          input(type="radio" value="Juliette Colinas" name="elective6" id="Juliette Colinas6")
          label(for="Juliette Colinas6") Cell Biology — Juliette Colinas
        .flex-container.row
          input(type="radio" value="Anne Mulhall" name="elective6" id="Anne Mulhall6")
          label(for="Anne Mulhall6") Foundations of the Humanities — Anne Mulhall
        .flex-container.row
          input(type="radio" value="David Dussealt" name="elective6" id="David Dussealt6")
          label(for="David Dussealt6") Emerging from the Shadows: Africa in the 21st Century — David Dussealt
        .flex-container.row
          input(type="radio" value="Corinne Doria" name="elective6" id="Corinne Doria6")
          label(for="Corinne Doria6") Medical Humanities: Interdisciplinary Approaches to Medicine and Society — Corinne Doria
        .flex-container.row
          input(type="radio" value="Peter Jones" name="elective6" id="Peter Jones6")
          label(for="Peter Jones6") Essentials of Global History — Peter Jones
        .flex-container.row
          input(type="radio" value="Munesh Chauhan" name="elective6" id="Munesh Chauhan6")
          label(for="Munesh Chauhan6") Computer Hardware and Operating Systems — Munesh Singh Chauhan
        .flex-container.row
          input(type="radio" value="Brain and Behavior" name="elective6" id="Brain and Behavior6")
          label(for="Brain and Behavior6") Brain and Behavior — Krishna K
        .flex-container.row
          input(type="radio" value="Jay Silverstein" name="elective6" id="Jay Silverstein6")
          label(for="Jay Silverstein6") Introduction to Culture — Jay Silverstein
      h3 3rd priority
      div(class="input-group")
        
        .flex-container.row
          input(type="radio" value="Матвей Ломоносов" name="elective7" id="Матвей Ломоносов7")
          label(for="Матвей Ломоносов7") Социологические перспективы — Матвей Ломоносов
        .flex-container.row
          input(type="radio" value="Vitaly Nikolaev" name="elective7" id="Vitaly Nikolaev7")
          label(for="Vitaly Nikolaev7") Math Tools for IT — Vitaly Nikolaev
        .flex-container.row
          input(type="radio" value="Juliette Colinas" name="elective7" id="Juliette Colinas7")
          label(for="Juliette Colinas7") Cell Biology — Juliette Colinas
        .flex-container.row
          input(type="radio" value="Anne Mulhall" name="elective7" id="Anne Mulhall7")
          label(for="Anne Mulhall7") Foundations of the Humanities — Anne Mulhall
        .flex-container.row
          input(type="radio" value="David Dussealt" name="elective7" id="David Dussealt7")
          label(for="David Dussealt7") Emerging from the Shadows: Africa in the 21st Century — David Dussealt
        .flex-container.row
          input(type="radio" value="Corinne Doria" name="elective7" id="Corinne Doria7")
          label(for="Corinne Doria7") Medical Humanities: Interdisciplinary Approaches to Medicine and Society — Corinne Doria
        .flex-container.row
          input(type="radio" value="Peter Jones" name="elective7" id="Peter Jones7")
          label(for="Peter Jones7") Essentials of Global History — Peter Jones
        .flex-container.row
          input(type="radio" value="Munesh Chauhan" name="elective7" id="Munesh Chauhan7")
          label(for="Munesh Chauhan7") Computer Hardware and Operating Systems — Munesh Singh Chauhan
        .flex-container.row
          input(type="radio" value="Brain and Behavior" name="elective7" id="Brain and Behavior7")
          label(for="Brain and Behavior7") Brain and Behavior — Krishna K
        .flex-container.row
          input(type="radio" value="Jay Silverstein" name="elective7" id="Jay Silverstein7")
          label(for="Jay Silverstein7") Introduction to Culture — Jay Silverstein
      h3 4th priority
      div(class="input-group")
        
        .flex-container.row
          input(type="radio" value="Матвей Ломоносов" name="elective8" id="Матвей Ломоносов8")
          label(for="Матвей Ломоносов8") Социологические перспективы — Матвей Ломоносов
        .flex-container.row
          input(type="radio" value="Vitaly Nikolaev" name="elective8" id="Vitaly Nikolaev8")
          label(for="Vitaly Nikolaev8") Math Tools for IT — Vitaly Nikolaev
        .flex-container.row
          input(type="radio" value="Juliette Colinas" name="elective8" id="Juliette Colinas8")
          label(for="Juliette Colinas8") Cell Biology — Juliette Colinas
        .flex-container.row
          input(type="radio" value="Anne Mulhall" name="elective8" id="Anne Mulhall8")
          label(for="Anne Mulhall8") Foundations of the Humanities — Anne Mulhall
        .flex-container.row
          input(type="radio" value="David Dussealt" name="elective8" id="David Dussealt8")
          label(for="David Dussealt8") Emerging from the Shadows: Africa in the 21st Century — David Dussealt
        .flex-container.row
          input(type="radio" value="Corinne Doria" name="elective8" id="Corinne Doria8")
          label(for="Corinne Doria8") Medical Humanities: Interdisciplinary Approaches to Medicine and Society — Corinne Doria
        .flex-container.row
          input(type="radio" value="Peter Jones" name="elective8" id="Peter Jones8")
          label(for="Peter Jones8") Essentials of Global History — Peter Jones
        .flex-container.row
          input(type="radio" value="Munesh Chauhan" name="elective8" id="Munesh Chauhan8")
          label(for="Munesh Chauhan8") Computer Hardware and Operating Systems — Munesh Singh Chauhan
        .flex-container.row
          input(type="radio" value="Brain and Behavior" name="elective8" id="Brain and Behavior8")
          label(for="Brain and Behavior8") Brain and Behavior — Krishna K
        .flex-container.row
          input(type="radio" value="Jay Silverstein" name="elective8" id="Jay Silverstein8")
          label(for="Jay Silverstein8") Introduction to Culture — Jay Silverstein    
      button(type="submit" class="btn btn-primary btn-lg") Submit
