doctype html
html
  head
    title Feedback
    link(rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css")
    link(rel='stylesheet', href='//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css')
    link(rel='stylesheet', href='/style.css')
    link(rel='stylesheet', href='/cards.css')
    script(src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous")
    script(src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js" integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU=" crossorigin="anonymous")
    script(src="/touch_sortable.js")
body
  .container
    .jumbotron.text-center
      .logo
        a(href="https://sas.utmn.ru")
          img(src="/assets/logo_sas_ut_short-red.svg")
      h1 Electives. Year 2019–2020. 3rd quarter. 
      h3 Sort the following electives in the order from the most preferable to the least (from the top to the bottom).
      h3 NOTE: Please make your choice carefully, because lower priorities may matter.
      form(id="form" action="/polls/electives_2020_1" method="post")
        // DON'T REMOVE THIS INPUT!!!
        input(type="hidden") 
        fieldset   
            .cards
              .portlet
                .portlet-header(id="Psychoanalysis and Happiness") Psychoanalysis and Happiness — Julie Reshe
              .portlet
                .portlet-header(id="The Ecological Crisis") The Ecological Crisis — Louis Vervoort
              .portlet
                .portlet-header(id="Childhood and Politics") Childhood and Politics — Svetlana Erpyleva
              .portlet
                .portlet-header(id="Python Data Analysis & Visualization") Python Data Analysis & Visualization — Vitaly Nikolaev
              .portlet
                .portlet-header(id="University in Crisis") University in Crisis — Mike Shapira
              .portlet
                .portlet-header(id="Liberal Arts") Liberal Arts — Daniel Kontowski
              .portlet
                .portlet-header(id="Alternate Histories") Alternate Histories — Corinne Doria
              .portlet
                .portlet-header(id="Curating Contemporary Art") Curating Contemporary Art — Henry Davidson
              .portlet
                .portlet-header(id="Identity and Performance") Identity and Performance — Henry Davidson
              .portlet
                .portlet-header(id="Thinking on Paper") Thinking on Paper — Melina Aarnikoivu
              .portlet
                .portlet-header(id="Public Speaking") Public Speaking — Melina Aarnikoivu
              .portlet
                .portlet-header(id="Economics, Society, and Law") Economics, Society, and Law — Dmitry Kurnosov
              .portlet
                .portlet-header(id="Economics and behavior") Economics and behavior — Alexander Didenko
        button(type="submit" class="btn btn-primary btn-lg") Submit
    script(src="/cards.js")
    script(src="/default.js")
