doctype html
head
  title The choice of electives
  link(rel='stylesheet', href='//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css')
  // load bootstrap css
  style.
    body        { padding-top:20px;   font-family: 'Agipo-Bold';}
    @font-face {
      font-family: 'Agipo-Bold';
      src:url('../fonts/agipo/Agipo-Bold.woff');
    }
    img {
      width:80%;
      margin-top:10px;
    }
    .logo {padding-bottom:30px}
    h2 {font-weight:800; margin-bottom:20px;}
    .jumbotron h1 {
      font-size:36px;
      margin-bottom: 40px;
    }
    h3 {
      font-size: 1.5em;
      font-weight: 400;
    }
    .jumbotron{
      font-size:18px;
      line-height: initial;
      padding-top: 0px;
    }
    .container{
      width:98% !important;
    }
    .input-group{
      margin-bottom:20px;
    }
    .input-group label {
      font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
      font-weight: 500;
      margin: 10px 0;
      font-size:20px;
      width:93%;
    }
    .input-group .label__description {
      font-family:initial;
    }
    .input-group .form-control {
      margin: 20px 0 40px 0;
      width:75%;
    }
    form {
      margin-top: 30px;
    }
    label,legend {
      text-align: left;
          float: left;
    }
    legend {font-size: 1.8em;}
    input, textarea, select {
      float:left;
      width:75%;
      font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    }

    input[type="radio"] {
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;

      border-radius: 50%;
      width: 38px;
      height: 38px;

      border: 2px solid #999;
      transition: 0.2s all linear;
      outline: none;
      margin-right: 15px;

      position: relative;
      top:0;
      }
      input:focus {
        outline: none !important;
      }
      input:checked {
        border: 12px solid #00f;
      }
      button {
        background-color: #00f !important;
        border: none !important;
      }
      .flex-container {display:flex; flex-direction:column; margin:10px 0;}
      .flex-container.row {flex-direction:row;}

      @media (max-width: 1024px) {

        body{padding-top:10px}
        .container{
        width:95%;
        }
      .input-group  label {
        font-size:30px ;
        margin-bottom:20px;
        }
        input[type="radio"]{
          top:6px;
        }
        button.btn-lg {
          font-size: 30px;
        }
      }
.container
  .jumbotron.text-center
    .logo
      a(href="https://sas.utmn.ru")
        img(src="/assets/Logo__red.png")
    h1 The choice of electives for the next module. The form is available until August 23, 11:00.
    form(action="/polls/electives-2019-3" method="post")
      h3 1st priority
      input(type="hidden" value="biology" name="major")    
      div(class="input-group")
        .flex-container.row
          input(type="radio" value="David Melbye" name="elective1" id="David Melbye1")
          label(for="David Melbye1") Film History and Form I — David Melbye
        .flex-container.row
          input(type="radio" value="Матвей Ломоносов" name="elective1" id="Матвей Ломоносов1")
          label(for="Матвей Ломоносов1") Социологические перспективы — Матвей Ломоносов
        .flex-container.row
          input(type="radio" value="Vitaly Nikolaev" name="elective1" id="Vitaly Nikolaev1")
          label(for="Vitaly Nikolaev1") Math Tools for IT — Vitaly Nikolaev
        .flex-container.row
          input(type="radio" value="Anne Mulhall" name="elective1" id="Anne Mulhall1")
          label(for="Anne Mulhall1") Foundations of the Humanities — Anne Mulhall
        .flex-container.row
          input(type="radio" value="David Dusseault" name="elective1" id="David Dusseault1")
          label(for="David Dusseault1") Emerging from the Shadows: Africa in the 21st Century — David Dusseault
        .flex-container.row
          input(type="radio" value="Corinne Doria" name="elective1" id="Corinne Doria1")
          label(for="Corinne Doria1") Medical Humanities: Interdisciplinary Approaches to Medicine and Society — Corinne Doria
        .flex-container.row
          input(type="radio" value="Peter Jones" name="elective1" id="Peter Jones1")
          label(for="Peter Jones1") Essentials of Global History — Peter Jones
        .flex-container.row
          input(type="radio" value="Munesh Chauhan" name="elective1" id="Munesh Chauhan1")
          label(for="Munesh Chauhan1") Computer Hardware and Operating Systems — Munesh Singh Chauhan
        .flex-container.row
          input(type="radio" value="Jay Silverstein" name="elective1" id="Jay Silverstein1")
          label(for="Jay Silverstein1") Introduction to Culture — Jay Silverstein
      h3 2nd priority
      div(class="input-group")
        .flex-container.row
          input(type="radio" value="David Melbye" name="elective2" id="David Melbye2")
          label(for="David Melbye2") Film History and Form I — David Melbye
        .flex-container.row
          input(type="radio" value="Матвей Ломоносов" name="elective2" id="Матвей Ломоносов2")
          label(for="Матвей Ломоносов2") Социологические перспективы — Матвей Ломоносов
        .flex-container.row
          input(type="radio" value="Vitaly Nikolaev" name="elective2" id="Vitaly Nikolaev2")
          label(for="Vitaly Nikolaev2") Math Tools for IT — Vitaly Nikolaev
        .flex-container.row
          input(type="radio" value="Anne Mulhall" name="elective2" id="Anne Mulhall2")
          label(for="Anne Mulhall2") Foundations of the Humanities — Anne Mulhall
        .flex-container.row
          input(type="radio" value="David Dusseault" name="elective2" id="David Dusseault2")
          label(for="David Dusseault2") Emerging from the Shadows: Africa in the 21st Century — David Dusseault
        .flex-container.row
          input(type="radio" value="Corinne Doria" name="elective2" id="Corinne Doria2")
          label(for="Corinne Doria2") Medical Humanities: Interdisciplinary Approaches to Medicine and Society — Corinne Doria
        .flex-container.row
          input(type="radio" value="Peter Jones" name="elective2" id="Peter Jones2")
          label(for="Peter Jones2") Essentials of Global History — Peter Jones
        .flex-container.row
          input(type="radio" value="Munesh Chauhan" name="elective2" id="Munesh Chauhan2")
          label(for="Munesh Chauhan2") Computer Hardware and Operating Systems — Munesh Singh Chauhan
        .flex-container.row
          input(type="radio" value="Jay Silverstein" name="elective2" id="Jay Silverstein2")
          label(for="Jay Silverstein2") Introduction to Culture — Jay Silverstein
      h3 3rd priority
      div(class="input-group")
        .flex-container.row
          input(type="radio" value="David Melbye" name="elective3" id="David Melbye3")
          label(for="David Melbye3") Film History and Form I — David Melbye
        .flex-container.row
          input(type="radio" value="Матвей Ломоносов" name="elective3" id="Матвей Ломоносов3")
          label(for="Матвей Ломоносов3") Социологические перспективы — Матвей Ломоносов
        .flex-container.row
          input(type="radio" value="Vitaly Nikolaev" name="elective3" id="Vitaly Nikolaev3")
          label(for="Vitaly Nikolaev3") Math Tools for IT — Vitaly Nikolaev
        .flex-container.row
          input(type="radio" value="Anne Mulhall" name="elective3" id="Anne Mulhall3")
          label(for="Anne Mulhall3") Foundations of the Humanities — Anne Mulhall
        .flex-container.row
          input(type="radio" value="David Dusseault" name="elective3" id="David Dusseault3")
          label(for="David Dusseault3") Emerging from the Shadows: Africa in the 21st Century — David Dusseault
        .flex-container.row
          input(type="radio" value="Corinne Doria" name="elective3" id="Corinne Doria3")
          label(for="Corinne Doria3") Medical Humanities: Interdisciplinary Approaches to Medicine and Society — Corinne Doria
        .flex-container.row
          input(type="radio" value="Peter Jones" name="elective3" id="Peter Jones3")
          label(for="Peter Jones3") Essentials of Global History — Peter Jones
        .flex-container.row
          input(type="radio" value="Munesh Chauhan" name="elective3" id="Munesh Chauhan3")
          label(for="Munesh Chauhan3") Computer Hardware and Operating Systems — Munesh Singh Chauhan
        .flex-container.row
          input(type="radio" value="Jay Silverstein" name="elective3" id="Jay Silverstein3")
          label(for="Jay Silverstein3") Introduction to Culture — Jay Silverstein
      h3 4th priority
      div(class="input-group")
        .flex-container.row
          input(type="radio" value="David Melbye" name="elective4" id="David Melbye4")
          label(for="David Melbye4") Film History and Form I — David Melbye
        .flex-container.row
          input(type="radio" value="Матвей Ломоносов" name="elective4" id="Матвей Ломоносов4")
          label(for="Матвей Ломоносов4") Социологические перспективы — Матвей Ломоносов
        .flex-container.row
          input(type="radio" value="Vitaly Nikolaev" name="elective4" id="Vitaly Nikolaev4")
          label(for="Vitaly Nikolaev4") Math Tools for IT — Vitaly Nikolaev
        .flex-container.row
          input(type="radio" value="Anne Mulhall" name="elective4" id="Anne Mulhall4")
          label(for="Anne Mulhall4") Foundations of the Humanities — Anne Mulhall
        .flex-container.row
          input(type="radio" value="David Dusseault" name="elective4" id="David Dusseault4")
          label(for="David Dusseault4") Emerging from the Shadows: Africa in the 21st Century — David Dusseault
        .flex-container.row
          input(type="radio" value="Corinne Doria" name="elective4" id="Corinne Doria4")
          label(for="Corinne Doria4") Medical Humanities: Interdisciplinary Approaches to Medicine and Society — Corinne Doria
        .flex-container.row
          input(type="radio" value="Peter Jones" name="elective4" id="Peter Jones4")
          label(for="Peter Jones4") Essentials of Global History — Peter Jones
        .flex-container.row
          input(type="radio" value="Munesh Chauhan" name="elective4" id="Munesh Chauhan4")
          label(for="Munesh Chauhan4") Computer Hardware and Operating Systems — Munesh Singh Chauhan
        .flex-container.row
          input(type="radio" value="Jay Silverstein" name="elective4" id="Jay Silverstein4")
          label(for="Jay Silverstein4") Introduction to Culture — Jay Silverstein  
      button(type="submit" class="btn btn-primary btn-lg") Submit
