doctype html
head
  title The choice of electives
  link(rel='stylesheet', href='//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css')
  // load bootstrap css
  style.
    body        { padding-top:20px;   font-family: 'Agipo-Bold',Helvetica,Arial,sans-serif;}
    @font-face {
      font-family: 'Agipo-Bold';
      src:url('../fonts/agipo/Agipo-Bold.woff');
    }
    @font-face {
      font-family: 'Agipo-Regular';
      src:url('fonts/agipo/Agipo-Regular.woff');
    }
    img {
      width:100%;
    }
    .logo {padding-bottom:30px}
    h2 {font-weight:800; margin-bottom:20px;}
    .jumbotron h1 {
      font-size:36px;
      margin-bottom: 40px;
    }
    h3 {
      font-size: 1.5em;
      font-weight: 400;
      font-family: 'Agipo-Bold',Helvetica,Arial,sans-serif;
    }
    .jumbotron{
      font-size:18px;
      line-height: initial;
    }
    .container{
      width:98% !important;
    }
    .input-group{
      margin-bottom:20px;
    }
    .input-group label {
      font-family: "Agipo-Regular",Helvetica,Arial,sans-serif;
      font-weight: 500;
      margin: 10px 0;
      font-size:20px;
      width:93%;
    }
    .input-group .label__description {
      font-family:initial;
    }
    .input-group .form-control {
      margin: 20px 0 40px 0;
      width:75%;
    }
    form {
      margin-top: 30px;
    }
    label,legend {
      text-align: left;
          float: left;
    }
    legend {font-size: 1.8em;}
    input, textarea, select {
      float:left;
      width:75%;
      font-family: "Agipo-Regular",Helvetica,Arial,sans-serif;
    }

    input[type="radio"] {
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;

      border-radius: 50%;
      width: 38px;
      height: 38px;

      border: 2px solid #999;
      transition: 0.2s all linear;
      outline: none;
      margin-right: 15px;

      position: relative;
      top:0px;
      }
      input:focus {
        outline: none !important;
      }
      input:checked {
        border: 12px solid #00f;
      }
      button {
        background-color: #00f !important;
      }

      .label_desc {
        font-size:15px;
        margin-top:10px;
      }
      .flex-container {display:flex; margin:10px 0;}


      @media (max-width: 1024px) {

        body{padding-top:10px}
        .container{
        width:95%;
        }
      .input-group  label {
        font-size:30px ;
        margin-bottom:20px;
        }
        input[type="radio"]{
          top:6px;
        }
        button.btn-lg {
          font-size: 30px;
        }
        .label_desc {
          font-size:26px;
        }
      }
      @media screen and (min-width: 768px){
      .jumbotron {padding-top: 0px;}
      }
.container
  .jumbotron.text-center
    .logo
      a(href="https://sas.utmn.ru")
        img(src="../assets/Logo__blue.png")
    h1 The choice of electives for the 2nd module. The form is available until October 14, 18:00.
    form(action="/polls/electives-2018-1-1st-course" method="post")
      h2 1st elective
      h3 1st priority
      div(class="input-group")
        .flex-container
          input(type="radio" value="Anne Mulhall" name="elective1" id="Anne Mulhall1")
          label(for="Anne Mulhall1") Anne Mulhall — Work Stories
        .flex-container
          input(type="radio" value="Tomasz Blusiewicz" name="elective1" id="Tomasz Blusiewicz1")
          label(for="Tomasz Blusiewicz1") Tomasz Blusiewicz	— The Age of Total War – Global Conflict in the Short Twentieth Century, 1914–1991
        .flex-container
          input(type="radio" value="Evgeny Grishin" name="elective1" id="Evgeny Grishin1")
          label(for="Evgeny Grishin1") Evgeny Grishin — Bible and Contexts I: Introduction to the Old Testament
        .flex-container
          input(type="radio" value="Denis Sharapov" name="elective1" id="Denis Sharapov1")
          label(for="Denis Sharapov1") Introduction to American Anthropology — Denis Sharapov
        .flex-container
          input(type="radio" value="Наталья Савельева" name="elective1" id="Наталья Савельева1")
          label(for="Наталья Савельева1") Наталья Савельева — Почему мы верим?
        .flex-container
          input(type="radio" value="Матвей Ломоносов" name="elective1" id="Матвей Ломоносов1")
          label(for="Матвей Ломоносов1") Матвей Ломоносов	— Социологическое воображение
        .flex-container
          input(type="radio" value="Светлана Ерпылева" name="elective1" id="Светлана Ерпылева1")
          label(for="Светлана Ерпылева1") Светлана Ерпылева — Теории социализации: как мы становимся теми, кто мы есть
        .flex-container
          input(type="radio" value="Дмитрий Кыров" name="elective1" id="Дмитрий Кыров1")
          label(for="Дмитрий Кыров1") Дмитрий Кыров — Введение в науки о жизни
        .flex-container
          input(type="radio" value="Команда СКБ-Контур" name="elective1" id="Команда СКБ-Контур1")
          label(for="Команда СКБ-Контур1") Команда СКБ-Контур	— Основы программирования на языке C#
        .flex-container
          input(type="radio" value="English" name="elective1" id="English1")
          label(for="English1") English language course	
      h3 2nd priority
      div(class="input-group")
        .flex-container
          input(type="radio" value="Anne Mulhall" name="elective2" id="Anne Mulhall2")
          label(for="Anne Mulhall2") Anne Mulhall — Work Stories
        .flex-container
          input(type="radio" value="Tomasz Blusiewicz" name="elective2" id="Tomasz Blusiewicz2")
          label(for="Tomasz Blusiewicz2") Tomasz Blusiewicz	— The Age of Total War – Global Conflict in the Short Twentieth Century, 1914–1991
        .flex-container
          input(type="radio" value="Evgeny Grishin" name="elective2" id="Evgeny Grishin2")
          label(for="Evgeny Grishin2") Evgeny Grishin — Bible and Contexts I: Introduction to the Old Testament
        .flex-container
          input(type="radio" value="Denis Sharapov" name="elective2" id="Denis Sharapov2")
          label(for="Denis Sharapov2") Introduction to American Anthropology — Denis Sharapov
        .flex-container
          input(type="radio" value="Наталья Савельева" name="elective2" id="Наталья Савельева2")
          label(for="Наталья Савельева2") Наталья Савельева — Почему мы верим?
        .flex-container
          input(type="radio" value="Матвей Ломоносов" name="elective2" id="Матвей Ломоносов2")
          label(for="Матвей Ломоносов2") Матвей Ломоносов	— Социологическое воображение
        .flex-container
          input(type="radio" value="Светлана Ерпылева" name="elective2" id="Светлана Ерпылева2")
          label(for="Светлана Ерпылева2") Светлана Ерпылева — Теории социализации: как мы становимся теми, кто мы есть
        .flex-container
          input(type="radio" value="Дмитрий Кыров" name="elective2" id="Дмитрий Кыров2")
          label(for="Дмитрий Кыров2") Дмитрий Кыров — Введение в науки о жизни
        .flex-container
          input(type="radio" value="Команда СКБ-Контур" name="elective2" id="Команда СКБ-Контур2")
          label(for="Команда СКБ-Контур2") Команда СКБ-Контур	— Основы программирования на языке C#
        .flex-container
          input(type="radio" value="English" name="elective2" id="English2")
          label(for="English2") English language course	
      h3 3rd priority
      div(class="input-group")
        .flex-container
          input(type="radio" value="Anne Mulhall" name="elective3" id="Anne Mulhall3")
          label(for="Anne Mulhall3") Anne Mulhall — Work Stories
        .flex-container
          input(type="radio" value="Tomasz Blusiewicz" name="elective3" id="Tomasz Blusiewicz3")
          label(for="Tomasz Blusiewicz3") Tomasz Blusiewicz	— The Age of Total War – Global Conflict in the Short Twentieth Century, 1914–1991
        .flex-container
          input(type="radio" value="Evgeny Grishin" name="elective3" id="Evgeny Grishin3")
          label(for="Evgeny Grishin3") Evgeny Grishin — Bible and Contexts I: Introduction to the Old Testament
        .flex-container
          input(type="radio" value="Denis Sharapov" name="elective3" id="Denis Sharapov3")
          label(for="Denis Sharapov3") Introduction to American Anthropology — Denis Sharapov
        .flex-container
          input(type="radio" value="Наталья Савельева" name="elective3" id="Наталья Савельева3")
          label(for="Наталья Савельева3") Наталья Савельева — Почему мы верим?
        .flex-container
          input(type="radio" value="Матвей Ломоносов" name="elective3" id="Матвей Ломоносов3")
          label(for="Матвей Ломоносов3") Матвей Ломоносов	— Социологическое воображение
        .flex-container
          input(type="radio" value="Светлана Ерпылева" name="elective3" id="Светлана Ерпылева3")
          label(for="Светлана Ерпылева3") Светлана Ерпылева — Теории социализации: как мы становимся теми, кто мы есть
        .flex-container
          input(type="radio" value="Дмитрий Кыров" name="elective3" id="Дмитрий Кыров3")
          label(for="Дмитрий Кыров3") Дмитрий Кыров — Введение в науки о жизни
        .flex-container
          input(type="radio" value="Команда СКБ-Контур" name="elective3" id="Команда СКБ-Контур3")
          label(for="Команда СКБ-Контур3") Команда СКБ-Контур	— Основы программирования на языке C#
        .flex-container
          input(type="radio" value="English" name="elective3" id="English3")
          label(for="English3") English language course	        
      h2 2nd elective
      h3 1st priority
      div(class="input-group")
        .flex-container
          input(type="radio" value="Anne Mulhall" name="elective4" id="Anne Mulhall4")
          label(for="Anne Mulhall4") Anne Mulhall — Work Stories
        .flex-container
          input(type="radio" value="Tomasz Blusiewicz" name="elective4" id="Tomasz Blusiewicz4")
          label(for="Tomasz Blusiewicz4") Tomasz Blusiewicz	— The Age of Total War – Global Conflict in the Short Twentieth Century, 1914–1991
        .flex-container
          input(type="radio" value="Evgeny Grishin" name="elective4" id="Evgeny Grishin4")
          label(for="Evgeny Grishin4") Evgeny Grishin — Bible and Contexts I: Introduction to the Old Testament
        .flex-container
          input(type="radio" value="Denis Sharapov" name="elective4" id="Denis Sharapov4")
          label(for="Denis Sharapov4") Introduction to American Anthropology — Denis Sharapov
        .flex-container
          input(type="radio" value="Наталья Савельева" name="elective4" id="Наталья Савельева4")
          label(for="Наталья Савельева4") Наталья Савельева — Почему мы верим?
        .flex-container
          input(type="radio" value="Матвей Ломоносов" name="elective4" id="Матвей Ломоносов4")
          label(for="Матвей Ломоносов4") Матвей Ломоносов	— Социологическое воображение
        .flex-container
          input(type="radio" value="Светлана Ерпылева" name="elective4" id="Светлана Ерпылева4")
          label(for="Светлана Ерпылева4") Светлана Ерпылева — Теории социализации: как мы становимся теми, кто мы есть
        .flex-container
          input(type="radio" value="Дмитрий Кыров" name="elective4" id="Дмитрий Кыров4")
          label(for="Дмитрий Кыров4") Дмитрий Кыров — Введение в науки о жизни
        .flex-container
          input(type="radio" value="Команда СКБ-Контур" name="elective4" id="Команда СКБ-Контур4")
          label(for="Команда СКБ-Контур4") Команда СКБ-Контур	— Основы программирования на языке C#
        .flex-container
          input(type="radio" value="English" name="elective4" id="English4")
          label(for="English4") English language course	        
      h3 2nd priority
      div(class="input-group")
        .flex-container
          input(type="radio" value="Anne Mulhall" name="elective5" id="Anne Mulhall5")
          label(for="Anne Mulhall5") Anne Mulhall — Work Stories
        .flex-container
          input(type="radio" value="Tomasz Blusiewicz" name="elective5" id="Tomasz Blusiewicz5")
          label(for="Tomasz Blusiewicz5") Tomasz Blusiewicz	— The Age of Total War – Global Conflict in the Short Twentieth Century, 1914–1991
        .flex-container
          input(type="radio" value="Evgeny Grishin" name="elective5" id="Evgeny Grishin5")
          label(for="Evgeny Grishin5") Evgeny Grishin — Bible and Contexts I: Introduction to the Old Testament
        .flex-container
          input(type="radio" value="Denis Sharapov" name="elective5" id="Denis Sharapov5")
          label(for="Denis Sharapov5") Introduction to American Anthropology — Denis Sharapov
        .flex-container
          input(type="radio" value="Наталья Савельева" name="elective5" id="Наталья Савельева5")
          label(for="Наталья Савельева5") Наталья Савельева — Почему мы верим?
        .flex-container
          input(type="radio" value="Матвей Ломоносов" name="elective5" id="Матвей Ломоносов5")
          label(for="Матвей Ломоносов5") Матвей Ломоносов	— Социологическое воображение
        .flex-container
          input(type="radio" value="Светлана Ерпылева" name="elective5" id="Светлана Ерпылева5")
          label(for="Светлана Ерпылева5") Светлана Ерпылева — Теории социализации: как мы становимся теми, кто мы есть
        .flex-container
          input(type="radio" value="Дмитрий Кыров" name="elective5" id="Дмитрий Кыров5")
          label(for="Дмитрий Кыров5") Дмитрий Кыров — Введение в науки о жизни
        .flex-container
          input(type="radio" value="Команда СКБ-Контур" name="elective5" id="Команда СКБ-Контур5")
          label(for="Команда СКБ-Контур5") Команда СКБ-Контур	— Основы программирования на языке C#
        .flex-container
          input(type="radio" value="English" name="elective5" id="English5")
          label(for="English5") English language course	        
      h3 3rd priority
      div(class="input-group")
        .flex-container
          input(type="radio" value="Anne Mulhall" name="elective6" id="Anne Mulhall6")
          label(for="Anne Mulhall6") Anne Mulhall — Work Stories
        .flex-container
          input(type="radio" value="Tomasz Blusiewicz" name="elective6" id="Tomasz Blusiewicz6")
          label(for="Tomasz Blusiewicz6") Tomasz Blusiewicz	— The Age of Total War – Global Conflict in the Short Twentieth Century, 1914–1991
        .flex-container
          input(type="radio" value="Evgeny Grishin" name="elective6" id="Evgeny Grishin6")
          label(for="Evgeny Grishin6") Evgeny Grishin — Bible and Contexts I: Introduction to the Old Testament
        .flex-container
          input(type="radio" value="Denis Sharapov" name="elective6" id="Denis Sharapov6")
          label(for="Denis Sharapov6") Introduction to American Anthropology — Denis Sharapov
        .flex-container
          input(type="radio" value="Наталья Савельева" name="elective6" id="Наталья Савельева6")
          label(for="Наталья Савельева6") Наталья Савельева — Почему мы верим?
        .flex-container
          input(type="radio" value="Матвей Ломоносов" name="elective6" id="Матвей Ломоносов6")
          label(for="Матвей Ломоносов6") Матвей Ломоносов	— Социологическое воображение
        .flex-container
          input(type="radio" value="Светлана Ерпылева" name="elective6" id="Светлана Ерпылева6")
          label(for="Светлана Ерпылева6") Светлана Ерпылева — Теории социализации: как мы становимся теми, кто мы есть
        .flex-container
          input(type="radio" value="Дмитрий Кыров" name="elective6" id="Дмитрий Кыров6")
          label(for="Дмитрий Кыров6") Дмитрий Кыров — Введение в науки о жизни
        .flex-container
          input(type="radio" value="Команда СКБ-Контур" name="elective6" id="Команда СКБ-Контур6")
          label(for="Команда СКБ-Контур6") Команда СКБ-Контур	— Основы программирования на языке C#
        .flex-container
          input(type="radio" value="English" name="elective6" id="English6")
          label(for="English6") English language course	        
      button(type="submit" class="btn btn-primary btn-lg") Submit
