doctype html
head
  title The choice of electives
  link(rel='stylesheet', href='//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css')
  // load bootstrap css
  style.
    body        { padding-top:20px;   font-family: 'Agipo-Bold';}
    @font-face {
      font-family: 'Agipo-Bold';
      src:url('../fonts/agipo/Agipo-Bold.woff');
    }
    img {
      width:80%;
      margin-top:10px;
    }
    .logo {padding-bottom:30px}
    h2 {font-weight:800; margin-bottom:20px;}
    .jumbotron h1 {
      font-size:36px;
      margin-bottom: 40px;
    }
    h3 {
      font-size: 1.5em;
      font-weight: 400;
    }
    .jumbotron{
      font-size:18px;
      line-height: initial;
      padding-top: 0px;
    }
    .container{
      width:98% !important;
    }
    .input-group{
      margin-bottom:20px;
    }
    .input-group label {
      font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
      font-weight: 500;
      margin: 10px 0;
      font-size:20px;
        width:93%;
    }
    .input-group .label__description {
      font-family:initial;
    }
    .input-group .form-control {
      margin: 20px 0 40px 0;
      width:75%;
    }
    form {
      margin-top: 30px;
    }
    label,legend {
      text-align: left;
          float: left;
    }
    legend {font-size: 1.8em;}
    input, textarea, select {
      float:left;
      width:75%;
      font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    }

    input[type="checkbox"] {
      /* -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none; */

      width: 38px;
      height: 38px;

      border: 2px solid #999;
      transition: 0.2s all linear;
      outline: none;
      margin-right: 15px;

      position: relative;
      top:0;
      zoom:1.1;
      }
      input[type="checkbox"]:disabled {
        opacity:0.3;
      }
      input:focus {
        outline: none !important;
      }
      input:checked {
        border: 2px solid #00f;
      }
      button {
        background-color: #00f !important;
        border: none !important;
      }
      .flex-container {display:flex; flex-direction:column; margin:10px 0;}
      .flex-container.row{flex-direction:row;}

      @media (max-width: 1024px) {

        body{padding-top:10px}
        .container{
        width:95%;
        }
      .input-group  label {
        font-size:30px ;
        margin-bottom:20px;
        }
        input[type="checkbox"]{
          top:6px;
          zoom:1.1;
        }
        button.btn-lg {
          font-size: 30px;
        }
      }
.container
  .jumbotron.text-center
    .logo
      a(href="https://sas.utmn.ru")
        img(src="/assets/logo_sas_ut_short-01.svg")
    h1 The choice of electives for the 8th module. The form is available until April 1, 12:00.
    form(action="/polls/electives-2019-2-2nd-year" method="post")
      h2 1st elective
      h3 1st priority
      div(class="input-group elective1")
        .flex-container.row
          input(type="checkbox" value="Zachary Reyna" class="group2" name="elective1" id="Zachary Reyna1")
          label(for="Zachary Reyna1") Zachary Reyna — What is the Anthropocene?
        .flex-container.row
          input(type="checkbox" value="Giacomo Andreoletti" class="group1" name="elective1" id="Giacomo Andreoletti1")
          label(for="Giacomo Andreoletti1") Giacomo Andreoletti — Formal Logic
        .flex-container.row
          input(type="checkbox" value="Tomasz Blusiewicz" class="group3" name="elective1" id="Tomasz Blusiewicz1")
          label(for="Tomasz Blusiewicz1") Tomasz Blusiewicz — History of Germany, 1701–1914
        .flex-container.row
          input(type="checkbox" value="Erika Wolf" class="group1" name="elective1" id="Erika Wolf1")
          label(for="Erika Wolf1") Erika Wolf — Image Scavengers: Collage, Montage, and Appropriation in 20th Century Art
        .flex-container.row
          input(type="checkbox" value="Anne Mulhall" class="group2" name="elective1" id="Anne Mulhall1")
          label(for="Anne Mulhall1") Anne Mulhall — Contemporary Italian Political Philosophy
        .flex-container.row
          input(type="checkbox" value="Duskin Drum" class="group2" name="elective1" id="Duskin Drum1")
          label(for="Duskin Drum1") Duskin Drum — Ecology, Technology and Anime
        .flex-container.row
          input(type="checkbox" value="John Tangney" class="group3" name="elective1" id="John Tangney1")
          label(for="John Tangney1") John Tangney — Modern American Poetry
        .flex-container.row
          input(type="checkbox" value="David Dusseault" class="group3" name="elective1" id="David Dusseault1")
          label(for="David Dusseault1") David Dusseault — Introduction to Post-Human Politics
        .flex-container.row
          input(type="checkbox" value="Juliette Colinas" class="group1" name="elective1" id="Juliette Colinas1")
          label(for="Juliette Colinas1") Juliette Colinas — Evolution: History, Principles, Case-Studies
        .flex-container.row
          input(type="checkbox" value="Арсений Столяров" class="group4" name="elective1" id="Арсений Столяров1")
          label(for="Арсений Столяров1") Арсений Столяров — Поведенческая экономика
        .flex-container.row
          input(type="checkbox" value="Ольга Добровидова" class="group4" name="elective1" id="Ольга Добровидова1")
          label(for="Ольга Добровидова1") Ольга Добровидова — Научная коммуникация
        .flex-container.row
          input(type="checkbox" value="Arne Dietrich" class="group4" name="elective1" id="Arne Dietrich1")
          label(for="Arne Dietrich1") Arne Dietrich — How Creativity Happens in the Brain
        .flex-container.row
          input(type="checkbox" value="Denis Sharapov" class="group2" name="elective1" id="Denis Sharapov1")
          label(for="Denis Sharapov1") Denis Sharapov — Anthropological Archaeology
        .flex-container.row
          input(type="checkbox" value="Louis Vervoort" class="group1" name="elective1" id="Louis Vervoort1")
          label(for="Louis Vervoort1") Louis Vervoort — Introduction to Philosophy of Science
        .flex-container.row
          input(type="checkbox" value="Evgeny Grishin" class="group4" name="elective1" id="Evgeny Grishin1")
          label(for="Evgeny Grishin1") Evgeny Grishin, duskin drum, Peter Jones — Visions of the past, histories of the future in historical & sci-fi films
      h3 2nd priority
      div(class="input-group elective1")
        .flex-container.row
          input(type="checkbox" value="Zachary Reyna" class="group2" name="elective2" id="Zachary Reyna2")
          label(for="Zachary Reyna2") Zachary Reyna — What is the Anthropocene?
        .flex-container.row
          input(type="checkbox" value="Giacomo Andreoletti" class="group1" name="elective2" id="Giacomo Andreoletti2")
          label(for="Giacomo Andreoletti2") Giacomo Andreoletti — Formal Logic
        .flex-container.row
          input(type="checkbox" value="Tomasz Blusiewicz" class="group3" name="elective2" id="Tomasz Blusiewicz2")
          label(for="Tomasz Blusiewicz2") Tomasz Blusiewicz — History of Germany, 1701–1914
        .flex-container.row
          input(type="checkbox" value="Erika Wolf" class="group1" name="elective2" id="Erika Wolf2")
          label(for="Erika Wolf2") Erika Wolf — Image Scavengers: Collage, Montage, and Appropriation in 20th Century Art
        .flex-container.row
          input(type="checkbox" value="Anne Mulhall" class="group2" name="elective2" id="Anne Mulhall2")
          label(for="Anne Mulhall2") Anne Mulhall — Contemporary Italian Political Philosophy
        .flex-container.row
          input(type="checkbox" value="Duskin Drum" class="group2" name="elective2" id="Duskin Drum2")
          label(for="Duskin Drum2") Duskin Drum — Ecology, Technology and Anime
        .flex-container.row
          input(type="checkbox" value="John Tangney" class="group3" name="elective2" id="John Tangney2")
          label(for="John Tangney2") John Tangney — Modern American Poetry
        .flex-container.row
          input(type="checkbox" value="David Dusseault" class="group3" name="elective2" id="David Dusseault2")
          label(for="David Dusseault2") David Dusseault — Introduction to Post-Human Politics
        .flex-container.row
          input(type="checkbox" value="Juliette Colinas" class="group1" name="elective2" id="Juliette Colinas2")
          label(for="Juliette Colinas2") Juliette Colinas — Evolution: History, Principles, Case-Studies
        .flex-container.row
          input(type="checkbox" value="Арсений Столяров" class="group4" name="elective2" id="Арсений Столяров2")
          label(for="Арсений Столяров2") Арсений Столяров — Поведенческая экономика
        .flex-container.row
          input(type="checkbox" value="Ольга Добровидова" class="group4" name="elective2" id="Ольга Добровидова2")
          label(for="Ольга Добровидова2") Ольга Добровидова — Научная коммуникация
        .flex-container.row
          input(type="checkbox" value="Arne Dietrich" class="group4" name="elective2" id="Arne Dietrich2")
          label(for="Arne Dietrich2") Arne Dietrich — How Creativity Happens in the Brain
        .flex-container.row
          input(type="checkbox" value="Denis Sharapov" class="group2" name="elective2" id="Denis Sharapov2")
          label(for="Denis Sharapov2") Denis Sharapov — Anthropological Archaeology
        .flex-container.row
          input(type="checkbox" value="Louis Vervoort" class="group1" name="elective2" id="Louis Vervoort2")
          label(for="Louis Vervoort2") Louis Vervoort — Introduction to Philosophy of Science
        .flex-container.row
          input(type="checkbox" value="Evgeny Grishin" class="group4" name="elective2" id="Evgeny Grishin2")
          label(for="Evgeny Grishin2") Evgeny Grishin, duskin drum, Peter Jones — Visions of the past, histories of the future in historical & sci-fi films  
      h3 3rd priority
      div(class="input-group elective1")
        .flex-container.row
          input(type="checkbox" value="Zachary Reyna" class="group2" name="elective3" id="Zachary Reyna3")
          label(for="Zachary Reyna3") Zachary Reyna — What is the Anthropocene?
        .flex-container.row
          input(type="checkbox" value="Giacomo Andreoletti" class="group1" name="elective3" id="Giacomo Andreoletti3")
          label(for="Giacomo Andreoletti3") Giacomo Andreoletti — Formal Logic
        .flex-container.row
          input(type="checkbox" value="Tomasz Blusiewicz" class="group3" name="elective3" id="Tomasz Blusiewicz3")
          label(for="Tomasz Blusiewicz3") Tomasz Blusiewicz — History of Germany, 1701–1914
        .flex-container.row
          input(type="checkbox" value="Erika Wolf" class="group1" name="elective3" id="Erika Wolf3")
          label(for="Erika Wolf3") Erika Wolf — Image Scavengers: Collage, Montage, and Appropriation in 20th Century Art
        .flex-container.row
          input(type="checkbox" value="Anne Mulhall" class="group2" name="elective3" id="Anne Mulhall3")
          label(for="Anne Mulhall3") Anne Mulhall — Contemporary Italian Political Philosophy
        .flex-container.row
          input(type="checkbox" value="Duskin Drum" class="group2" name="elective3" id="Duskin Drum3")
          label(for="Duskin Drum3") Duskin Drum — Ecology, Technology and Anime
        .flex-container.row
          input(type="checkbox" value="John Tangney" class="group3" name="elective3" id="John Tangney3")
          label(for="John Tangney3") John Tangney — Modern American Poetry
        .flex-container.row
          input(type="checkbox" value="David Dusseault" class="group3" name="elective3" id="David Dusseault3")
          label(for="David Dusseault3") David Dusseault — Introduction to Post-Human Politics
        .flex-container.row
          input(type="checkbox" value="Juliette Colinas" class="group1" name="elective3" id="Juliette Colinas3")
          label(for="Juliette Colinas3") Juliette Colinas — Evolution: History, Principles, Case-Studies
        .flex-container.row
          input(type="checkbox" value="Арсений Столяров" class="group4" name="elective3" id="Арсений Столяров3")
          label(for="Арсений Столяров3") Арсений Столяров — Поведенческая экономика
        .flex-container.row
          input(type="checkbox" value="Ольга Добровидова" class="group4" name="elective3" id="Ольга Добровидова3")
          label(for="Ольга Добровидова3") Ольга Добровидова — Научная коммуникация
        .flex-container.row
          input(type="checkbox" value="Arne Dietrich" class="group4" name="elective3" id="Arne Dietrich3")
          label(for="Arne Dietrich3") Arne Dietrich — How Creativity Happens in the Brain
        .flex-container.row
          input(type="checkbox" value="Denis Sharapov" class="group2" name="elective3" id="Denis Sharapov3")
          label(for="Denis Sharapov3") Denis Sharapov — Anthropological Archaeology
        .flex-container.row
          input(type="checkbox" value="Louis Vervoort" class="group1" name="elective3" id="Louis Vervoort3")
          label(for="Louis Vervoort3") Louis Vervoort — Introduction to Philosophy of Science
        .flex-container.row
          input(type="checkbox" value="Evgeny Grishin" class="group4" name="elective3" id="Evgeny Grishin3")
          label(for="Evgeny Grishin3") Evgeny Grishin, duskin drum, Peter Jones — Visions of the past, histories of the future in historical & sci-fi films
      h3 4th priority
      div(class="input-group elective1")
        .flex-container.row
          input(type="checkbox" value="Zachary Reyna" class="group2" name="elective4" id="Zachary Reyna4")
          label(for="Zachary Reyna4") Zachary Reyna — What is the Anthropocene?
        .flex-container.row
          input(type="checkbox" value="Giacomo Andreoletti" class="group1" name="elective4" id="Giacomo Andreoletti4")
          label(for="Giacomo Andreoletti4") Giacomo Andreoletti — Formal Logic
        .flex-container.row
          input(type="checkbox" value="Tomasz Blusiewicz" class="group3" name="elective4" id="Tomasz Blusiewicz4")
          label(for="Tomasz Blusiewicz4") Tomasz Blusiewicz — History of Germany, 1701–1914
        .flex-container.row
          input(type="checkbox" value="Erika Wolf" class="group1" name="elective4" id="Erika Wolf4")
          label(for="Erika Wolf4") Erika Wolf — Image Scavengers: Collage, Montage, and Appropriation in 20th Century Art
        .flex-container.row
          input(type="checkbox" value="Anne Mulhall" class="group2" name="elective4" id="Anne Mulhall4")
          label(for="Anne Mulhall4") Anne Mulhall — Contemporary Italian Political Philosophy
        .flex-container.row
          input(type="checkbox" value="Duskin Drum" class="group2" name="elective4" id="Duskin Drum4")
          label(for="Duskin Drum4") Duskin Drum — Ecology, Technology and Anime
        .flex-container.row
          input(type="checkbox" value="John Tangney" class="group3" name="elective4" id="John Tangney4")
          label(for="John Tangney4") John Tangney — Modern American Poetry
        .flex-container.row
          input(type="checkbox" value="David Dusseault" class="group3" name="elective4" id="David Dusseault4")
          label(for="David Dusseault4") David Dusseault — Introduction to Post-Human Politics
        .flex-container.row
          input(type="checkbox" value="Juliette Colinas" class="group1" name="elective4" id="Juliette Colinas4")
          label(for="Juliette Colinas4") Juliette Colinas — Evolution: History, Principles, Case-Studies
        .flex-container.row
          input(type="checkbox" value="Арсений Столяров" class="group4" name="elective4" id="Арсений Столяров4")
          label(for="Арсений Столяров4") Арсений Столяров — Поведенческая экономика
        .flex-container.row
          input(type="checkbox" value="Ольга Добровидова" class="group4" name="elective4" id="Ольга Добровидова4")
          label(for="Ольга Добровидова4") Ольга Добровидова — Научная коммуникация
        .flex-container.row
          input(type="checkbox" value="Arne Dietrich" class="group4" name="elective4" id="Arne Dietrich4")
          label(for="Arne Dietrich4") Arne Dietrich — How Creativity Happens in the Brain
        .flex-container.row
          input(type="checkbox" value="Denis Sharapov" class="group2" name="elective4" id="Denis Sharapov4")
          label(for="Denis Sharapov4") Denis Sharapov — Anthropological Archaeology
        .flex-container.row
          input(type="checkbox" value="Louis Vervoort" class="group1" name="elective4" id="Louis Vervoort4")
          label(for="Louis Vervoort4") Louis Vervoort — Introduction to Philosophy of Science
        .flex-container.row
          input(type="checkbox" value="Evgeny Grishin" class="group4" name="elective4" id="Evgeny Grishin4")
          label(for="Evgeny Grishin4") Evgeny Grishin, duskin drum, Peter Jones — Visions of the past, histories of the future in historical & sci-fi films       
      h2 2nd elective  
      h3 1st priority
      div(class="input-group elective2")
        .flex-container.row
          input(type="checkbox" value="Zachary Reyna" class="group2" name="elective5" id="Zachary Reyna5")
          label(for="Zachary Reyna5") Zachary Reyna — What is the Anthropocene?
        .flex-container.row
          input(type="checkbox" value="Giacomo Andreoletti" class="group1" name="elective5" id="Giacomo Andreoletti5")
          label(for="Giacomo Andreoletti5") Giacomo Andreoletti — Formal Logic
        .flex-container.row
          input(type="checkbox" value="Tomasz Blusiewicz" class="group3" name="elective5" id="Tomasz Blusiewicz5")
          label(for="Tomasz Blusiewicz5") Tomasz Blusiewicz — History of Germany, 1701–1914
        .flex-container.row
          input(type="checkbox" value="Erika Wolf" class="group1" name="elective5" id="Erika Wolf5")
          label(for="Erika Wolf5") Erika Wolf — Image Scavengers: Collage, Montage, and Appropriation in 20th Century Art
        .flex-container.row
          input(type="checkbox" value="Anne Mulhall" class="group2" name="elective5" id="Anne Mulhall5")
          label(for="Anne Mulhall5") Anne Mulhall — Contemporary Italian Political Philosophy
        .flex-container.row
          input(type="checkbox" value="Duskin Drum" class="group2" name="elective5" id="Duskin Drum5")
          label(for="Duskin Drum5") Duskin Drum — Ecology, Technology and Anime
        .flex-container.row
          input(type="checkbox" value="John Tangney" class="group3" name="elective5" id="John Tangney5")
          label(for="John Tangney5") John Tangney — Modern American Poetry
        .flex-container.row
          input(type="checkbox" value="David Dusseault" class="group3" name="elective5" id="David Dusseault5")
          label(for="David Dusseault5") David Dusseault — Introduction to Post-Human Politics
        .flex-container.row
          input(type="checkbox" value="Juliette Colinas" class="group1" name="elective5" id="Juliette Colinas5")
          label(for="Juliette Colinas5") Juliette Colinas — Evolution: History, Principles, Case-Studies
        .flex-container.row
          input(type="checkbox" value="Арсений Столяров" class="group4" name="elective5" id="Арсений Столяров5")
          label(for="Арсений Столяров5") Арсений Столяров — Поведенческая экономика
        .flex-container.row
          input(type="checkbox" value="Ольга Добровидова" class="group4" name="elective5" id="Ольга Добровидова5")
          label(for="Ольга Добровидова5") Ольга Добровидова — Научная коммуникация
        .flex-container.row
          input(type="checkbox" value="Arne Dietrich" class="group4" name="elective5" id="Arne Dietrich5")
          label(for="Arne Dietrich5") Arne Dietrich — How Creativity Happens in the Brain
        .flex-container.row
          input(type="checkbox" value="Denis Sharapov" class="group2" name="elective5" id="Denis Sharapov5")
          label(for="Denis Sharapov5") Denis Sharapov — Anthropological Archaeology
        .flex-container.row
          input(type="checkbox" value="Louis Vervoort" class="group1" name="elective5" id="Louis Vervoort5")
          label(for="Louis Vervoort5") Louis Vervoort — Introduction to Philosophy of Science
        .flex-container.row
          input(type="checkbox" value="Evgeny Grishin" class="group4" name="elective5" id="Evgeny Grishin5")
          label(for="Evgeny Grishin5") Evgeny Grishin, duskin drum, Peter Jones — Visions of the past, histories of the future in historical & sci-fi films
      h3 2nd priority
      div(class="input-group elective2")
        .flex-container.row
          input(type="checkbox" value="Zachary Reyna" class="group2" name="elective6" id="Zachary Reyna6")
          label(for="Zachary Reyna6") Zachary Reyna — What is the Anthropocene?
        .flex-container.row
          input(type="checkbox" value="Giacomo Andreoletti" class="group1" name="elective6" id="Giacomo Andreoletti6")
          label(for="Giacomo Andreoletti6") Giacomo Andreoletti — Formal Logic
        .flex-container.row
          input(type="checkbox" value="Tomasz Blusiewicz" class="group3" name="elective6" id="Tomasz Blusiewicz6")
          label(for="Tomasz Blusiewicz6") Tomasz Blusiewicz — History of Germany, 1701–1914
        .flex-container.row
          input(type="checkbox" value="Erika Wolf" class="group1" name="elective6" id="Erika Wolf6")
          label(for="Erika Wolf6") Erika Wolf — Image Scavengers: Collage, Montage, and Appropriation in 20th Century Art
        .flex-container.row
          input(type="checkbox" value="Anne Mulhall" class="group2" name="elective6" id="Anne Mulhall6")
          label(for="Anne Mulhall6") Anne Mulhall — Contemporary Italian Political Philosophy
        .flex-container.row
          input(type="checkbox" value="Duskin Drum" class="group2" name="elective6" id="Duskin Drum6")
          label(for="Duskin Drum6") Duskin Drum — Ecology, Technology and Anime
        .flex-container.row
          input(type="checkbox" value="John Tangney" class="group3" name="elective6" id="John Tangney6")
          label(for="John Tangney6") John Tangney — Modern American Poetry
        .flex-container.row
          input(type="checkbox" value="David Dusseault" class="group3" name="elective6" id="David Dusseault6")
          label(for="David Dusseault6") David Dusseault — Introduction to Post-Human Politics
        .flex-container.row
          input(type="checkbox" value="Juliette Colinas" class="group1" name="elective6" id="Juliette Colinas6")
          label(for="Juliette Colinas6") Juliette Colinas — Evolution: History, Principles, Case-Studies
        .flex-container.row
          input(type="checkbox" value="Арсений Столяров" class="group4" name="elective6" id="Арсений Столяров6")
          label(for="Арсений Столяров6") Арсений Столяров — Поведенческая экономика
        .flex-container.row
          input(type="checkbox" value="Ольга Добровидова" class="group4" name="elective6" id="Ольга Добровидова6")
          label(for="Ольга Добровидова6") Ольга Добровидова — Научная коммуникация
        .flex-container.row
          input(type="checkbox" value="Arne Dietrich" class="group4" name="elective6" id="Arne Dietrich6")
          label(for="Arne Dietrich6") Arne Dietrich — How Creativity Happens in the Brain
        .flex-container.row
          input(type="checkbox" value="Denis Sharapov" class="group2" name="elective6" id="Denis Sharapov6")
          label(for="Denis Sharapov6") Denis Sharapov — Anthropological Archaeology
        .flex-container.row
          input(type="checkbox" value="Louis Vervoort" class="group1" name="elective6" id="Louis Vervoort6")
          label(for="Louis Vervoort6") Louis Vervoort — Introduction to Philosophy of Science
        .flex-container.row
          input(type="checkbox" value="Evgeny Grishin" class="group4" name="elective6" id="Evgeny Grishin6")
          label(for="Evgeny Grishin6") Evgeny Grishin, duskin drum, Peter Jones — Visions of the past, histories of the future in historical & sci-fi films  
      h3 3rd priority
      div(class="input-group elective2")
        .flex-container.row
          input(type="checkbox" value="Zachary Reyna" class="group2" name="elective7" id="Zachary Reyna7")
          label(for="Zachary Reyna7") Zachary Reyna — What is the Anthropocene?
        .flex-container.row
          input(type="checkbox" value="Giacomo Andreoletti" class="group1" name="elective7" id="Giacomo Andreoletti7")
          label(for="Giacomo Andreoletti7") Giacomo Andreoletti — Formal Logic
        .flex-container.row
          input(type="checkbox" value="Tomasz Blusiewicz" class="group3" name="elective7" id="Tomasz Blusiewicz7")
          label(for="Tomasz Blusiewicz7") Tomasz Blusiewicz — History of Germany, 1701–1914
        .flex-container.row
          input(type="checkbox" value="Erika Wolf" class="group1" name="elective7" id="Erika Wolf7")
          label(for="Erika Wolf7") Erika Wolf — Image Scavengers: Collage, Montage, and Appropriation in 20th Century Art
        .flex-container.row
          input(type="checkbox" value="Anne Mulhall" class="group2" name="elective7" id="Anne Mulhall7")
          label(for="Anne Mulhall7") Anne Mulhall — Contemporary Italian Political Philosophy
        .flex-container.row
          input(type="checkbox" value="Duskin Drum" class="group2" name="elective7" id="Duskin Drum7")
          label(for="Duskin Drum7") Duskin Drum — Ecology, Technology and Anime
        .flex-container.row
          input(type="checkbox" value="John Tangney" class="group3" name="elective7" id="John Tangney7")
          label(for="John Tangney7") John Tangney — Modern American Poetry
        .flex-container.row
          input(type="checkbox" value="David Dusseault" class="group3" name="elective7" id="David Dusseault7")
          label(for="David Dusseault7") David Dusseault — Introduction to Post-Human Politics
        .flex-container.row
          input(type="checkbox" value="Juliette Colinas" class="group1" name="elective7" id="Juliette Colinas7")
          label(for="Juliette Colinas7") Juliette Colinas — Evolution: History, Principles, Case-Studies
        .flex-container.row
          input(type="checkbox" value="Арсений Столяров" class="group4" name="elective7" id="Арсений Столяров7")
          label(for="Арсений Столяров7") Арсений Столяров — Поведенческая экономика
        .flex-container.row
          input(type="checkbox" value="Ольга Добровидова" class="group4" name="elective7" id="Ольга Добровидова7")
          label(for="Ольга Добровидова7") Ольга Добровидова — Научная коммуникация
        .flex-container.row
          input(type="checkbox" value="Arne Dietrich" class="group4" name="elective7" id="Arne Dietrich7")
          label(for="Arne Dietrich7") Arne Dietrich — How Creativity Happens in the Brain
        .flex-container.row
          input(type="checkbox" value="Denis Sharapov" class="group2" name="elective7" id="Denis Sharapov7")
          label(for="Denis Sharapov7") Denis Sharapov — Anthropological Archaeology
        .flex-container.row
          input(type="checkbox" value="Louis Vervoort" class="group1" name="elective7" id="Louis Vervoort7")
          label(for="Louis Vervoort7") Louis Vervoort — Introduction to Philosophy of Science
        .flex-container.row
          input(type="checkbox" value="Evgeny Grishin" class="group4" name="elective7" id="Evgeny Grishin7")
          label(for="Evgeny Grishin7") Evgeny Grishin, duskin drum, Peter Jones — Visions of the past, histories of the future in historical & sci-fi films
      h3 4th priority
      div(class="input-group elective2")
        .flex-container.row
          input(type="checkbox" value="Zachary Reyna" class="group2" name="elective8" id="Zachary Reyna8")
          label(for="Zachary Reyna8") Zachary Reyna — What is the Anthropocene?
        .flex-container.row
          input(type="checkbox" value="Giacomo Andreoletti" class="group1" name="elective8" id="Giacomo Andreoletti8")
          label(for="Giacomo Andreoletti8") Giacomo Andreoletti — Formal Logic
        .flex-container.row
          input(type="checkbox" value="Tomasz Blusiewicz" class="group3" name="elective8" id="Tomasz Blusiewicz8")
          label(for="Tomasz Blusiewicz8") Tomasz Blusiewicz — History of Germany, 1701–1914
        .flex-container.row
          input(type="checkbox" value="Erika Wolf" class="group1" name="elective8" id="Erika Wolf8")
          label(for="Erika Wolf8") Erika Wolf — Image Scavengers: Collage, Montage, and Appropriation in 20th Century Art
        .flex-container.row
          input(type="checkbox" value="Anne Mulhall" class="group2" name="elective8" id="Anne Mulhall8")
          label(for="Anne Mulhall8") Anne Mulhall — Contemporary Italian Political Philosophy
        .flex-container.row
          input(type="checkbox" value="Duskin Drum" class="group2" name="elective8" id="Duskin Drum8")
          label(for="Duskin Drum8") Duskin Drum — Ecology, Technology and Anime
        .flex-container.row
          input(type="checkbox" value="John Tangney" class="group3" name="elective8" id="John Tangney8")
          label(for="John Tangney8") John Tangney — Modern American Poetry
        .flex-container.row
          input(type="checkbox" value="David Dusseault" class="group3" name="elective8" id="David Dusseault8")
          label(for="David Dusseault8") David Dusseault — Introduction to Post-Human Politics
        .flex-container.row
          input(type="checkbox" value="Juliette Colinas" class="group1" name="elective8" id="Juliette Colinas8")
          label(for="Juliette Colinas8") Juliette Colinas — Evolution: History, Principles, Case-Studies
        .flex-container.row
          input(type="checkbox" value="Арсений Столяров" class="group4" name="elective8" id="Арсений Столяров8")
          label(for="Арсений Столяров8") Арсений Столяров — Поведенческая экономика
        .flex-container.row
          input(type="checkbox" value="Ольга Добровидова" class="group4" name="elective8" id="Ольга Добровидова8")
          label(for="Ольга Добровидова8") Ольга Добровидова — Научная коммуникация
        .flex-container.row
          input(type="checkbox" value="Arne Dietrich" class="group4" name="elective8" id="Arne Dietrich8")
          label(for="Arne Dietrich8") Arne Dietrich — How Creativity Happens in the Brain
        .flex-container.row
          input(type="checkbox" value="Denis Sharapov" class="group2" name="elective8" id="Denis Sharapov8")
          label(for="Denis Sharapov8") Denis Sharapov — Anthropological Archaeology
        .flex-container.row
          input(type="checkbox" value="Louis Vervoort" class="group1" name="elective8" id="Louis Vervoort8")
          label(for="Louis Vervoort8") Louis Vervoort — Introduction to Philosophy of Science
        .flex-container.row
          input(type="checkbox" value="Evgeny Grishin" class="group4" name="elective8" id="Evgeny Grishin8")
          label(for="Evgeny Grishin8") Evgeny Grishin, duskin drum, Peter Jones — Visions of the past, histories of the future in historical & sci-fi films
      button(type="submit" class="btn btn-primary btn-lg") Submit
    script.
      function is_touch_device() {
        var prefixes = ' -webkit- -moz- -o- -ms- '.split(' ');
        var mq = function(query) {
          return window.matchMedia(query).matches;
        }

        if (('ontouchstart' in window) || window.DocumentTouch && document instanceof DocumentTouch) {
          return true;
        }

        var query = ['(', prefixes.join('touch-enabled),('), 'heartz', ')'].join('');
        return mq(query);
      }
      
      var clickEvent = (function() {
      if ('ontouchstart' in document.documentElement === true)
        return 'touchstart';
      else
        return 'mousedown';
      })();
      var inputs = document.querySelectorAll('input[type="checkbox"]');
      inputs.forEach(function(input) {
        var elective = input.parentNode.parentNode.classList[1];
        input.addEventListener(clickEvent, function(e) {
           e.stopPropagation(); 
          var name = event.target.name;
          var targetClass = event.target.classList[0];
          if (!event.target.checked) {
            event.target.classList.add("checked");
            var slot = document.querySelectorAll('input[name="'+name+ '"]');
              slot.forEach(function(el){
                if(!el.classList.contains('checked') && el.parentNode.parentNode.classList.contains(elective)){
                  el.disabled = true;
                }
              });
              var slotParent = slot[0].parentNode.parentNode;
              slotParent.classList.add('parentChecked');
            var group = document.querySelectorAll('.'+ targetClass);
            group.forEach(function(el){
              if(!el.classList.contains('checked') && el.parentNode.parentNode.classList.contains(elective)){
                el.classList.add('groupChecked');
                el.disabled = true;
              }
            })
          
            
          } else {
            var slot = document.querySelectorAll('input[name="'+name+ '"]');
              slot.forEach(function(el){
                if(!el.classList.contains('checked') && !el.classList.contains('groupChecked') && el.parentNode.parentNode.classList.contains(elective)){
                  el.disabled = false;
                }
              });
            slot[0].parentNode.parentNode.classList.remove('parentChecked');
            var group = document.querySelectorAll('.'+ targetClass);
            group.forEach(function(el){
              if(!el.classList.contains('checked') && el.parentNode.parentNode.classList.contains(elective)){
                el.classList.remove('groupChecked');
                if(!el.parentNode.parentNode.classList.contains('parentChecked')){
                                  el.disabled = false;
                }
              }
            })
            event.target.classList.remove("checked");   
            /* if (is_touch_device()) event.target.click();          */
          }

        });
      });
