doctype html
html
  head
    title SAS — Feedback
    link(rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous")
    // load bootstrap css
    style.
      body        { padding-top:20px;   font-family: 'Agipo-Regular'; 
      
      -moz-osx-font-smoothing: grayscale;   /* Firefox */
     -webkit-font-smoothing: antialiased; /* WebKit  */
      }
      @font-face {
        font-family: 'Agipo-Bold';
        src:url('../fonts/agipo/Agipo-Bold.woff');
      }
      @font-face {
        font-family: 'Agipo-Regular';
        src:url('../fonts/agipo/Agipo-Regular.woff');
      }
      .btn.btn-default.btn-lg {
        background: lightgray;
      }
      h2 {margin-bottom:30px; margin-top:50px;
      font-family: 'Agipo-Bold',Arial,sans-serif;}
      .jumbotron h1 {
        font-size:36px;
        margin-bottom: 40px;
        font-family: 'Agipo-Bold',Arial,sans-serif;
      }
      h3 {
        margin-top:50px;
        font-size: 1.5em;
        font-weight: 400;
        margin-bottom:30px;
        font-family: 'Agipo-Regular',Arial,sans-serif;;
      }
      /* .displayTeacher {display:none;} */
      .currentAnswerCounter {font-family: Agipo-Bold;}
      .allLinks {display:none;}
      table {max-width:100%;}
      
      thead {
        font-size: 12px;
        border-bottom:1px red solid;
        hyphens: auto;
      }
      .all tr td:first-child {
        font-size: 12px;
        vertical-align: middle;
      }
      .all tr {
        border-top: 1px red solid;
      }
      td {
        text-align: left; 
        padding-top:10px;
        vertical-align: top;
      padding: 5px;
      }
      .all td {
        border-right: 1px red solid;
      }
      .all td:last-child {
        border-right: none;
      }
      .jumbotron{
        font-size:18px;
        line-height: initial;
      }
      td.key {
        font-family: 'Agipo-Bold';
        padding-right:30px;
        width:70%;
      }
      
      img {
        width:80%;
        margin-top:10px;
      }
      .logo {padding-bottom:30px}
      a {color:#f00}
      .container{
        width:98% !important;
      }
      .input-group{
        margin-bottom:20px;
      }
      .input-group label, h4 {
        font-family: 'Agipo-Regular',Helvetica,Arial,sans-serif;
        font-weight: 500;
        margin: 18px 0;
        font-size:20px;
      }
      .input-group .label__description {
        font-family:initial;
      }
      .input-group .form-control {
        margin: 20px 0 40px 0;
      }
      form {
        margin-top: 30px;
      }
      fieldset {
        margin-bottom:30px;
      }
      label,legend,h4 {
        text-align: left;
        width:100%;
      }
      label[for="agreement-checkbox"]{
        width:92%;
        margin-top:0;
      }
      #agreement-checkbox {
        width:5%;
        margin-left: 10px;
      }
      legend {font-size: 1.8em;}
      input, textarea, select {
        float:left;
        width:75%;
        font-family: 'Agipo-Regular',Helvetica,Arial,sans-serif;
      }
      .label_width100 {
        width:100%;
      }

      input[type="radio"] {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;

        border-radius: 50%;
        width: 38px;
        height: 38px;

        border: 2px solid #999;
        transition: 0.2s all linear;
        outline: none;
        margin-right: 15px;

        position: relative;
        top:0px
        }
        input:focus {
          outline: none !important;
        }
        input:checked {
          border: 12px solid #f00;
        }
        button {
          background-color: #f00 !important;
          border-color: #f00 !important;
          margin: 0 25px 25px;
          padding: 10px 15px;
          border-radius:50px;
        }
        
        .checkbox {
          width: 5% !important;
          height: 30px;
          margin-top: 14px !important;
        }
        
        input[type="checkbox"] {
          /* -webkit-appearance: none;
          -moz-appearance: none;
          appearance: none; */

          width: 38px;
          height: 38px;

          border: 2px solid #999;
          transition: 0.2s all linear;
          outline: none;
          margin-right: 15px;

          position: relative;
          top:0;
          zoom:1.1;
          }


        @media (max-width: 1024px) {

          body{padding-top:10px}
          .container{
          width:95%;
          }
          h3 {
            font-size: 2.5em;
          }
          h2 {
            font-size: 3em;
          }
          .jumbotron h1 {
            font-size: 3.5em;
          }
        .input-group  label, h4 {
          font-size:45px ;
          margin-bottom:20px;
          width:100%;
          }
          label[for="agreement-checkbox"]{
            width:91%;
            margin-top:0;
          
          }
          #agreement-checkbox {
            width:5%;
            margin-left: 10px;
              top: 10px;
          }
          .checkbox {
            width: 5% !important;
            height: 30px;
            margin-top: 14px !important;
          }
          input[type="radio"]{
            top:5px;
          }
          button.btn-lg {
            font-size: 45px;
          }
          .label_width100 {
            width:100% !important;
          }
          .checkbox {margin-top: 13px !important;           
            height: 50px;
            }
          .input-group label, h4 {
            
            margin: 11px 0;
          }
        }
              li {
                line-height: 2; }
        
body
  div
    .jumbotron.text-center
      .logo
        a(target="_blank" href="https://sas.utmn.ru")
          img(src="/assets/Logo__red.png")
      h1 SAS — Course Evaluations — q3 2021-2022
      .row
        div(class="col-xs-12" style="display: flex; justify-content: center; flex-direction:column; align-items:center; width: 100%;")
            p
              br
              -if(user)
                span Email: #{user.google.email}
              br
              -if(user)
                span Name: #{user.google.name}
            a.btn.btn-default.btn-lg(href='/logout') Log out
      //- p.legend "How would you describe the effort you put into studying for this course?": 0 = No real effort, 1 = I made some effort, 2 = I worked hard, 3 = I gave 125%;<br>Further questions: 0 = Low, 1 = Average, 2 = High, 3 = Very high;
      h2.teacher
      h2.title
      div.allLinks
        br
        p#totalNumber
        //- button(class="exportCSV" onclick="exportCSVFile(dataToExportCSV, 'feedback-2021-module1-5-9')") Download in CSV
        ul(class="list-unstyled")
          li
            h3.ba_2021_q3_electives Electives and Major Courses
            span Links: 
            span 
              a(target="_blank" href="/feedback12?s=ba_2021_q3_electives&t=Duane Rousselle — Real Love, Julie Reshe — Real Love" data-size="18") Duane Rousselle — Real Love, Julie Reshe — Real Love
              br
            span 
              a(target="_blank" href="/feedback12?s=ba_2021_q3_electives&t=Erika Wolf — Body, Culture, Self, Stanimir Panayotov — Body, Culture, Self" data-size="17") Erika Wolf — Body, Culture, Self, Stanimir Panayotov — Body, Culture, Self
              br
            span 
              a(target="_blank" href="/feedback12?s=ba_2021_q3_electives&t=Giacomo Andreoletti — Foundations of quantum mechanics, Louis Vervoort — Foundations of quantum mechanics" data-size="21") Giacomo Andreoletti — Foundations of quantum mechanics, Louis Vervoort — Foundations of quantum mechanics
              br
            span  
              a(target="_blank" href="/feedback12?s=ba_2021_q3_electives&t=Jay Silverstein — Catalysts for Change in the Political Organization of Societies" data-size="20") Jay Silverstein — Catalysts for Change in the Political Organization of Societies
              br
            span 
              a(target="_blank" href="/feedback12?s=ba_2021_q3_electives&t=Stanimir Panayotov — What does it mean to be nobody" data-size="18") Stanimir Panayotov — What does it mean to be nobody
              br
            span 
              a(target="_blank" href="/feedback12?s=ba_2021_q3_electives&t=Pavel Kocourek — Decisions under Uncertainty" data-size="13") Pavel Kocourek — Decisions under Uncertainty
              br
            span 
              a(target="_blank" href="/feedback12?s=ba_2021_q3_electives&t=Tomasz Blusiewicz — The Age of Total War" data-size="21") Tomasz Blusiewicz — The Age of Total War
              br
            span 
              a(target="_blank" href="/feedback12?s=ba_2021_q3_electives&t=Marko Turk — Educational Research" data-size="15") Marko Turk — Educational Research
              br
            span 
              a(target="_blank" href="/feedback12?s=ba_2021_q3_electives&t=Krishna Muthukumarappan — Neurobiological basis of Kinship and Nationalism" data-size="11") Krishna Muthukumarappan — Neurobiological basis of Kinship and Nationalism
              br
            span 
              a(target="_blank" href="/feedback12?s=ba_2021_q3_electives&t=Julie Reshe — Death and Death Drive" data-size="10") Julie Reshe — Death and Death Drive
              br
            span 
              a(target="_blank" href="/feedback12?s=ba_2021_q3_electives&t=Jay Silverstein — Anthropological Issues and Ideas" data-size="12") Jay Silverstein — Anthropological Issues and Ideas
              br
            span 
              a(target="_blank" href="/feedback12?s=ba_2021_q3_electives&t=Erika Wolf — Visual Culture" data-size="5") Erika Wolf — Visual Culture
              br
            span 
              a(target="_blank" href="/feedback12?s=ba_2021_q3_electives&t=Pavel Kocourek — Applied Economics" data-size="10") Pavel Kocourek — Applied Economics
              br
            span 
              a(target="_blank" href="/feedback12?s=ba_2021_q3_electives&t=Alexander Usvitskiy — Game Theory" data-size="14") Alexander Usvitskiy — Game Theory
              br
            span 
              a(target="_blank" href="/feedback12?s=ba_2021_q3_electives&t=Peter Lešnik — Film Theory" data-size="18") Peter Lešnik — Film Theory
              br
            span 
              a(target="_blank" href="/feedback12?s=ba_2021_q3_electives&t=Joshua Reeves — Intermediality" data-size="5") Joshua Reeves — Intermediality
              br
            span 
              a(target="_blank" href="/feedback12?s=ba_2021_q3_electives&t=Olga Golechkova — Making History" data-size="10") Olga Golechkova — Making History
              br
            span 
              a(target="_blank" href="/feedback12?s=ba_2021_q3_electives&t=Denis Zmeev — Software Development Process" data-size="6") Denis Zmeev — Software Development Process
              br
            span 
              a(target="_blank" href="/feedback12?s=ba_2021_q3_electives&t=Erzsébet Pásztor — Nature and Nurture in Genetics" data-size="10") Erzsébet Pásztor — Nature and Nurture in Genetics
              br
            span 
              a(target="_blank" href="/feedback12?s=ba_2021_q3_electives&t=Krishna Muthukumarappan — Brain and Behavior" data-size="10") Krishna Muthukumarappan — Brain and Behavior
              br
          //- li
          //-   h3.ba_2021_q3_fys First Year Seminars
          //-   span Links: 
          //-   span
          //-     a(target="_blank" href="/feedback12?s=ba_2021_q3_fys") All, 
          //-     br
          //-   span
          //-     a(target="_blank" href="/feedback12?s=ba_2021_q3_fys&t=Marko Turk, Siyaves Azeri" data-size="14") Marko Turk, Siyaves Azeri
          //-     br
          //-   span
          //-     a(target="_blank" href="/feedback12?s=ba_2021_q3_fys&t=Julie Reshe, Duane Rousselle" data-size="18") Julie Reshe, Duane Rousselle
          //-     br
          //-   span
          //-     a(target="_blank" href="/feedback12?s=ba_2021_q3_fys&t=Alexander Usvitskiy, Erzsébet Pásztor" data-size="12") Alexander Usvitskiy, Erzsébet Pásztor
          //-     br 
          //-   span
          //-     a(target="_blank" href="/feedback12?s=ba_2021_q3_fys&t=Jay Silverstein, Erzsébet Pásztor" data-size="14") Jay Silverstein, Erzsébet Pásztor
          //-     br 
          //-   span
          //-     a(target="_blank" href="/feedback12?s=ba_2021_q3_fys&t=Krishna Muthukumarappan, Louis Vervoort" data-size="19") Krishna Muthukumarappan, Louis Vervoort
          //-     br 
          li
            h3.ba_2021_year2_q3_gb_1 Great Books: Literature 2.1
            span Links: 
            span
              a(target="_blank" href="/feedback12?s=ba_2021_year2_q3_gb_1&t=Shcherbenok" data-size="37") Andrey Shcherbenok, 
          li
            h3.ba_2021_year2_q3_gb_2 Great Books: Literature 2.2
            span Links: 
            span
              a(target="_blank" href="/feedback12?s=ba_2021_year2_q3_gb_2&t=Vervoort" data-size="37") Louis Vervoort, 
          li
            h3.ba_2021_year2_q3_gb_3 Great Books: Literature 2.3
            span Links: 
            span
              a(target="_blank" href="/feedback12?s=ba_2021_year2_q3_gb_3&t=Azeri" data-size="37") Siyaves Azeri,
          //- li
          //-   h3.ba_2021_year2_q3_gb_4 Great Books: Literature 2.4
          //-   span Links: 
          //-   span
          //-     a(target="_blank" href="/feedback12?s=ba_2021_year2_q3_gb_4&t=Longden" data-size="37") Joanna Longden, 
          li
            h3.ba_2021_year1_q3_aw Academic Writing
            span Links: 
            span
              a(target="_blank" href="/feedback12?s=ba_2021_year1_q3_aw&t=Peter Mitchell" data-size="83") Peter Mitchell
              br
          li
            h3.ba_2021_year1_q3_gb2 Great Books 2
            span Links: 
            span
              a(target="_blank" href="/feedback12?s=ba_2021_year1_q3_gb2") All, 
            span
              a(target="_blank" href="/feedback12?s=ba_2021_year1_q3_gb2&t=Giacomo Andreoletti" data-size="35") Giacomo Andreoletti
              br
            span
              a(target="_blank" href="/feedback12?s=ba_2021_year1_q3_gb2&t=Duane Rousselle" data-size="31") Duane Rousselle
              br
            span
              a(target="_blank" href="/feedback12?s=ba_2021_year1_q3_gb2&t=Siyaves Azeri" data-size="12") Siyaves Azeri
              br   
          li
            h3.ba_2021_year1_q3_it Information Technology
            span Links: 
            span
              a(target="_blank" href="/feedback12?s=ba_2021_year1_q3_it&t=Alexey Lysenko" data-size="64") Alexey Lysenko
            
          //- li
          //-   h3.ba_2021_year2_q3_art Interpreting Artworks
          //-   span Links: 
          //-   span
          //-     a(target="_blank" href="/feedback12?s=ba_2021_year2_q3_art&t=Erika Wolf, Stanimir Panayotov, Vera Trachtenberg, Corinne Doria, Julie Reshe, Duane Rouselle, Erika Wolf, Stanimir Panayotov, Vera Trachtenberg, Corinne Doria, Julie Reshe, Duane Rouselle" data-size="50") Interpreting Artworks
          li
            h3.ba_2021_year2_q3_gi Global Issues
            span Links: 
            span
              a(target="_blank" href="/feedback12?s=ba_2021_year2_q3_gi&t=Ayla Arslan" data-size="47") Quinton Scribner
          //- li
          //-   h3.ba_2021_year4_q3_ec Effective Communication
          //-   span Links: 
          //-   span
          //-     a(target="_blank" href="/feedback12?s=ba_2021_year4_q3_ec&t=Peter Mitchell" data-size="45") Peter Mitchell, Eva Burbo
          //- li
          //-   h3.ba_2021_q3_rs Research Seminars
          //-   span Links: 
          //-     a(target="_blank" href="/feedback12?s=ba_2021_q3_rs") All, 
          //-   span
          //-     a(target="_blank" href="/feedback12?s=ba_2021_q3_rs&t=Lešnik" data-size="10") Peter Lešnik, 
          //-   span 
          //-     a(target="_blank" href="/feedback12?s=ba_2021_q3_rs&t=Jay" data-size="6") Jay Silverstein, 
          //-   span 
          //-     a(target="_blank" href="/feedback12?s=ba_2021_q3_rs&t=Wolf" data-size="10") Erika Wolf, 
          //-   span 
          //-     a(target="_blank" href="/feedback12?s=ba_2021_q3_rs&t=Usvitskiy" data-size="7") Alexander Usvitskiy, 
          //-   span 
          //-     a(target="_blank" href="/feedback12?s=ba_2021_q3_rs&t=Doria" data-size="5") Corinne Doria, 
          //-   span 
          //-     a(target="_blank" href="/feedback12?s=ba_2021_q3_rs&t=Lysenko" data-size="5") Aleksey Lysenko,
          //-   span 
          //-     a(target="_blank" href="/feedback12?s=ba_2021_q3_rs&t=Pásztor" data-size="4") Erzsébet Pásztor
          li
            h3.ma_xhe_2021_year1_q3_ie Institutional Experiments in Higher Education
            span Links: 
            span
              a(target="_blank" href="/feedback12?s=ma_xhe_2021_year1_q3_ie" data-size="4") Dara Melnyk, Daniel Kontowski
          li
            h3.ma_xhe_2021_year2_q3_ps7 Professional Seminar, year 2 
            span Links: 
            span
              a(target="_blank" href="/feedback12?s=ma_xhe_2021_year2_q3_ps7&t=Dara Melnyk" data-size="5") Dara Melnyk
          li
            h3.ma_xhe_2021_year1_q3_pd Product Development in Education
            span Links: 
            span
              a(target="_blank" href="/feedback12?s=ma_xhe_2021_year1_q3_pd&t=Marko Turk" data-size="4") Marko Turk
          //- li
          //-   h3.ma_xhe_2021_year1_q3_ep Experimental Pedagogics
          //-   span Links: 
          //-   span
          //-     a(target="_blank" href="/feedback12?s=ma_xhe_2021_year1_q3_ep&t=Ginie Servant-Miklos" data-size="9") Ginie Servant-Miklos
          li
            h3.ma_xhe_2021_year1_q3_oa Organisational Analysis of Higher Education
            span Links: 
            span
              a(target="_blank" href="/feedback12?s=ma_xhe_2021_year1_q3_oa&t=Economics of Education" data-size="4") Ilya Prakhov
          li
            h3.ma_xhe_2021_year2_q3_her Higher Education Reforms
            span Links: 
            span
              a(target="_blank" href="/feedback12?s=ma_xhe_2021_year2_q3_her&t=Lidiia Iatluk" data-size="5") Lidiia Iatluk
          li
            h3.ma_xhe_2021_year1_q3_ps3 Professional Seminar, year 1 
            span Links: 
            span
              a(target="_blank" href="/feedback12?s=ma_xhe_2021_year1_q3_ps3&t=Dara Melnyk" data-size="4") Dara Melnyk
          
          
      h2.displayTeacher Full answers
      button.btn.btn-default.btn-lg.displayTeacher(onclick="displayAllAnswers()") Display all answers
      br
      button(class="prev displayTeacher" onclick="allPrev()") < Previous answer
      span.currentAnswerCounter
      button(class="next displayTeacher" onclick="allNext()") Next answer >
      table#all
        tbody.tablebody
      h2 Rating scale answers (histograms)
      div.graphs
      h2.displayTeacher Text answers
      div.comments
script(src="/plotly-latest.min.js")
script.
  var data = [!{data}];
script(src="/feedback12.js")  
  
  
