doctype html
html
  head
    title SAS — Feedback
    link(rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous")
    // load bootstrap css
    style.
      body        { padding-top:20px;   font-family: 'Agipo-Regular'; 
      
      -moz-osx-font-smoothing: grayscale;   /* Firefox */
     -webkit-font-smoothing: antialiased; /* WebKit  */
      }
      @font-face {
        font-family: 'Agipo-Bold';
        src:url('../fonts/agipo/Agipo-Bold.woff');
      }
      @font-face {
        font-family: 'Agipo-Regular';
        src:url('../fonts/agipo/Agipo-Regular.woff');
      }
      .btn.btn-default.btn-lg {
        background: lightgray;
      }
      h2 {margin-bottom:30px; margin-top:50px;
      font-family: 'Agipo-Bold',Arial,sans-serif;}
      .jumbotron h1 {
        font-size:36px;
        margin-bottom: 40px;
        font-family: 'Agipo-Bold',Arial,sans-serif;
      }
      h3 {
        margin-top:50px;
        font-size: 1.5em;
        font-weight: 400;
        margin-bottom:30px;
        font-family: 'Agipo-Regular',Arial,sans-serif;;
      }
      /* .displayTeacher {display:none;} */
      .currentAnswerCounter {font-family: Agipo-Bold;}
      .allLinks {display:none;}
      table {max-width:100%;}
      
      thead {
        font-size: 12px;
        border-bottom:1px red solid;
        hyphens: auto;
      }
      .all tr td:first-child {
        font-size: 12px;
        vertical-align: middle;
      }
      .all tr {
        border-top: 1px red solid;
      }
      td {
        text-align: left; 
        padding-top:10px;
        vertical-align: top;
      padding: 5px;
      }
      .all td {
        border-right: 1px red solid;
      }
      .all td:last-child {
        border-right: none;
      }
      .jumbotron{
        font-size:18px;
        line-height: initial;
      }
      td.key {
        font-family: 'Agipo-Bold';
        padding-right:30px;
        width:70%;
      }
      
      img {
        width:80%;
        margin-top:10px;
      }
      .logo {padding-bottom:30px}
      a {color:#f00}
      .container{
        width:98% !important;
      }
      .input-group{
        margin-bottom:20px;
      }
      .input-group label, h4 {
        font-family: 'Agipo-Regular',Helvetica,Arial,sans-serif;
        font-weight: 500;
        margin: 18px 0;
        font-size:20px;
      }
      .input-group .label__description {
        font-family:initial;
      }
      .input-group .form-control {
        margin: 20px 0 40px 0;
      }
      form {
        margin-top: 30px;
      }
      fieldset {
        margin-bottom:30px;
      }
      label,legend,h4 {
        text-align: left;
        width:100%;
      }
      label[for="agreement-checkbox"]{
        width:92%;
        margin-top:0;
      }
      #agreement-checkbox {
        width:5%;
        margin-left: 10px;
      }
      legend {font-size: 1.8em;}
      input, textarea, select {
        float:left;
        width:75%;
        font-family: 'Agipo-Regular',Helvetica,Arial,sans-serif;
      }
      .label_width100 {
        width:100%;
      }

      input[type="radio"] {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;

        border-radius: 50%;
        width: 38px;
        height: 38px;

        border: 2px solid #999;
        transition: 0.2s all linear;
        outline: none;
        margin-right: 15px;

        position: relative;
        top:0px
        }
        input:focus {
          outline: none !important;
        }
        input:checked {
          border: 12px solid #f00;
        }
        button {
          background-color: #f00 !important;
          border-color: #f00 !important;
          margin: 0 25px 25px;
          padding: 10px 15px;
          border-radius:50px;
        }
        
        .checkbox {
          width: 5% !important;
          height: 30px;
          margin-top: 14px !important;
        }
        
        input[type="checkbox"] {
          /* -webkit-appearance: none;
          -moz-appearance: none;
          appearance: none; */

          width: 38px;
          height: 38px;

          border: 2px solid #999;
          transition: 0.2s all linear;
          outline: none;
          margin-right: 15px;

          position: relative;
          top:0;
          zoom:1.1;
          }


        @media (max-width: 1024px) {

          body{padding-top:10px}
          .container{
          width:95%;
          }
          h3 {
            font-size: 2.5em;
          }
          h2 {
            font-size: 3em;
          }
          .jumbotron h1 {
            font-size: 3.5em;
          }
        .input-group  label, h4 {
          font-size:45px ;
          margin-bottom:20px;
          width:100%;
          }
          label[for="agreement-checkbox"]{
            width:91%;
            margin-top:0;
          
          }
          #agreement-checkbox {
            width:5%;
            margin-left: 10px;
              top: 10px;
          }
          .checkbox {
            width: 5% !important;
            height: 30px;
            margin-top: 14px !important;
          }
          input[type="radio"]{
            top:5px;
          }
          button.btn-lg {
            font-size: 45px;
          }
          .label_width100 {
            width:100% !important;
          }
          .checkbox {margin-top: 13px !important;           
            height: 50px;
            }
          .input-group label, h4 {
            
            margin: 11px 0;
          }
        }
              li {
                line-height: 2; }
        
body
  div
    .jumbotron.text-center
      .logo
        a(target="_blank" href="https://sas.utmn.ru")
          img(src="/assets/Logo__red.png")
      h1 SAS — Course Evaluations — Q2 2021-2022
      .row
        div(class="col-xs-12" style="display: flex; justify-content: center; flex-direction:column; align-items:center; width: 100%;")
            p
              br
              -if(user)
                span Email: #{user.google.email}
              br
              -if(user)
                span Name: #{user.google.name}
            a.btn.btn-default.btn-lg(href='/logout') Log out
      //- p.legend "How would you describe the effort you put into studying for this course?": 0 = No real effort, 1 = I made some effort, 2 = I worked hard, 3 = I gave 125%;<br>Further questions: 0 = Low, 1 = Average, 2 = High, 3 = Very high;
      h2.teacher
      h2.title
      div.allLinks
        br
        p#totalNumber
        //- button(class="exportCSV" onclick="exportCSVFile(dataToExportCSV, 'feedback-2021-module1-5-9')") Download in CSV
        ul(class="list-unstyled")
          li
            h3.ba_2021_q2_electives Electives and Major Courses
            span Links: 
            span 
              a(target="_blank" href="/feedback11?s=ba_2021_q2_electives&t=Louis Vervoort — Ethics of Artificial Intelligence and Robots" data-size="18") Louis Vervoort — Ethics of Artificial Intelligence and Robots
              br
            span 
              a(target="_blank" href="/feedback11?s=ba_2021_q2_electives&t=Erika Wolf — Photography and Russia" data-size="17") Erika Wolf — Photography and Russia
              br
            span 
              a(target="_blank" href="/feedback11?s=ba_2021_q2_electives&t=Alexander Usvitskiy — Mathematics for Economists" data-size="21") Alexander Usvitskiy — Mathematics for Economists
              br
            span  
              a(target="_blank" href="/feedback11?s=ba_2021_q2_electives&t=Duane Rousselle — Strange Sociology" data-size="20") Duane Rousselle — Strange Sociology
              br
            span 
              a(target="_blank" href="/feedback11?s=ba_2021_q2_electives&t=Aleksei Gudkov — Blockchain" data-size="18") Aleksei Gudkov — Blockchain
              br
            span 
              a(target="_blank" href="/feedback11?s=ba_2021_q2_electives&t=Aleksei Gudkov — Artificial Intelligence" data-size="13") Aleksei Gudkov — Artificial Intelligence
              br
            span 
              a(target="_blank" href="/feedback11?s=ba_2021_q2_electives&t=Andrey Zubov" data-size="21") Andrey Zubov — Media Production
              br
            span 
              a(target="_blank" href="/feedback11?s=ba_2021_q2_electives&t=Siyaves Azeri — Critical Theory, Stanimir Panayotov — Critical Theory" data-size="15") Siyaves Azeri — Critical Theory, Stanimir Panayotov — Critical Theory
              br
            span 
              a(target="_blank" href="/feedback11?s=ba_2021_q2_electives&t=Corinne Doria — Into the Archive, Tomasz Blusiewicz — Into the Archive" data-size="11") Corinne Doria — Into the Archive, Tomasz Blusiewicz — Into the Archive
              br
            span 
              a(target="_blank" href="/feedback11?s=ba_2021_q2_electives&t=Victor Skiba — Databases, Vladimir Prishepa — Databases" data-size="10") Victor Skiba — Databases, Vladimir Prishepa — Databases
              br
            span 
              a(target="_blank" href="/feedback11?s=ba_2021_q2_electives&t=Anastasia Merzliakova — Econometrics" data-size="12") Anastasia Merzliakova — Econometrics
              br
            span 
              a(target="_blank" href="/feedback11?s=ba_2021_q2_electives&t=Duane Rousselle — Qualitative Research Methods" data-size="17") Duane Rousselle — Qualitative Research Methods
              br
            span 
              a(target="_blank" href="/feedback11?s=ba_2021_q2_electives&t=Joshua Reeves — New Media Analysis 2" data-size="10") Joshua Reeves — New Media Analysis 2
              br
            span 
              a(target="_blank" href="/feedback11?s=ba_2021_q2_electives&t=Peter Lešnik — Film Theory" data-size="14") Peter Lešnik — Film Theory
              br
            span 
              a(target="_blank" href="/feedback11?s=ba_2021_q2_electives&t=Sulgi Lie — Film History" data-size="18") Sulgi Lie — Film History
              br
            span 
              a(target="_blank" href="/feedback11?s=ba_2021_q2_electives&t=Denis Zmeev — Business Processes" data-size="5") Denis Zmeev — Business Processes
              br
            span 
              a(target="_blank" href="/feedback11?s=ba_2021_q2_electives&t=Denis Zmeev — Subject Domains" data-size="10") Denis Zmeev — Subject Domains
              br
            span 
              a(target="_blank" href="/feedback11?s=ba_2021_q2_electives&t=Ayla Arslan — The Unit of Life" data-size="6") Ayla Arslan — The Unit of Life
              br
            span 
              a(target="_blank" href="/feedback11?s=ba_2021_q2_electives&t=Krishna Muthukumarappan — Health and Illness" data-size="10") Krishna Muthukumarappan — Health and Illness
              br
          li
            h3.ba_2021_q2_fys First Year Seminars
            span Links: 
            span
              a(target="_blank" href="/feedback11?s=ba_2021_q2_fys") All, 
              br
            span
              a(target="_blank" href="/feedback11?s=ba_2021_q2_fys&t=Marko Turk, Siyaves Azeri" data-size="14") Marko Turk, Siyaves Azeri
              br
            span
              a(target="_blank" href="/feedback11?s=ba_2021_q2_fys&t=Julie Reshe, Duane Rousselle" data-size="18") Julie Reshe, Duane Rousselle
              br
            span
              a(target="_blank" href="/feedback11?s=ba_2021_q2_fys&t=Alexander Usvitskiy, Erzsébet Pásztor" data-size="12") Alexander Usvitskiy, Erzsébet Pásztor
              br 
            span
              a(target="_blank" href="/feedback11?s=ba_2021_q2_fys&t=Jay Silverstein, Erzsébet Pásztor" data-size="14") Jay Silverstein, Erzsébet Pásztor
              br 
            span
              a(target="_blank" href="/feedback11?s=ba_2021_q2_fys&t=Krishna Muthukumarappan, Louis Vervoort" data-size="19") Krishna Muthukumarappan, Louis Vervoort
              br 
          //- li
          //-   h3.ba_2021_year2_q2_gb_1 Great Books: Literature 2.1
          //-   span Links: 
          //-   span
          //-     a(target="_blank" href="/feedback11?s=ba_2021_year2_q2_gb_1&t=Sadovina" data-size="37") Irina Sadovina, 
          //- li
          //-   h3.ba_2021_year2_q2_gb_2 Great Books: Literature 2.2
          //-   span Links: 
          //-   span
          //-     a(target="_blank" href="/feedback11?s=ba_2021_year2_q2_gb_2&t=Wintersgill" data-size="37") Caroline Wintersgill, 
          //- li
          //-   h3.ba_2021_year2_q2_gb_3 Great Books: Literature 2.3
          //-   span Links: 
          //-   span
          //-     a(target="_blank" href="/feedback11?s=ba_2021_year2_q2_gb_3&t=Tankhilevich" data-size="37") Alexandr Tankhilevich,
          //- li
          //-   h3.ba_2021_year2_q2_gb_4 Great Books: Literature 2.4
          //-   span Links: 
          //-   span
          //-     a(target="_blank" href="/feedback11?s=ba_2021_year2_q2_gb_4&t=Longden" data-size="37") Joanna Longden, 
          li
            h3.ba_2021_year1_q2_history History (Q1 + Q2)
            span Links: 
            span
              a(target="_blank" href="/feedback11?s=ba_2021_year1_q2_history&t=Corinne Doria, Tomasz Blusiewicz" data-size="83") Corinne Doria, Tomasz Blusiewicz
              br
          li
            h3.ba_2021_year1_q2_gb1 Great Books 1
            span Links: 
            span
              a(target="_blank" href="/feedback11?s=ba_2021_year1_q2_gb1") All, 
            span
              a(target="_blank" href="/feedback11?s=ba_2021_year1_q2_gb1&t=Giacomo Andreoletti" data-size="35") Giacomo Andreoletti
              br
            span
              a(target="_blank" href="/feedback11?s=ba_2021_year1_q2_gb1&t=Stanimir Panayotov" data-size="31") Stanimir Panayotov
              br
            span
              a(target="_blank" href="/feedback11?s=ba_2021_year1_q2_gb1&t=Julie Reshe" data-size="12") Julie Reshe
              br   
          li
            h3.ba_2021_year1_q2_qr Quantitative Reasoning
            span Links: 
            span
              a(target="_blank" href="/feedback11?s=ba_2021_year1_q2_qr&t=Evgeny Vdovin — City as a Matrix" data-size="64") Evgeny Vdovin — City as a Matrix, 
            span
              a(target="_blank" href="/feedback11?s=ba_2021_year1_q2_qr&t=Konstantin Kim and Denis Zmeev — Math as Thinking" data-size="16") Konstantin Kim and Denis Zmeev — Math as Thinking
          li
            h3.ba_2021_year2_q2_art Interpreting Artworks
            span Links: 
            span
              a(target="_blank" href="/feedback11?s=ba_2021_year2_q2_art&t=Erika Wolf,Stanimir Panayotov,Vera Trachtenberg,Corinne Doria,Julie Reshe,Duane Rouselle" data-size="50") Interpreting Artworks
          li
            h3.ba_2021_year2_q2_sat Science and Technology
            span Links: 
            span
              a(target="_blank" href="/feedback11?s=ba_2021_year2_q2_sat&t=Ayla Arslan" data-size="47") Ayla Arslan
          li
            h3.ba_2021_year4_q2_ec Effective Communication
            span Links: 
            span
              a(target="_blank" href="/feedback11?s=ba_2021_year4_q2_ec&t=Peter Mitchell" data-size="45") Peter Mitchell, Eva Burbo
          li
            h3.ba_2021_q2_rs Research Seminars
            span Links: 
              a(target="_blank" href="/feedback11?s=ba_2021_q2_rs") All, 
            span
              a(target="_blank" href="/feedback11?s=ba_2021_q2_rs&t=Lešnik" data-size="10") Peter Lešnik, 
            span 
              a(target="_blank" href="/feedback11?s=ba_2021_q2_rs&t=Jay" data-size="6") Jay Silverstein, 
            span 
              a(target="_blank" href="/feedback11?s=ba_2021_q2_rs&t=Wolf" data-size="10") Erika Wolf, 
            span 
              a(target="_blank" href="/feedback11?s=ba_2021_q2_rs&t=Usvitskiy" data-size="7") Alexander Usvitskiy, 
            span 
              a(target="_blank" href="/feedback11?s=ba_2021_q2_rs&t=Doria" data-size="5") Corinne Doria, 
            span 
              a(target="_blank" href="/feedback11?s=ba_2021_q2_rs&t=Lysenko" data-size="5") Aleksey Lysenko,
            span 
              a(target="_blank" href="/feedback11?s=ba_2021_q2_rs&t=Pásztor" data-size="4") Erzsébet Pásztor
          li
            h3.ma_xhe_2021_year1_q2_mu Modern University (Quarter 1)
            span Links: 
            span
              a(target="_blank" href="/feedback11?s=ma_xhe_2021_year1_q2_dm" data-size="4") Dara Melnyk, Daniel Kontowski
          li
            h3.ma_xhe_2021_year2_q2_ps6 Professional Seminar, year 2 (Quarter 1 and Quarter 2)
            span Links: 
            span
              a(target="_blank" href="/feedback11?s=ma_xhe_2021_year2_q2_ps6&t=Dara Melnyk" data-size="5") Dara Melnyk
          li
            h3.ma_xhe_2021_year1_q2_icd Instructional and Curricular Design
            span Links: 
            span
              a(target="_blank" href="/feedback11?s=ma_xhe_2021_year1_q2_icd&t=Marko Turk" data-size="4") Marko Turk
          li
            h3.ma_xhe_2021_year1_q2_ep Experimental Pedagogics
            span Links: 
            span
              a(target="_blank" href="/feedback11?s=ma_xhe_2021_year1_q2_ep&t=Ginie Servant-Miklos" data-size="4") Ginie Servant-Miklos
          li
            h3.ma_xhe_2021_year1_q2_eoe Economics of Higher Education
            span Links: 
            span
              a(target="_blank" href="/feedback11?s=ma_xhe_2021_year1_q2_eoe&t=Economics of Education" data-size="4") Ilya Prakhov
          li
            h3.ma_xhe_2021_year2_q2_hep Higher Education Policy
            span Links: 
            span
              a(target="_blank" href="/feedback11?s=ma_xhe_2021_year2_q2_hep&t=Dara Melnyk" data-size="5") Dara Melnyk
          li
            h3.ma_xhe_2021_year1_q2_ps2 Professional Seminar, year 1 (Quarter 1 and Quarter 2)
            span Links: 
            span
              a(target="_blank" href="/feedback11?s=ma_xhe_2021_year1_q2_ps2&t=Dara Melnyk" data-size="4") Dara Melnyk
          
          
      h2.displayTeacher Full answers
      button.btn.btn-default.btn-lg.displayTeacher(onclick="displayAllAnswers()") Display all answers
      br
      button(class="prev displayTeacher" onclick="allPrev()") < Previous answer
      span.currentAnswerCounter
      button(class="next displayTeacher" onclick="allNext()") Next answer >
      table#all
        tbody.tablebody
      h2 Rating scale answers (histograms)
      div.graphs
      h2.displayTeacher Text answers
      div.comments
script(src="/plotly-latest.min.js")
script.
  var data = [!{data}];
script(src="/feedback11.js")  
  
  
