doctype html
html
  head
    title Feedback
    link(rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css")
    link(rel='stylesheet', href='//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css')
    link(rel='stylesheet', href='/style.css')
    link(rel='stylesheet', href='/cards.css')
    script(src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous")
    script(src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js" integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU=" crossorigin="anonymous")
    // script(src="/touch_sortable.js")
body
  .container
    .jumbotron.text-center
      .logo
        a(href="https://sas.utmn.ru")
          img(src="/assets/logo_sas_ut_short-red.svg")
      //- h1 Опрос. Психолог для SAS.
      //- h3 Мы ищем нового психолога для SAS, и нам важно понимать, какого человека, с какой квалификацией и специализацией студенты SAS хотели бы видеть на этой должности. В связи с этим просим вас ответить на следующие вопросы: 
      form(id="form" action="/polls/feedback-collector" method="post")
        input(type="hidden" value="generic" name="subject")    
        fieldset   
          div(class="input-group")
            .flex-container.row
              input(type="checkbox"  value="Yes")
              label() Do you want to choose ESL as your 1st priority elective?
        button(type="submit" class="btn btn-primary btn-lg") Submit
    // script(src="/cards.js")
