doctype html
html
  head
    title Feedback
    link(rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css")
    link(rel='stylesheet', href='//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css')
    link(rel='stylesheet', href='/style.css')
    link(rel='stylesheet', href='/cards.css')
    script(src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous")
    script(src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js" integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU=" crossorigin="anonymous")
    script(src="/touch_sortable.js")
body
  .container
    .jumbotron.text-center
      .logo
        a(href="https://sas.utmn.ru")
          img(src="/assets/logo_sas_ut_short-red.svg")
      h1 Опрос. Психолог для SAS.
      h3 Мы ищем нового психолога для SAS, и нам важно понимать, какого человека, с какой квалификацией и специализацией студенты SAS хотели бы видеть на этой должности. В связи с этим просим вас ответить на следующие вопросы: 
      form(id="form" action="/polls/feedback-collector" method="post")
        input(type="hidden" value="generic" name="subject")    
        fieldset   
          div(class="input-group")
            h3 Помощь какого психолога наиболее необходима студентам Школы с вашей точки зрения?
            .flex-container.row
              input(type="radio" required="required" value="Организационный психолог (занимается, в основном, решением проблем, связанных с организацией учебного процесса, может проводить тренинги по тим-билдингу, помогать с тайм-менеджментом, продуктивностью и мотивацией учиться)" name="Помощь какого психолога наиболее необходима студентам Школы с вашей точки зрения?")
              label() Организационный психолог (занимается, в основном, решением проблем, связанных с организацией учебного процесса, может проводить тренинги по тим-билдингу, помогать с тайм-менеджментом, продуктивностью и мотивацией учиться)
            .flex-container.row
              input(type="radio" required="required" value="Клинический психолог (специалист, который может диагностировать и оказать квалифицированную помощь при психических, поведенческих и эмоциональных заболеваниях)" name="Помощь какого психолога наиболее необходима студентам Школы с вашей точки зрения?")
              label() Клинический психолог (специалист, который может диагностировать и оказать квалифицированную помощь при психических, поведенческих и эмоциональных заболеваниях)
            .flex-container.row
              input(type="radio" required="required" value="Психотерапевт (специалист, имеющий дело с лечением психических заболеваний;  может помочь студентам улучшить их жизнь, развить лучшие когнитивные и эмоциональные навыки, уменьшить симптомы психического заболевания)" name="Помощь какого психолога наиболее необходима студентам Школы с вашей точки зрения?")
              label() Психотерапевт (специалист, имеющий дело с лечением психических заболеваний;  может помочь студентам улучшить их жизнь, развить лучшие когнитивные и эмоциональные навыки, уменьшить симптомы психического заболевания)
            .flex-container.column
              label() Другое:
              input(type="text" name="Помощь какого психолога наиболее необходима студентам Школы с вашей точки зрения? Другое:")
              
          div(class="input-group")
            h3 Вы бы обратились к психологу за помощью?
            .flex-container.row
              input(type="radio" required="required" value="Принципиально не обращаюсь к психологам, и к психологу SAS бы не стал, каким бы он ни был" name="Вы бы обратились к психологу за помощью?")
              label() Принципиально не обращаюсь к психологам, и к психологу SAS бы не стал, каким бы он ни был
            .flex-container.row
              input(type="radio" required="required" value="Думаю, есть вероятность, что я могу обратиться к психологу" name="Вы бы обратились к психологу за помощью?")
              label() Думаю, есть вероятность, что я могу обратиться к психологу
            .flex-container.row
              input(type="radio" required="required" value="Считаю регулярное взаимодействие с психологом  нормальной практикой" name="Вы бы обратились к психологу за помощью?")
              label() Считаю регулярное взаимодействие с психологом  нормальной практикой
            .flex-container.column
              label() Другое:
              input(type="text" name="Вы бы обратились к психологу за помощью? Другое:")
              
          div(class="input-group")
            h3 Какой формат коммуникации с психологом вы бы предпочли:
            .flex-container.row
              input(type="radio" required="required" value="Тренинги" name="Какой формат коммуникации с психологом вы бы предпочли:")
              label() Тренинги
            .flex-container.row
              input(type="radio" required="required" value="Групповая терапия" name="Какой формат коммуникации с психологом вы бы предпочли:")
              label() Групповая терапия
            .flex-container.row
              input(type="radio" required="required" value="Индивидуальные консультации  с психологом" name="Какой формат коммуникации с психологом вы бы предпочли:")
              label() Индивидуальные консультации  с психологом
            .flex-container.column
              label() Другое:
              input(type="text" name="Какой формат коммуникации с психологом вы бы предпочли: Другое:")
              
          div(class="input-group")
            h3 К психологу какого пола вам было бы комфортнее обратиться за помощью?
            .flex-container.row
              input(type="radio" required="required" value="женщина" name="К психологу какого пола вам было бы комфортнее обратиться за помощью?")
              label() женщина
            .flex-container.row
              input(type="radio" required="required" value="мужчина" name="К психологу какого пола вам было бы комфортнее обратиться за помощью?")
              label() мужчина
            .flex-container.row
              input(type="radio" required="required" value="не имеет значения" name="К психологу какого пола вам было бы комфортнее обратиться за помощью?")
              label() не имеет значения
          div(class="input-group")
            h3 Было бы вам комфортнее общаться с психологом, чей возраст близок к возрасту студентов или наоборот? Расставьте, пожалуйста, приоритеты в отношении возраста психолога: 
            .cards
              .portlet
                .portlet-header 20-30 лет
              .portlet
                .portlet-header 30-40 лет
              .portlet
                .portlet-header 40-50 лет
              .portlet
                .portlet-header 50-60 лет
              .portlet
                .portlet-header 60-70 лет
              .portlet
                .portlet-header старше 70-ти
          div(class="input-group")
            h3 Где бы вы хотели встречаться с психологом?
            .flex-container.row
              input(type="radio" required="required" value="в здании SAS" name="Где бы вы хотели встречаться с психологом?")
              label() в здании SAS
            .flex-container.row
              input(type="radio" required="required" value="только вне SAS" name="Где бы вы хотели встречаться с психологом?")
              label() только вне SAS
            .flex-container.row
              input(type="radio" required="required" value="было бы удобно проводить встречи в общежитии" name="Где бы вы хотели встречаться с психологом?")
              label() было бы удобно проводить встречи в общежитии
            .flex-container.row
              input(type="radio" required="required" value="было бы удобно, если бы психолог ежедневно в определенный период времени находился в SAS, в области кофейни, чтобы к нему мог любой подойти по любому вопросу" name="Где бы вы хотели встречаться с психологом?")
              label() было бы удобно, если бы психолог ежедневно в определенный период времени находился в SAS, в области кофейни, чтобы к нему мог любой подойти по любому вопросу
            .flex-container.row
              input(type="radio" required="required" value="не имеет значения" name="Где бы вы хотели встречаться с психологом?")
              label() не имеет значения
            .flex-container.row
              input(type="radio" required="required" value="онлайн" name="Где бы вы хотели встречаться с психологом?")
              label() онлайн
            .flex-container.column
              label() Другое:
              input(type="text" name="Где бы вы хотели встречаться с психологом? Другое:")
          div(class="input-group")
            h3 В какое время, в идеале, психолог должен работать?
            .flex-container.row
              input(type="radio" required="required" value="утром" name="В какое время, в идеале, психолог должен работать?")
              label() утром
            .flex-container.row
              input(type="radio" required="required" value="в дневное время" name="В какое время, в идеале, психолог должен работать?")
              label() в дневное время
            .flex-container.row
              input(type="radio" required="required" value="вечером" name="В какое время, в идеале, психолог должен работать?")
              label() вечером
            .flex-container.row
              input(type="radio" required="required" value="он должен быть доступен весь день" name="В какое время, в идеале, психолог должен работать?")
              label() он должен быть доступен весь день
            .flex-container.row
              input(type="radio" required="required" value="не имеет значения" name="В какое время, в идеале, психолог должен работать?")
              label() не имеет значения  
          div(class="input-group")
            h3 Должен ли психолог работать по выходным или в будни?
            .flex-container.row
              input(type="radio" required="required" value="по будням" name="Должен ли психолог работать по выходным или в будни?")
              label() по будням
            .flex-container.row
              input(type="radio" required="required" value="по выходным" name="Должен ли психолог работать по выходным или в будни?")
              label() по выходным
            .flex-container.row
              input(type="radio" required="required" value="и по будням, и по выходным" name="Должен ли психолог работать по выходным или в будни?")
              label() и по будням, и по выходным
            .flex-container.row
              input(type="radio" required="required" value="не имеет значения" name="Должен ли психолог работать по выходным или в будни?")
              label() не имеет значения  
            .flex-container.column
              label() Другие предпочтения по поводу нового психолога?
              textarea(rows="3" name="Другие предпочтения по поводу нового психолога?")
          div(class="input-group")
            h3 Обращались ли вы когда-нибудь к предыдущему  психологу SAS Александру за помощью?
            .flex-container.row
              input(type="radio" required="required" value="да" name="Обращались ли вы когда-нибудь к предыдущему  психологу SAS Александру за помощью?")
              label() да
            .flex-container.row
              input(type="radio" required="required" value="нет" name="Обращались ли вы когда-нибудь к предыдущему  психологу SAS Александру за помощью?")
              label() нет
            .flex-container.column
              label() Если нет, то почему?
              input(type="text" name="Обращались ли вы когда-нибудь к предыдущему  психологу SAS Александру за помощью? Если нет, то почему?")
          div(class="input-group")
            h3 Если да, то были ли вы удовлетворены встречей с ним?
            .flex-container.row
              input(type="radio" value="да" name="Если да, то были ли вы удовлетворены встречей с ним?")
              label() да
            .flex-container.row
              input(type="radio" value="нет" name="Если да, то были ли вы удовлетворены встречей с ним?")
              label() нет
            .flex-container.column
              label() Если не были удовлетворены, то почему?
              input(type="text" name="Если да, то были ли вы удовлетворены встречей с ним? Если не были удовлетворены, то почему")
        button(type="submit" class="btn btn-primary btn-lg") Submit
    script(src="/cards.js")
