doctype html
html
  head
    title Серия вебинаров, посвященных актуальным темам развития высшего образования в России (июль – октябрь 2020) — опрос
    link(rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css")
    link(rel='stylesheet', href='//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css')
    link(rel='stylesheet', href='/style.css')
    link(rel='stylesheet', href='/cards.css')
    script(src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous")
    script(src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js" integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU=" crossorigin="anonymous")
    script(src="/touch_sortable.js")
body
  .container
    .jumbotron.text-center
      .logo
        a(href="https://sas.utmn.ru")
          img(src="/assets/logo_sas_ut_short-red.svg")
      h1 Благотворительный фонд Владимира Потанина и Школа перспективных исследований (SAS) ТюмГУ
      h3 Серия вебинаров, посвященных актуальным темам развития высшего образования в России (июль – октябрь 2020)
      h3 В июле 2020 прошли первые два вебинара серии. Будем благодарны, если Вы найдете несколько минут, чтобы ответить на несколько вопросов ниже:
      form(id="form" action="/polls/feedback-collector-anonymous" method="post")
        input(type="hidden" value="generic" name="subject")    
        fieldset
          div(class="input-group")
            .flex-container.column
              label(for="В каком вебинаре Вы принимали участие?" ) В каком вебинаре Вы принимали участие?
                sup(style="color:red") *
              select(class="form-control" name="В каком вебинаре Вы принимали участие?" required="required" )
                option(value="Вебинар 17.07.2020 (Андрей Щербенок, «Образование и конфликт между дисциплинами»)") Вебинар 17.07.2020 (Андрей Щербенок, «Образование и конфликт между дисциплинами»)
                option(value="Вебинар 31.07.2020 (Дара Мельник, «Экспериментальные университеты»)") Вебинар 31.07.2020 (Дара Мельник, «Экспериментальные университеты»)
                option(value="В двух вебинарах") В двух вебинарах 
                option(value="не принимал участие в указанных вебинарах, смотрел в записи") Не принимал участие в указанных вебинарах, смотрел в записи
            .flex-container.column
              label Если Вы принимали участие в вебинаре 17.07.2020 (или смотрели его в записи), оцените, пожалуйста, по 10-балльной шкале (минимальный балл — 1, максимальный балл — 10), насколько вебинар:
              label(for="Если Вы принимали участие в вебинаре 17.07.2020 (или смотрели его в записи), оцените, пожалуйста, по 10-балльной шкале, насколько вебинар: оказался для вас интересен") — оказался для вас интересен
              input(type="number" class="form-control" name="Если Вы принимали участие в вебинаре 17.07.2020 (или смотрели его в записи), оцените, пожалуйста, по 10-балльной шкале, насколько вебинар: оказался для вас интересен" min="1" max="10")
              label(for="Если Вы принимали участие в вебинаре 17.07.2020 (или смотрели его в записи), оцените, пожалуйста, по 10-балльной шкале, насколько вебинар: оказался полезен для вашей работы") — оказался полезен для вашей работы 
              input(type="number" class="form-control" name="Если Вы принимали участие в вебинаре 17.07.2020 (или смотрели его в записи), оцените, пожалуйста, по 10-балльной шкале, насколько вебинар: оказался полезен для вашей работы" min="1" max="10")
              label(for="Если Вы принимали участие в вебинаре 17.07.2020 (или смотрели его в записи), оцените, пожалуйста, по 10-балльной шкале, насколько вебинар: помог вам посмотреть на ВО под другим углом, задуматься о новом") — помог вам посмотреть на высшее образование под другим углом, задуматься о новом
              input(type="number" class="form-control" name="Если Вы принимали участие в вебинаре 17.07.2020 (или смотрели его в записи), оцените, пожалуйста, по 10-балльной шкале, насколько вебинар: помог вам посмотреть на ВО под другим углом, задуматься о новом" min="1" max="10")
              label(for="Если Вы принимали участие в вебинаре 17.07.2020 (или смотрели его в записи), оцените, пожалуйста, по 10-балльной шкале, насколько вебинар: дал возможность познакомиться и пообщаться с коллегами") — дал возможность познакомиться и пообщаться с коллегами 
              input(type="number" class="form-control" name="Если Вы принимали участие в вебинаре 17.07.2020 (или смотрели его в записи), оцените, пожалуйста, по 10-балльной шкале, насколько вебинар: дал возможность познакомиться и пообщаться с коллегами" min="1" max="10")
              label(for="Если Вы принимали участие в вебинаре 17.07.2020 (или смотрели его в записи), оцените, пожалуйста, по 10-балльной шкале, насколько вебинар: оправдал ваши ожидания") — оправдал ваши ожидания
              input(type="number" class="form-control" name="Если Вы принимали участие в вебинаре 17.07.2020 (или смотрели его в записи), оцените, пожалуйста, по 10-балльной шкале, насколько вебинар: оправдал ваши ожидания" min="1" max="10")
            .flex-container.column
              label(for="Поле для комментария 17.07") Комментарий 
              textarea(rows="3" class="form-control" name="Поле для комментария 17.07")
            .flex-container.column
              label Если Вы принимали участие в вебинаре 31.07.2020 (или смотрели его в записи), оцените, пожалуйста, по 10-балльной шкале (минимальный балл — 1, максимальный балл — 10), насколько вебинар:
              label(for="Если Вы принимали участие в вебинаре 31.07.2020 (или смотрели его в записи), оцените, пожалуйста, по 10-балльной шкале, насколько вебинар: оказался для вас интересен") — оказался для вас интересен
              input(type="number" class="form-control" name="Если Вы принимали участие в вебинаре 31.07.2020 (или смотрели его в записи), оцените, пожалуйста, по 10-балльной шкале, насколько вебинар: оказался для вас интересен" min="1" max="10")
              label(for="Если Вы принимали участие в вебинаре 31.07.2020 (или смотрели его в записи), оцените, пожалуйста, по 10-балльной шкале, насколько вебинар: оказался полезен для вашей работы") — оказался полезен для вашей работы 
              input(type="number" class="form-control" name="Если Вы принимали участие в вебинаре 31.07.2020 (или смотрели его в записи), оцените, пожалуйста, по 10-балльной шкале, насколько вебинар: оказался полезен для вашей работы" min="1" max="10")
              label(for="Если Вы принимали участие в вебинаре 31.07.2020 (или смотрели его в записи), оцените, пожалуйста, по 10-балльной шкале, насколько вебинар: помог вам посмотреть на ВО под другим углом, задуматься о новом") — помог вам посмотреть на высшее образование под другим углом, задуматься о новом
              input(type="number" class="form-control" name="Если Вы принимали участие в вебинаре 31.07.2020 (или смотрели его в записи), оцените, пожалуйста, по 10-балльной шкале, насколько вебинар: помог вам посмотреть на ВО под другим углом, задуматься о новом" min="1" max="10")
              label(for="Если Вы принимали участие в вебинаре 31.07.2020 (или смотрели его в записи), оцените, пожалуйста, по 10-балльной шкале, насколько вебинар: дал возможность познакомиться и пообщаться с коллегами") — дал возможность познакомиться и пообщаться с коллегами 
              input(type="number" class="form-control" name="Если Вы принимали участие в вебинаре 31.07.2020 (или смотрели его в записи), оцените, пожалуйста, по 10-балльной шкале, насколько вебинар: дал возможность познакомиться и пообщаться с коллегами" min="1" max="10")
              label(for="Если Вы принимали участие в вебинаре 31.07.2020 (или смотрели его в записи), оцените, пожалуйста, по 10-балльной шкале, насколько вебинар: оправдал ваши ожидания") — оправдал ваши ожидания
              input(type="number" class="form-control" name="Если Вы принимали участие в вебинаре 31.07.2020 (или смотрели его в записи), оцените, пожалуйста, по 10-балльной шкале, насколько вебинар: оправдал ваши ожидания" min="1" max="10")
            .flex-container.column
              label(for="Поле для комментария 31.07") Комментарий
              textarea(rows="3" class="form-control" name="Поле для комментария 31.07")
            .flex-container.column
              label(for="С какой долей вероятности Вы бы посоветовали данную серию вебинаров вашим коллегам (минимальный балл — 1, максимальный балл — 10)") С какой долей вероятности Вы бы посоветовали данную серию вебинаров вашим коллегам? (минимальный балл — 1, максимальный балл — 10) 
                sup(style="color:red") *
              input(type="number" required="required" class="form-control" name="С какой долей вероятности Вы бы посоветовали данную серию вебинаров вашим коллегам (минимальный балл — 1, максимальный балл — 10)" min="1" max="10")
            .flex-container.column
              label(for="Что для вас оказалось наиболее полезным?") Что для вас оказалось наиболее полезным?
                sup(style="color:red") *
              textarea(rows="3" required="required" class="form-control" name="Что для вас оказалось наиболее полезным?")
            .flex-container.column
              label(for="Что, на ваш взгляд, следует улучшить при подготовке / проведении подобных вебинаров?") Что, на ваш взгляд, следует улучшить при подготовке / проведении подобных вебинаров?
                sup(style="color:red") *
              textarea(rows="3" required="required" class="form-control" name="Что, на ваш взгляд, следует улучшить при подготовке / проведении подобных вебинаров?")
            .flex-container.row
              input.form-check-input(id="agreement-checkbox" type="checkbox" name="agreement" required)                         
              label(for="agreement-checkbox") Я даю согласие на обработку своих персональных данных на основании 
                a(href="https://www.utmn.ru/o-tyumgu/soglasheniya/politika-konfidentsialnosti.php") Политики конфиденциальности
                sup(style="color:red") *
            .flex-container.column
              label 
                sup(style="color:red") * 
                span — обязательные поля
            .flex-container.column
              label Спасибо за ваши ответы и сотрудничество! До встречи на сентябрьских вебинарах!
        button(type="submit" class="btn btn-primary btn-lg") Отправить
    script(src="/default.js")
