doctype html
html
  head
    title Course Evaluations
    link(rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css")
    link(rel='stylesheet', href='//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css')
    link(rel='stylesheet', href='/style.css')
    link(rel='stylesheet', href='/cards.css')
    script(src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous")
    script(src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js" integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU=" crossorigin="anonymous")
    script(src="/touch_sortable.js")
body
  .container
    .jumbotron.text-center
      .logo
        a(href="https://sas.utmn.ru")
          img(src="/assets/logo_sas_ut_short-red.svg")
      h1 Оценка работы практикантов
      form(id="form" action="/polls/feedback-collector-anonymous" method="post")
        input(type="hidden" value="generic" name="subject")    
        fieldset
          div(class="input-group")
            .flex-container.column
              label(for="Пожалуйста, назовите Ваше имя и организацию") Пожалуйста, назовите Ваше имя и организацию
              input(type="text" required="required" class="form-control" name="Пожалуйста, назовите Ваше имя и организацию")
            .flex-container.column
              label(for="Пожалуйста, назовите имя студента, которого Вы оцениваете") Пожалуйста, назовите имя студента, которого Вы оцениваете
              input(type="text" required="required" class="form-control" name="Пожалуйста, назовите имя студента, которого Вы оцениваете")
            .flex-container.column
              label(for="Пожалуйста, оцените уровень работы практикантов" ) Пожалуйста, оцените уровень работы практикантов
              select(class="form-control" name="Пожалуйста, оцените уровень работы практикантов" required="required" )
                option(value="Превосходит ожидания: часто и последовательно выполняет задачи на очень высоком уровне.") Превосходит ожидания: часто и последовательно выполняет задачи на очень высоком уровне.
                option(value="Соответствует ожиданиям: в целом и обычно соответствует ожиданиям производительности") Соответствует ожиданиям: в целом и обычно соответствует ожиданиям производительности
                option(value="Ниже ожиданий: удовлетворяет некоторые ожидания удовлетворительно, часто не в состоянии адекватно соответствовать другим") Ниже ожиданий: удовлетворяет некоторые ожидания удовлетворительно, часто не в состоянии адекватно соответствовать другим
                option(value="Неудовлетворительно: производительность не соответствует минимальным ожиданиям") Неудовлетворительно: производительность не соответствует минимальным ожиданиям  
                option(value="Не применимо: недостаточная возможность оценить / оценить") Не применимо: недостаточная возможность оценить / оценить
            .flex-container.column
              label(for="Отчеты о работе предоставляет в соответствии с графиком и в срок и демонстрирует позитивный и настрой; конструктивный подход, выполняет задания по мере необходимости.(3 - высший балл, 1 - низший балл)") Отчеты о работе предоставляет в соответствии с графиком и в срок и демонстрирует позитивный и настрой; конструктивный подход, выполняет задания по мере необходимости.(3 - высший балл, 1 - низший балл)
              input(type="number" required="required" class="form-control" name="Отчеты о работе предоставляет в соответствии с графиком и в срок и демонстрирует позитивный и настрой; конструктивный подход, выполняет задания по мере необходимости.(3 - высший балл, 1 - низший балл)" min="1" max="3")
            .flex-container.column
              label(for="Слушает активно, внимательно, четко формулирует идеи на собраниях и в командах и демонстрирует эффективные устные навыки. (3 - высший балл, 1 - низший балл)") Слушает активно, внимательно, четко формулирует идеи на собраниях и в командах и демонстрирует эффективные устные навыки. (3 - высший балл, 1 - низший балл)
              input(type="number" required="required" class="form-control" name="Слушает активно, внимательно, четко формулирует идеи на собраниях и в командах и демонстрирует эффективные устные навыки. (3 - высший балл, 1 - низший балл)" min="1" max="3")
            .flex-container.column
              label(for="Четко излагает идеи и концепции в письменном виде. Читает, понимает и следует письменным материалам.(3 - высший балл, 1 - низший балл)") Четко излагает идеи и концепции в письменном виде. Читает, понимает и следует письменным материалам.(3 - высший балл, 1 - низший балл)
              input(type="number" required="required" class="form-control" name="Четко излагает идеи и концепции в письменном виде. Читает, понимает и следует письменным материалам.(3 - высший балл, 1 - низший балл)" min="1" max="3")
            .flex-container.column
              label(for="Эффективно использует технологии, применяет навыки и знания надлежащим образом и ищет возможности для изучения и применения новых технологий и инструментов. (3 - высший балл, 1 - низший балл)") Эффективно использует технологии, применяет навыки и знания надлежащим образом и ищет возможности для изучения и применения новых технологий и инструментов. (3 - высший балл, 1 - низший балл)
              input(type="number" required="required" class="form-control" name="Эффективно использует технологии, применяет навыки и знания надлежащим образом и ищет возможности для изучения и применения новых технологий и инструментов. (3 - высший балл, 1 - низший балл)" min="1" max="3")
            .flex-container.column
              label(for="Разбивает задачи / проблемы на управляемые части и работает над решением проблем. (3 - высший балл, 1 - низший балл)") Разбивает задачи / проблемы на управляемые части и работает над решением проблем. (3 - высший балл, 1 - низший балл)
              input(type="number" required="required" class="form-control" name="Разбивает задачи / проблемы на управляемые части и работает над решением проблем. (3 - высший балл, 1 - низший балл)" min="1" max="3")
            .flex-container.column
              label(for="Активно ищет роли / задачи, с помощью которых вносить свой вклад, разрабатывает идеи и варианты и активно продвигает и выполняет их. и - или Принимает инициативу в работе, выполняет соответствующие действия для решения задач, которые должны быть выполнены до завершения усилий. (3 - высший балл, 1 - низший балл)") Активно ищет роли / задачи, с помощью которых вносить свой вклад, разрабатывает идеи и варианты и активно продвигает и выполняет их. 
                br и - или 
                br Принимает инициативу в работе, выполняет соответствующие действия для решения задач, которые должны быть выполнены до завершения усилий. (3 - высший балл, 1 - низший балл)
              input(type="number" required="required" class="form-control" name="Активно ищет роли / задачи, с помощью которых вносить свой вклад, разрабатывает идеи и варианты и активно продвигает и выполняет их. и - или Принимает инициативу в работе, выполняет соответствующие действия для решения задач, которые должны быть выполнены до завершения усилий. (3 - высший балл, 1 - низший балл)" min="1" max="3")
            .flex-container.column
              label(for="Если бы позволяли обстоятельства, Вы бы наняли этого студента на полный рабочий день?" ) Если бы позволяли обстоятельства, Вы бы наняли этого студента на полный рабочий день?
              select(class="form-control" name="Если бы позволяли обстоятельства, Вы бы наняли этого студента на полный рабочий день?" required="required" )
                option(value="Да") Да
                option(value="Нет") Нет
                option(value="Только при условии, если ____") Только при условии, если ____
            .flex-container.column
              label(for="Если бы позволяли обстоятельства, Вы бы наняли этого студента на полный рабочий день? — Условие") Если бы позволяли обстоятельства, Вы бы наняли этого студента на полный рабочий день? — Условие (не обязательно)
              input(type="text" class="form-control" name="Если бы позволяли обстоятельства, Вы бы наняли этого студента на полный рабочий день? — Условие")
            .flex-container.column
              label(for="Довольны ли Вы в целом тем, как прошла стажировка студентов (удовлетворение потребностей организации, работа студента и др.?" ) Довольны ли Вы в целом тем, как прошла стажировка студентов (удовлетворение потребностей организации, работа студента и др.?
              select(class="form-control" name="Довольны ли Вы в целом тем, как прошла стажировка студентов (удовлетворение потребностей организации, работа студента и др.?" required="required" )
                option(value="Да") Да
                option(value="Скорее, да") Скорее, да
                option(value="Затрудняюсь сказать") Затрудняюсь сказать
                option(value="Скорее, нет") Скорее, нет
                option(value="Совсем нет") Совсем нет
            .flex-container
              label(for="Рекомендации по улучшению") Рекомендации по улучшению
              textarea(rows="4" required="required" class="form-control" name="Рекомендации по улучшению")
        button(type="submit" class="btn btn-primary btn-lg") Отправить
    script(src="/cards.js")
