doctype html
html
  head
    title Course Evaluations
    link(rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css")
    link(rel='stylesheet', href='//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css')
    link(rel='stylesheet', href='/style.css')
    link(rel='stylesheet', href='/cards.css')
    script(src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous")
    script(src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js" integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU=" crossorigin="anonymous")
    // script(src="/touch_sortable.js")
body
  .container
    .jumbotron.text-center
      .logo
        a(href="https://sas.utmn.ru")
          img(src="/assets/logo_sas_ut_short-red.svg")
      h3 ESL Teaching Survey
      //h3 To better understand conditions for online teaching in Q4, we are running a short survey (filling it will take you 3 mins max). Please do so by Monday, 6.04, 8pm.
      form(id="form" action="/polls/generic" method="post")
        input(type="hidden" value="generic" name="subject")    
        fieldset
          div(class="input-group")
            //.flex-container
            //  label(for="Воспользовались ли вы возможностью встречи с психологом?") Воспользовались ли вы возможностью встречи с психологом? Если нет, то почему?
            //  textarea(required="required" class="form-control" name="Воспользовались ли вы возможностью встречи с психологом?" rows="4")
            //.flex-container
            //  label(for="Почему предпочли индивидуальный формат встречи?") Почему вы предпочли индивидуальный формат встречи?
            //  textarea(required="required" class="form-control" name="Почему предпочли индивидуальный формат встречи?" rows="4")
            //.flex-container
            //  label(for="Как оцениваете эффективность встреч?") Как вы оцениваете эффективность встреч? (Баллы от 1 до 10)
            //  input(type="number" required="required" class="form-control" name="Как оцениваете эффективность встреч?" min="1" max="10")
            //.flex-container
            //  label(for="Есть ли потребность в дальнейших консультациях? И какой формат предпочтете? Индивидуальные консультации или групповая работа.") Есть ли у вас потребность в дальнейших консультациях? И какой формат вы предпочтете: индивидуальные консультации или групповую работу?
            //  textarea(required="required" class="form-control" name="Есть ли потребность в дальнейших консультациях? И какой формат предпочтете? Индивидуальные консультации или групповая работа." rows="4")
            //.flex-container
            //  label(for="Устраивают ли вас время и место проведения встреч?") Устраивают ли вас время и место проведения встреч?
            //  textarea(required="required" class="form-control" name="Устраивают ли вас время и место проведения встреч?" rows="2")
            .flex-container
               label(for="Who taught this course") Who is the instructor for this course?
               select(class="form-control" required="required" name="Who taught this course")
                 option(value="Irina Parakhina") Irina Parakhina
                 option(value="Anna Syrchina") Daniel Williamson
                 //- option(value="Valeria Evdash") Valeria Evdash
                 //- option(value="Tatyana Kovaleva") Tatyana Kovaleva
            .flex-container
               label(for="To what extent was this course an improvement over English language courses you have had previously") To what extent is this course an improvement over English language courses you have had previously? Give a score from 1 to 10, where 1 = It is not helping at all and 10 = It is helping significantly.
               input(type="number" required="required" class="form-control" name="To what extent was this course an improvement over English language courses you have had previously" min="1" max="10")
            .flex-container
               label(for="In what ways was this course useful in terms of improving your English language skills") In what ways is this course useful in terms of improving your English language skills? Put your thoughts.
               textarea(required="required" class="form-control" name="In what ways was this course useful in terms of improving your English language skills" rows="4")
            .flex-container
               label(for="If you had the chance to change some aspects of the course what would they be?") If you had the chance to change some aspects of the course what would they be? Put your thoughts.
               textarea(required="required" class="form-control" name="If you had the chance to change some aspects of the course what would they be?" rows="4")
            .flex-container
               label(for="To what extent did the instructors focus on speaking skills?") To what extent is the instructor focusing on speaking skills? Put your thoughts.
               textarea(required="required" class="form-control" name="To what extent did the instructor focus on speaking skills?" rows="4")
            .flex-container
               label(for="To what extent did the instructors focus on grammar skills?") To what extent is the instructor focusing on grammar skills? Put your thoughts.
               textarea(required="required" class="form-control" name="To what extent did the instructor focus on grammar skills?" rows="4")
            //- .flex-container.column
            //-   label Do you have access to a computer or a laptop?
            //- .flex-container.row
            //-   input(type="radio"  value="Yes, my own" name="Do you have access to a computer or a laptop" required="required" )
            //-   label() Yes, my own
            //- .flex-container.row
            //-   input(type="radio"  value="Yes, shared with other members of the household" name="Do you have access to a computer or a laptop" required="required" )
            //-   label() Yes, shared with other members of the household
            //- .flex-container.row
            //-   input(type="radio"  value="No" name="Do you have access to a computer or a laptop" required="required" )
            //-   label() No
            //- .flex-container.column
            //-   label If yes, does this computer have a webcam and a microphone?
            //- .flex-container.row
            //-   input(type="radio"  value="Yes" name="If yes, does this computer have a webcam and a microphone?" )
            //-   label() Yes
            //- .flex-container.row
            //-   input(type="radio"  value="No" name="If yes, does this computer have a webcam and a microphone?" )
            //-   label() No
            //- .flex-container.column
            //-   label Do you own a tаblet?
            //- .flex-container.row
            //-   input(type="radio"  value="Yes, my own" name="Do you own a tаblet" required="required" )
            //-   label() Yes, my own
            //- .flex-container.row
            //-   input(type="radio"  value="Yes, shared with other members of the household" name="Do you own a tаblet" required="required" )
            //-   label() Yes, shared with other members of the household
            //- .flex-container.row
            //-   input(type="radio"  value="No" name="Do you own a tаblet" required="required" )
            //-   label() No
            //- .flex-container.column
            //-   label Do you own a smartphone?
            //- .flex-container.row
            //-   input(type="radio"  value="Yes" name="Do you own a smartphone?" required="required")
            //-   label() Yes
            //- .flex-container.row
            //-   input(type="radio"  value="No" name="Do you own a smartphone?" required="required")
            //-   label() No
            //- .flex-container.column
            //-   label Do you have access to a reliable high speed Internet connection where you are going to stay during quarter 4?
            //- .flex-container.row
            //-   input(type="radio"  value="Yes, my own" name="Do you have access to a reliable high speed Internet connection where you are going to stay during quarter 4?" required="required" )
            //-   label() Yes
            //- .flex-container.row
            //-   input(type="radio"  value="Not always" name="Do you have access to a reliable high speed Internet connection where you are going to stay during quarter 4?" required="required" )
            //-   label() Not always
            //- .flex-container.row
            //-   input(type="radio"  value="No" name="Do you have access to a reliable high speed Internet connection where you are going to stay during quarter 4?" required="required" )
            //-   label() No
            //- .flex-container.column
            //-   label Will you be able to attend classes at regular SAS hours (9am-9pm) with appropriate conditions (a quiet room where you can focus and talk,  etc.)?
            //- .flex-container.row
            //-   input(type="radio"  value="Yes, my own" name="Will you be able to attend classes at regular SAS hours (9am-9pm) with appropriate conditions (a quiet room where you can focus and talk,  etc.)?" required="required" )
            //-   label() Yes, always
            //- .flex-container.row
            //-   input(type="radio"  value="Not always" name="Will you be able to attend classes at regular SAS hours (9am-9pm) with appropriate conditions (a quiet room where you can focus and talk,  etc.)?" required="required" )
            //-   label() Hopefully, but I can’t be sure
            //- .flex-container.row
            //-   input(type="radio"  value="No" name="Will you be able to attend classes at regular SAS hours (9am-9pm) with appropriate conditions (a quiet room where you can focus and talk,  etc.)?" required="required" )
            //-   label() No
            //- .flex-container
            //-    label(for="Please let us know any other issues or suggestions that you might have regarding the online teaching in the coming quarter.") Please let us know any other issues or suggestions that you might have regarding the online teaching in the coming quarter.
            //-    textarea( class="form-control" name="Please let us know any other issues or suggestions that you might have regarding the online teaching in the coming quarter." rows="4")
            //- .flex-container
            //-   label Please reach out to us or to a professor you feel comfortable talking to if you have any other concerns. We are here for you.
            //- .flex-container.column
            //-   label Location
            //- .flex-container.row
            //-   input(type="radio"  value="UTMN dormitory" name="Location" required="required" )
            //-   label() UTMN dormitory
            //- .flex-container.row
            //-   input(type="radio"  value="Tyumen - family home" name="Location" required="required" )
            //-   label() Tyumen - family home
            //- .flex-container.row
            //-   input(type="radio"  value="Tyumen - own/shared apartment" name="Location" required="required" )
            //-   label() Tyumen - own/shared apartment
            //- .flex-container.row
            //-   input(type="radio" id="city" value="Other city (which - for Time Zones)" name="Location" required="required" )
            //-   label() Other city
            //- .flex-container.column
            //-   label(id="cityLabel" style="display:none") Which - for Time Zones
            //-   input(type="text" id="cityField" name="City" style="display:none")
            //- .flex-container.column
            //-   label Year
            //- .flex-container.row
            //-   input(type="radio"  value="1" name="Year" required="required" )
            //-   label() 1
            //- .flex-container.row
            //-   input(type="radio"  value="2" name="Year" required="required" )
            //-   label() 2
            //- .flex-container.row
            //-   input(type="radio"  value="3" name="Year" required="required" )
            //-   label() 3
            //- .flex-container.row
            //-   input(type="radio"  value="MA 1" name="Year" required="required" )
            //-   label() MA 1
            //- .flex-container.row
            //-   input(type="radio"  value="MA 2" name="Year" required="required" )
            //-   label() MA 2
        button(type="submit" class="btn btn-primary btn-lg") Submit
    //- script(src="/cards.js")
    script(src="/default.js")
    script.
      /* $('#city').click(function(){
         $('#cityField').css('display','block')
         $('#cityLabel').css('display','block')
         }); */
      
