doctype html
html
  head
    title Обратная связь. «Актуальные проблемы»
    link(rel='stylesheet', href='//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css')
    // load bootstrap css
    style.
      body        { padding-top:20px;   font-family: 'Agipo-Bold';}
      @font-face {
        font-family: 'Agipo-Bold';
        src:url('../fonts/agipo/Agipo-Bold.woff');
      }
      img {
        width:100%;
      }
      .logo {padding-bottom:30px}
      h2 {font-weight:800; margin-bottom:20px;}
      .jumbotron h1 {
        font-size:36px;
        margin-bottom: 40px;
      }
      h3 {
        font-size: 1.5em;
        font-weight: 400;
      }
      .jumbotron{
        font-size:18px;
        line-height: initial;
      }
      .container{
        width:98% !important;
      }
      .input-group{
        margin-bottom:20px;
      }
      .input-group label {
        font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
        font-weight: 500;
        margin: 10px 0;
        font-size:20px;
      }
      .input-group .label__description {
        font-family:initial;
      }
      .input-group .form-control {
        margin: 20px 0 40px 0;
        width:75%;
      }
      form {
        margin-top: 30px;
      }
      label,legend {
        text-align: left;
            float: left;
      }
      legend {font-size: 1.8em;}
      input, textarea, select {
        float:left;
        width:75%;
        font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
      }

      input[type="radio"] {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;

        border-radius: 50%;
        width: 38px;
        height: 38px;

        border: 2px solid #999;
        transition: 0.2s all linear;
        outline: none;
        margin-right: 15px;

        position: relative;
        top:23px;
        }
        input:focus {
          outline: none !important;
        }
        input:checked {
          border: 12px solid #00f;
        }
        button {
          background-color: #00f !important;
        }


        @media (max-width: 1024px) {

          body{padding-top:10px}
          .container{
          width:95%;
          }
        .input-group  label {
          font-size:30px ;
          margin-bottom:20px;
          }
          input[type="radio"]{
            top:23px;
          }
          button.btn-lg {
            font-size: 30px;
          }
        }
body
  .container
    
    .jumbotron.text-center
      .logo
        a(href="https://sas.utmn.ru")
          img(src="../assets/Logo__blue.png")
      h1 Обратная связь. «Актуальные проблемы»
      h3 Уважаемые студенты Школы. Завершилась первый модуль второй части курса «Актуальные проблемы», который является обязательной дисциплиной ядра. Опрос состоит из трёх частей: оценка лекционной части (в данном случае, речь идет о лекциях Тимура Щукина), семинарских занятиях и самостоятельной работы + общем пленарном заседании). Для Школы очень важна ваша обратная связь, она является вашим главным инструментом влияния на образовательный процесс. Просим вас отнестись к заполнению формы максимально внимательно и объективно. Опрос является анонимным и будет доступен для заполнения до 15:00 2 марта. Обращаем ваше внимание на то, что баллы 0, 5 и 10 являются лишь ориентирами для возможной оценки, вы можете использовать любой показатель от 0 до 10.
      form(action="/polls/global-issues-part-5" method="post")
        fieldset
          legend Лекционная часть (Тимур Щукин):
          div(class="input-group")
            label(for="Оцените сложность содержания лекций") Оцените сложность содержания лекций для вашего понимания. Оцените по шкале от 0 до 10, где 0 – я вообще ничего не понимал; 5 – я понимал 50%; 10 – я понимал все.
            input(type="number" required="required" class="form-control" name="Оцените сложность содержания лекций" min="0" max="10")
            label(for="Насколько новым для вас было содержание лекций") Насколько новым для вас было содержание лекций? Оцените по шкале от 0 до 10, где 0 – я не узнал ничего нового; 5 – 50% материала было для меня новым; 10 – все, о чем говорилось, я слышал впервые.
            input(type="number" required="required" class="form-control" name="Насколько новым для вас было содержание лекций" min="0" max="10")
            label(for="Сколько процентов обязательных текстов по этой части курса вы успевали прочесть") Сколько процентов обязательных текстов по этой части курса вы успевали прочесть? (от 0 до 100)
            input(type="number" required="required" class="form-control" name="Сколько процентов обязательных текстов по этой части курса вы успевали прочесть" min="0" max="100")
            label(for="Насколько изменились ваше мышление, знания и умения под воздействием лекций") Насколько изменились ваше мышление, знания и умения под воздействием лекций? Оцените по шкале от 0 до 10, где 0 - вообще не изменились; 3 – изменились незначительно; 6 – заметно изменились; 8 – сильно изменились; 10 – я стал другим человеком.
            input(type="number" required="required" class="form-control" name="Насколько изменились ваше мышление, знания и умения под воздействием лекций" min="0" max="10")
            label(for="Что вам больше всего понравилось на лекциях?") Что вам больше всего понравилось на лекциях?
            textarea(rows="4" required="required" class="form-control" name="Что вам больше всего понравилось на лекциях?")
            label(for="Что вам больше всего не понравилось на лекциях?") Что вам больше всего не понравилось на лекциях?
            textarea(rows="4" required="required" class="form-control" name="Что вам больше всего не понравилось на лекциях?")  
        fieldset
          legend Семинарские занятия
          div(class="input-group")
            label(for="Укажите имя и фамилию куратора, организовывавшего групповую работу") Укажите имя и фамилию куратора, организовывавшего групповую работу.
            select(class="form-control" required="required" name="Укажите имя и фамилию куратора, организовывавшего групповую работу")
              option(value="Евгений Гришин") Евгений Гришин
              option(value="Елена Арбатская") Елена Арбатская
              option(value="Максим Алюков") Максим Алюков
              option(value="Олег Журавлев") Олег Журавлев
            label(for="Оцените насколько семинарские занятия помогли вам разобраться с содержанием темы этого модуля") Оцените насколько семинарские занятия помогли вам разобраться с содержанием темы этого модуля (балл от 0 до 10, где 0 – семинар еще больше меня запутал, я стал понимать еще меньше; 10 – благодаря работе на семинаре я разобрался в теме, всё встало на свои места).
            input(type="number" required="required" class="form-control" name="Оцените насколько семинарские занятия помогли вам разобраться с содержанием темы этого модуля" min="0" max="10")
        fieldset
          legend Практическая часть (групповая работа и пленар)
          div(class="input-group")
            label(for="Оцените, насколько понятной для вас была установка на групповую работу") Оцените, насколько понятной для вас была установка на групповую работу по шкале от 0 до 10, где 0 – я вообще ничего не понимал; 5 – я понимал 50%; 10 – я понимал все.
            input(type="number" required="required" class="form-control" name="Оцените, насколько понятной для вас была установка на групповую работу" min="0" max="10")
            label(for="Что именно для вас было непонятным и самым сложным в установке на групповую работу?") Что именно для вас было непонятным и самым сложным в установке на групповую работу?
            textarea(rows="4" required="required" class="form-control" name="Что именно для вас было непонятным и самым сложным в установке на групповую работу?")
            label(for="Оцените, помог ли дополнительный такт (предзащита) в продвижении работы вашей группы?") Оцените, помог ли дополнительный такт (предзащита) в продвижении работы вашей группы?
            select(class="form-control" required="required" name="Оцените, помог ли дополнительный такт (предзащита) в продвижении работы вашей группы?")
              option(value="Да, это полезный такт. Нужно его оставить") Да, это полезный такт. Нужно его оставить
              option(value="Нет, этот такт только отнял время и никак не помог продвижению работы группы. Нужно его отменить.") Нет, этот такт только отнял время и никак не помог продвижению работы группы. Нужно его отменить.
            label(for="Оцените эффективность формата самостоятельной групповой работы (без куратора)") Оцените эффективность формата самостоятельной групповой работы (без куратора) по шкале от 0 до 10, где 0 – результат нашей группы значительно хуже предыдущего опыта, потому что не было профессора, организующего нашу работу; 10 – наша работа была значительно продуктивней, потому что мы сами её организовывали.
            input(type="number" required="required" class="form-control" name="Оцените эффективность формата самостоятельной групповой работы (без куратора)" min="0" max="10")    
            label(for="Что для вас было самым интересным в групповой работе?") Что для вас было самым интересным в групповой работе?
            textarea(rows="4" required="required" class="form-control" name="Что для вас было самым интересным в групповой работе?")
            label(for="Что для вас было самым интересным на пленаре?") Что для вас было самым интересным на пленаре?
            textarea(rows="4" required="required" class="form-control" name="Что для вас было самым интересным на пленаре?")  
            label(for="Как бы вы порекомендовали улучшить этот курс") Как бы вы порекомендовали улучшить этот курс?
            textarea(rows="4" required="required" class="form-control" name="Как бы вы порекомендовали улучшить этот курс")   
        button(type="submit" class="btn btn-primary btn-lg") Отправить
