doctype html
head
  title Поддерживаете ли вы проект решения Комиссии в отношении Даниэла Контовски
  link(rel='stylesheet', href='//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css')
  // load bootstrap css
  style.
    body        { padding-top:20px;   font-family: 'Agipo-Bold';}
    @font-face {
      font-family: 'Agipo-Bold';
      src:url('../fonts/agipo/Agipo-Bold.woff');
    }
    img {
      width:80%;
      margin-top:10px;
    }
    .logo {padding-bottom:30px}
    h2 {font-weight:800; margin-bottom:20px;}
    .jumbotron h1 {
      font-size:36px;
      margin-bottom: 40px;
    }
    h3 {
      font-size: 1.5em;
      font-weight: 400;
    }
    .jumbotron{
      font-size:18px;
      line-height: initial;
      padding-top: 0px;
    }
    .container{
      width:98% !important;
    }
    .input-group{
      margin-bottom:20px;
    }
    .input-group label {
      font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
      font-weight: 500;
      margin: 10px 0;
      font-size:20px;
      width:93%;
    }
    .input-group .label__description {
      font-family:initial;
    }
    .input-group .form-control {
      margin: 20px 0 40px 0;
      width:75%;
    }
    form {
      margin-top: 30px;
    }
    label,legend {
      text-align: left;
          float: left;
    }
    legend {font-size: 1.8em;}
    input, textarea, select {
      float:left;
      width:75%;
      font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    }

    input[type="radio"] {
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;

      border-radius: 50%;
      width: 39px;
      height: 38px;

      border: 2px solid #999;
      transition: 0.2s all linear;
      outline: none;
      margin-right: 15px;

      position: relative;
      top:0;
      }
      input:focus {
        outline: none !important;
      }
      input:checked {
        border: 12px solid #f00;
        width: 38px;
        height: 37.5px;
      }
      button {
        background-color: #f00 !important;
        border: none !important;
      }
      .flex-container {display:flex; flex-direction:column; margin:10px 0;}
      .flex-container.row {flex-direction:row;}

      @media (max-width: 1024px) {

        body{padding-top:10px}
        .container{
        width:95%;
        }
      h1,h3 {font-size:60px !important;}
    .input-group  label {
      font-size:40px ;
      margin-bottom:20px;
      }
      input[type="checkbox"]{
        top:14px;
        zoom:1.1;
      }
      input[type="radio"]{
        top:14px;
      }
      button.btn-lg {
        font-size: 30px;
      }
      }
.container
  .jumbotron.text-center
    .logo
      a(href="https://sas.utmn.ru")
        img(src="/assets/logo_sas_ut_short-red.svg")
    h1 Поддерживаете ли вы проект решения Комиссии в отношении Даниэла Контовски?
    form(action="/polls/kontowski" method="post")
      div(class="input-group")
        .flex-container.row
          input(type="radio" required="required" value="Да" name="major" id="Да")
          label(for="Да") Да
        .flex-container.row
          input(type="radio" required="required" value="Нет" name="major" id="Нет")
          label(for="Нет") Нет
        .flex-container.row
          input(type="radio" required="required" value="Воздержался" name="major" id="Воздержался")
          label(for="Воздержался") Воздержался
      button(type="submit" class="btn btn-primary btn-lg") Отправить
