doctype html
html
  head
    title Open Day at SAS 2020
    //- link(rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css")
    link(rel='stylesheet', href='//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css')
    link(rel='stylesheet', href='/style.css')
    //- link(rel='stylesheet', href='/cards.css')
    script(src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous")
    //- script(src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js" integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU=" crossorigin="anonymous")
    //- script(src="/touch_sortable.js")
        
body
  .container
    .jumbotron.text-center
      .logo
        a(href="https://sas.utmn.ru")
          img(src="/assets/logo_sas_ut_short-red.svg")
      h1 РЕГИСТРАЦИЯ НА ДЕНЬ ОТКРЫТЫХ ДВЕРЕЙ В ШКОЛЕ ПЕРСПЕКТИВНЫХ ИССЛЕДОВАНИЙ
      h1 22 марта 2020
      h3 
        a(href="https://sas.utmn.ru/ru/education") Школа перспективных исследований 
        span — принципиально новое научно-образовательное подразделение ТюмГУ — предлагает самый международный бакалавриат в России, открывающий лучшим студентам доступ к образованию мирового уровня.
      //- p &nbsp;
      //- h4 8.00–9.30 (МСК): Андрей Щербенок — Зачем (нам) нужен (этот) университет?
      //- h4 9.45–10.30 (МСК): Giacomo Andreoletti — Identity through Time
      //- h4 9.45–10.30 (МСК): Светлана Ерпылева — Занимательная история: как в XIX веке мы изобрели подростковость (VK)
      h3
        a(href="https://sas.utmn.ru/ru/open-day-03-2020") Полная программа Дня открытых дверей
      p(class="Grade") Не забывайте паспорт, он понадобится для входа в учебные пространства здания. Зона кафе, столовой и книжного магазина на первом этаже здания остаётся свободной для посещения без регистрации. Студентам и сотрудникам Тюменского государственного университета регистрироваться не нужно, но для входа необходим электронный пропуск.
      form(action="/polls/open-day-03-2020" method="post")
        fieldset
          div(class="input-group")
            .flex-container.row
              input.checkbox(id="broadcast" type="checkbox" name="Broadcast")                         
              label(for="Broadcast") Хочу присоединиться к открытому дню в SAS онлайн
            .flex-container.column
              label(for="Name") ФИО
                sup(style="color:red") *
              input(type="text" required="required" class="form-control" name="Name")
            .flex-container.column
              label(for="City") Город
                sup(style="color:red") *
              input(type="text" required="required" class="form-control" name="City")
            .flex-container.column
              label(for="Birthdate" class="Grade") Дата рождения
                sup(style="color:red") *
              input(type="date" required="required" class="form-control Grade" name="Birthdate")
            .flex-container.column
              label(for="Grade" ) Кем вы являетесь? (школьник / студент / родитель)
                sup(style="color:red") *
              select(name="Grade" required="required" )
                option(value="Не выбрано") Не выбрано
                option(value="Школьник (8–10 класс)") Школьник (8–10 класс)
                option(value="Школьник (11 класс)") Школьник (11 класс)
                option(value="Студент") Студент  
                option(value="Родитель") Родитель
                option(value="Другое") Другое  
            .flex-container.column
              label(for="Source") Откуда вы узнали о мероприятии
                sup(style="color:red") *
              input(type="text" required="required" class="form-control" name="Source")     
            .flex-container.column
              label(for="Email") Email
                sup(style="color:red") *
              input(type="email" required="required" class="form-control" name="Email")             
            .flex-container.row
              input.checkbox(id="agreement-checkbox" type="checkbox" name="agreement" required="required")                         
              label(for="agreement-checkbox") Я даю согласие на обработку своих персональных данных на основании 
                a(href="https://www.utmn.ru/o-tyumgu/soglasheniya/politika-konfidentsialnosti.php") Политики конфиденциальности
                sup(style="color:red") *
            label 
              sup(style="color:red") * 
              span — обязательные поля
              
        button(type="submit" class="btn btn-primary btn-lg") Отправить
  script.
    $('#broadcast').click(function(){
      if ($(this).is(':checked')){
          $('.Grade').each(function(){$( this ).removeAttr('required'); $( this ).css('display','none')});
      }
      else {
          $('.Grade').each(function(){$( this ).attr('required'); $( this ).css('display','block')});
        }
    })
