doctype html
html
  head
    title Open Day at SAS 2018
    link(rel='stylesheet', href='//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css')
    // load bootstrap css
    style.
      body        { padding-top:20px;   font-family: 'Agipo-Bold';}
      @font-face {
        font-family: 'Agipo-Bold';
        src:url('../fonts/agipo/Agipo-Bold.woff');
      }
      img {
        width:100%;
      }
      .logo {padding-bottom:30px}
      h2 {font-weight:800; margin-bottom:20px;}
      .jumbotron h1 {
        font-size:36px;
        margin-bottom: 40px;
      }
      h3 {
        font-size: 1.5em;
        font-weight: 400;
      }
      a {color:#00f}
      .jumbotron{
        font-size:18px;
        line-height: initial;
        padding-top: 0px;
      }
      .container{
        width:98% !important;
      }
      .input-group{
        margin-bottom:20px;
      }
      .input-group label {
        font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
        font-weight: 500;
        margin: 10px 0;
        font-size:20px;
      }
      .input-group .label__description {
        font-family:initial;
      }
      .input-group .form-control {
        margin: 20px 0 40px 0;
        width:75%;
      }
      form {
        margin-top: 30px;
      }
      label,legend {
        text-align: left;
            float: left;
      }
      legend {font-size: 1.8em;}
      input, textarea, select {
        float:left;
        width:75%;
        font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
      }

      input[type="radio"] {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;

        border-radius: 50%;
        width: 38px;
        height: 38px;

        border: 2px solid #999;
        -webkit-transition: 0.2s all linear;
        transition: 0.2s all linear;
        outline: none;
        margin-right: 15px;

        position: relative;
        top:23px;
        }
        input[type="checkbox"] {max-width: 50px;height: 35px;margin-top:6px}
        input:focus {
          outline: none !important;
        }
        input:checked {
          border: 12px solid #00f;
        }
        button {
          background-color: #00f !important;
        }
        .flex-container {display:-webkit-box;display:-ms-flexbox;display:flex; margin:10px 0;}
        .column {-webkit-box-orient:vertical; -webkit-box-direction:normal; -ms-flex-direction:column; flex-direction:column;}
        .row label {
          padding-left: 15px;
        }
        
        @media (max-width: 1024px) {

          body{padding-top:10px}
          .container{
          width:95%;
          }
        .input-group  label {
          font-size:30px ;
          margin-bottom:20px;
          }
          input[type="radio"]{
            top:23px;
          }
          button.btn-lg {
            font-size: 30px;
          }
          .small {
            font-size:20px;
          }
        }
        .small {
          font-size:15px;
        }
        
body
  .container
    .jumbotron.text-center
      .logo
        a(href="https://sas.utmn.ru")
          img(src="http://schoolofadvancedstudies.herokuapp.com/assets/Logo__blue.png")
      h1 День в Школе перспективных исследований
      h3 15 декабря 2018 пройдет день в Школе перспективных исследований.
      h3 Адрес проведения: ул. 8 Марта 2 к.1
      p &nbsp;
      h2 Регистрация
      form(action="/polls/open-day-2018" method="post")
        fieldset
          div(class="input-group")
            .flex-container.column
              label(for="ФИО") ФИО
                sup(style="color:red") *
              input(type="text" required="required" class="form-control" name="ФИО")
            .flex-container.column
              label(for="Город") Город
                sup(style="color:red") *
              input(type="text" required="required" class="form-control" name="Город")
            .flex-container.column
              label(for="Школа") Школа
                sup(style="color:red") *
                p.small (если Вы являетесь родителем / родственником / преподавателем / сопровождающим / старшим другом, укажите это в свободной форме)
              input(type="text" required="required" class="form-control" name="Школа")
            .flex-container.column
              label(for="Класс") Класс
                sup(style="color:red") *
                p.small (если Вы являетесь родителем / родственником / преподавателем / сопровождающим / старшим другом, укажите это в свободной форме)
              input(type="number" required="required" class="form-control" name="Класс" min="1" max="11")
            .flex-container.column
              label(for="Email") Email
                sup(style="color:red") *
              input(type="email" required="required" class="form-control" name="Email")
            .flex-container.column
              label(for="Откуда вы узнали о Школе?") Откуда вы узнали о Школе?
                sup(style="color:red") *
              input(type="text" required="required" class="form-control" name="Откуда вы узнали о Школе?")
            .flex-container.column
              h3 Какие занятия вы планируете выбрать в рамках Дня в Школе?
              h3 11:45–12:30
              label 
                a(href="https://sas.utmn.ru/louis-vervoort-ru" target="_blank") Louis Vervoort 
                span — Free Will: When Philosophy Meets Science
              label 
                a(href="https://sas.utmn.ru/tomasz-Blusiewicz" target="_blank") Tomasz Blusiewicz 
                span  — Historians from Combatant Countries Look Back at the Origins of World War I together, a Century Later
              label 
                a(href="https://sas.utmn.ru/svetlana-erpyleva" target="_blank") Светлана Ерпылева 
                span  — Занимательная история: как в XIX веке мы изобрели подростковость
              label 
                a(href="https://sas.utmn.ru/maxim-alyukov" target="_blank") Максим Алюков
                span  — Больше, чем игра: как и зачем изучать компьютерные игры?
              p &nbsp;
              select(name="lecture_1")
                option(value="Не выбрано") Не выбрано
                option(value="Louis Vervoort — Free Will: When Philosophy Meets Science") Louis Vervoort — Free Will: When Philosophy Meets Science
                option(value="Tomasz Blusiewicz — Historians from Combatant Countries Look Back at the Origins of World War I together, a Century Later") Tomasz Blusiewicz — Historians from Combatant Countries Look Back at the Origins of World War I together, a Century Later
                option(value="Светлана Ерпылева — Занимательная история: как в XIX веке мы изобрели подростковость") Светлана Ерпылева — Занимательная история: как в XIX веке мы изобрели подростковость
                option(value="Максим Алюков	— Больше, чем игра: как и зачем изучать компьютерные игры?") Максим Алюков	— Больше, чем игра: как и зачем изучать компьютерные игры?
              p &nbsp;
              h3 12:40–13:25
              label 
                a(href="https://sas.utmn.ru/Giacomo-Andreoletti" target="_blank") Giacomo Andreoletti 
                span — Identity through Time 
              label 
                a(href="https://sas.utmn.ru/Brian-Smith" target="_blank") Brian Smith
                span — Political Violence: Terrorism
              label 
                a(href="https://sas.utmn.ru/Anne-Mulhall" target="_blank") Anne Mulhall 
                span — Bodies in Crisis in the Literature of the Workplace
              label 
                a(href="https://sas.utmn.ru/evgeny-grishin" target="_blank") Евгений Гришин
                span — Любовь в Древнем Новгороде
              p &nbsp;
              select(name="lecture_2")
                option(value="Не выбрано") Не выбрано
                option(value="Giacomo Andreoletti — Identity through Time ") Giacomo Andreoletti — Identity through Time 
                option(value="Brian Smith	— Political Violence: Terrorism") Brian Smith	— Political Violence: Terrorism
                option(value="Ann Mulhall — Bodies in Crisis in the Literature of the Workplace") Ann Mulhall — Bodies in Crisis in the Literature of the Workplace
                option(value="Евгений Гришин — Любовь в Древнем Новгороде") Евгений Гришин — Любовь в Древнем Новгороде
              p &nbsp;
              h3 14:30—15:15
              label 
                a(href="https://sas.utmn.ru/David-Dusseault" target="_blank") David Dusseault 
                span — Creating First Rate Humans: Challenges to and Opportunities for Educating the Next Generation 
              label 
                a(href="https://sas.utmn.ru/John-Tangney" target="_blank") John Tangney 
                span — Literature and Visual Art
              label 
                a(href="https://sas.utmn.ru/matvey-lomonosov" target="_blank") Матвей Ломоносов 
                span — Почему мы еще не «люди мира»? О гражданстве сегодня
              p &nbsp;
              select(name="lecture_3")
                option(value="Не выбрано") Не выбрано
                option(value="David Dusseault — Creating First Rate Humans: Challenges to and Opportunities for Educating the Next Generation") David Dusseault — Creating First Rate Humans: Challenges to and Opportunities for Educating the Next Generation
                option(value="John Tangney — Literature and Visual Art") John Tangney — Literature and Visual Art
                option(value="Матвей Ломоносов — Почему мы еще не люди мира? О гражданстве сегодня") Матвей Ломоносов — Почему мы еще не «люди мира»? О гражданстве сегодня
              p &nbsp;              
            .flex-container.row
              input.form-check-input(id="agreement-checkbox" type="checkbox")                         
              label(for="agreement-checkbox") Я даю согласие на обработку своих персональных данных на основании 
                a(href="https://www.utmn.ru/o-tyumgu/soglasheniya/politika-konfidentsialnosti.php") Политики конфиденциальности
            label 
              sup(style="color:red") * 
              span — обязательные поля
              
        button(type="submit" class="btn btn-primary btn-lg") Отправить
