doctype html
html
  head
    title ПРОЕКТНО-АНАЛИТИЧЕСКАЯ СЕССИЯ — 2019. Регистрация
    link(rel='stylesheet', href='//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css')
    // load bootstrap css
    style.
      body        { padding-top:20px;   font-family: 'Agipo-Bold'; 
      
      -moz-osx-font-smoothing: grayscale;   /* Firefox */
     -webkit-font-smoothing: antialiased; /* WebKit  */
      }
      @font-face {
        font-family: 'Agipo-Bold';
        src:url('../fonts/agipo/Agipo-Bold.woff');
      }
      @font-face {
        font-family: 'Agipo-Regular';
        src:url('../fonts/agipo/Agipo-Regular.woff');
      }
      h2 {margin-bottom:20px;
      font-family: 'Agipo-Bold',Arial,sans-serif;}
      .jumbotron h1 {
        font-size:36px;
        margin-bottom: 40px;
        font-family: 'Agipo-Bold',Arial,sans-serif;
      }
      h3 {
        font-size: 1.5em;
        font-weight: 400;
        margin-bottom:30px;
        font-family: 'Agipo-Regular',Arial,sans-serif;;
      }
      .jumbotron{
        font-size:18px;
        line-height: initial;
      }
      img {
        width:80%;
        margin-top:10px;
      }
      .logo {padding-bottom:30px}
      a {color:#f00}
      .container{
        width:98% !important;
      }
      .input-group{
        margin-bottom:20px;
      }
      .input-group label, h4 {
        font-family: 'Agipo-Regular',Helvetica,Arial,sans-serif;
        font-weight: 500;
        margin: 18px 0;
        font-size:20px;
      }
      .input-group .label__description {
        font-family:initial;
      }
      .input-group .form-control {
        margin: 20px 0 40px 0;
      }
      form {
        margin-top: 30px;
      }
      fieldset {
        margin-bottom:30px;
      }
      label,legend,h4 {
        text-align: left;
        width:94%
      }
      legend {font-size: 1.8em;}
      input, textarea, select {
        float:left;
        width:75%;
        font-family: 'Agipo-Regular',Helvetica,Arial,sans-serif;
      }
      .label_width100 {
        width:100%;
      }

      input[type="radio"] {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;

        border-radius: 50%;
        width: 38px;
        height: 38px;

        border: 2px solid #999;
        transition: 0.2s all linear;
        outline: none;
        margin-right: 15px;

        position: relative;
        top:0px
        }
        input:focus {
          outline: none !important;
        }
        input:checked {
          border: 12px solid #f00;
        }
        button {
          background-color: #f00 !important;
          border-color: #f00 !important;
        }
        
        .checkbox {
          width: 5% !important;
          height: 30px;
          margin-top: 14px !important;
        }


        @media (max-width: 1024px) {

          body{padding-top:10px}
          .container{
          width:95%;
          }
          h3 {
            font-size: 2.5em;
          }
          h2 {
            font-size: 3em;
          }
          .jumbotron h1 {
            font-size: 3.5em;
          }
        .input-group  label, h4 {
          font-size:45px ;
          margin-bottom:20px;
          width:90%;
          }
          input[type="radio"]{
            top:5px;
          }
          button.btn-lg {
            font-size: 45px;
          }
          .label_width100 {
            width:100% !important;
          }
          .checkbox {margin-top: 13px !important;           
            height: 50px;
            }
          .input-group label, h4 {
            
            margin: 11px 0;
          }
        }
body
  .container
    .jumbotron.text-center
      .logo
        a(href="https://sas.utmn.ru")
          img(src="/assets/logo_sas_ut_short-red.svg")
      h1 Регистрация
      h2 ПРОЕКТНО-АНАЛИТИЧЕСКАЯ СЕССИЯ ПО ОТБОРУ ПРОФЕССОРОВ И ДИЗАЙНУ МУЛЬТИДИСЦИПЛИНАРНЫХ ИССЛЕДОВАТЕЛЬСКИХ ПРОЕКТОВ — 2019
      h3 7–10 марта, 
        a(href="https://sas.utmn.ru/en/project-design-session-2019/") кандидаты из 14 стран
        span , мероприятие проходит на английском языке. Пленарные заседания проводятся с синхронным переводом на русский язык.
      h3 г. Тюмень, ул. 8 Марта, 2/1.
      h2 7 марта
      h3 10:00–14:00 — Индивидуальные презентации кандидатов
      h3 15:00–16:15 — Индивидуальные презентации кандидатов
      h3 18:00–19:15 — Индивидуальные презентации кандидатов
      h2 8 марта
      h3 15:00–19:30 — Пленарное заседание (с синхронным переводом)
      h2 9 марта
      h3 15:00–19:30 — Пленарное заседание (с синхронным переводом)
      h2 10 марта
      h3 15:00–20:00 — Пленарное заседание (с синхронным переводом)
      form(action="/polls/pds-2019" method="post")
        fieldset
          legend 
          div(class="input-group")
            label(for="ФИО" class="label_width100") Фамилия, Имя
            input(type="text" required="required" class="form-control" name="ФИО")
            label(for="Место работы/Учебы" class="label_width100") Место работы / Учебы
            input(type="text" required="required" class="form-control" name="Место работы/Учебы")
            label(for="Еmail" class="label_width100") Еmail
            input(type="email" required="required" class="form-control" name="Еmail")
            label(for="Откуда вы узнали о мероприятии?" class="label_width100") Откуда вы узнали о мероприятии?
            input(type="text" required="required" class="form-control" name="Откуда вы узнали о мероприятии?")  
            h4 В какие дни вы планируете посетить мероприятие?
            div
              input(id="march7" type="checkbox" class="days checkbox" name="march7")
              label(for="march7") 7 марта
            div
              input(id="march8" type="checkbox" class="days checkbox" name="march8")
              label(for="march8") 8 марта
            div
              input(id="march9" type="checkbox" class="days checkbox" name="march9")
              label(for="march9") 9 марта
            div
              input(id="march10" type="checkbox" class="checkbox days" name="march10")
              label(for="march10") 10 марта
            input(id="all" type="checkbox" onClick="toggle(this)" class="checkbox" )
            label(for="all") Отметить все дни
            p &nbsp;            
            div
              input(id="broadcast" type="checkbox" class="checkbox" name="broadcast")
              label(for="broadcast") Планирую смотреть онлайн-трансляцию (отметьте, чтобы получить оповещение о начале трансляции и ссылку на запись)
            p &nbsp;
            input(id="agreement-checkbox" type="checkbox" required class=" checkbox" name="agreement")
            label(for="agreement-checkbox") Я даю согласие на обработку своих персональных данных на основании 
              a(href="https://www.utmn.ru/o-tyumgu/soglasheniya/politika-konfidentsialnosti.php") политики конфиденциальности
            script.
              function toggle(source) {
              checkboxes = document.getElementsByClassName('days');
              for (var i=0;i<checkboxes.length;i++){
                checkboxes[i].checked = source.checked;
                }
              }            
        button(type="submit" class="btn btn-primary btn-lg") Отправить
