doctype html
html
  head
    title Проект “Память против новостей” — форма регистрации
    link(rel='stylesheet' href='//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css')
    link(rel="stylesheet" href="https://sastest.utmn.ru/wp-content/themes/sasutmn/css/fontello-embedded.min.css")
    // load bootstrap css
    style.
      body        { padding-top:20px;   font-family: 'Agipo-Bold'; 
      
      -moz-osx-font-smoothing: grayscale;   /* Firefox */
     -webkit-font-smoothing: antialiased; /* WebKit  */
      }
      @font-face {
        font-family: 'Agipo-Bold';
        src:url('../fonts/agipo/Agipo-Bold.woff');
      }
      @font-face {
        font-family: 'Agipo-Regular';
        src:url('../fonts/agipo/Agipo-Regular.woff');
      }
      h2 {margin-bottom:20px;
      font-family: 'Agipo-Bold',Arial,sans-serif;}
      .jumbotron h1 {
        font-size:36px;
        margin-bottom: 40px;
        font-family: 'Agipo-Bold',Arial,sans-serif;
      }
      h3 {
        font-size: 1.5em;
        font-weight: 400;
        margin-bottom:30px;
        font-family: 'Agipo-Regular',Arial,sans-serif;;
      }
      .jumbotron{
        font-size:18px;
        line-height: initial;
      }
      img {
        width:80%;
        margin-top:10px;
      }
      .logo {padding-bottom:30px}
      a {color:#f00}
      .container{
        width:98% !important;
      }
      p {
        margin: 0 0 30px;
        font-size: 20px;
        font-family: 'Agipo-Regular';
      }
      .input-group{
        margin-bottom:20px;
        display:block;
      }
      .input-group label, h4 {
        font-family: 'Agipo-Regular',Helvetica,Arial,sans-serif;
        font-weight: 500;
        margin: 18px 0;
        font-size:20px;
      }
      .input-group .label__description {
        font-family:initial;
      }
      .input-group .form-control {
        margin: 20px 0 40px 0;
      }
      form {
        margin-top: 30px;
      }
      fieldset {
        margin-bottom:30px;
      }
      label,legend,h4 {
        text-align: left;
        width:100%;
      }
      label[for="agreement-checkbox"]{
        width:92%;
        margin-top: 12px;
      }
      #agreement-checkbox {
        width:5%;
        margin-left: 10px;
      }
      legend {font-size: 1.8em;}
      input, textarea, select {
        font-size: 20px !important;
        float:left;
        width:75%;
        font-family: 'Agipo-Regular',Helvetica,Arial,sans-serif;
      }
      .label_width100 {
        width:100%;
      }

      input[type="radio"] {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;

        border-radius: 50%;
        width: 38px;
        height: 38px;

        border: 2px solid #999;
        transition: 0.2s all linear;
        outline: none;
        margin-right: 15px;

        position: relative;
        top:0px
        }
        input:focus {
          outline: none !important;
        }
        input:checked {
          border: 12px solid #f00;
        }
        button {
          background-color: #f00 !important;
          border-color: #f00 !important;
        }
        
        .checkbox {
          width: 5% !important;
          height: 30px;
          margin-top: 14px !important;
        }
        
        input[type="checkbox"] {
          /* -webkit-appearance: none;
          -moz-appearance: none;
          appearance: none; */

          width: 38px;
          height: 38px;

          border: 2px solid #999;
          transition: 0.2s all linear;
          outline: none;
          margin-right: 15px;

          position: relative;
          top:0;
          zoom:1.1;
          }
          
          .social li {
            display:inline-block;
          }
          
          [class^="icon-"]:before, [class*=" icon-"]:before {
              font-family: "fontello";
              font-style: normal;
              font-weight: normal;
              speak: none;
              display: inline-block;
              text-decoration: inherit;
              width: 1em;
              margin-right: .2em;
              text-align: center;
              font-variant: normal;
              text-transform: none;
              line-height: 1em;
              margin-left: .2em;
              font-size:50px;
            }
            .icon-facebook:before {
                content: '\f30c';
              }
              .icon-vkontakte:before {
                content: '\f189';
              }
              .icon-instagram:before {
                content: '\f32d';
              }
              .icon-youtube:before {
                content: '\f167';
              }


        @media (max-width: 1024px) {

          body{padding-top:10px}
          .container{
          width:95%;
          }
          h3 {
            font-size: 2.5em;
          }
          h2 {
            font-size: 3em;
          }
          .jumbotron h1 {
            font-size: 3.5em;
          }
        .input-group  label, h4 {
          font-size:45px ;
          margin-bottom:20px;
          width:100%;
          }
          
          .input-group .form-control {
            height:62px;
          }
          
          label[for="agreement-checkbox"]{
            width:91%;
            margin-top: 12px;
          
          }
          #agreement-checkbox {
            width:5%;
            margin-left: 10px;
              top: 10px;
          }
          .checkbox {
            width: 5% !important;
            height: 30px;
            margin-top: 14px !important;
          }
          input[type="radio"]{
            top:5px;
          }
          .btn-lg {
            padding: 16px 26px;
            font-size: 45px;
            line-height: 1.33;
            border-radius: 16px;
          }
          .label_width100 {
            width:100% !important;
          }
          .checkbox {margin-top: 13px !important;           
            height: 50px;
            }
          .input-group label, h4 {
            
            margin: 11px 0;
          }
        }
      
        @media (max-width: 768px){
          [class^="icon-"]:before, [class*=" icon-"]:before {
              font-size:90px;
              line-height:2
            }
            p {
              font-size: 40px;
            }
        }

              
        
body
  .container
    .jumbotron.text-center(style="background:white")
      .logo
        a(href="https://sas.utmn.ru")
          img(src="/assets/logo_sas_ut_short-red.svg")
      h1 Проект “Память против новостей” — форма регистрации
      label 25 мая 2020 года SAS начинает открытый онлайн проект по исследованию самоизоляции. Что есть «новости» и что есть «новое» в эпоху самоизоляции? Что становится «событием», когда событий нет? Чем запомнится нам это время? 
      label Проект «Память против новостей» будет отвечать на эти вопросы в формате дискуссий, челленджей и лекций. Участники будут создавать смелые медиапродукты, используя различные жанры и платформы, воркшопы и индивидуальные консультации с экспертами. Принять участие можно из любой точки России и мира, заполнив это форму. Участие бесплатное.
      .col-xs-12
        ul(class="social")
          li(class="fb")
            a(href="https://www.facebook.com/sas.utmn.ru/" target="_blank")
              i(class="icon-facebook")
          li(class="vk")
            a(href="https://vk.com/sas_tmn" target="_blank")
              i(class="icon-vkontakte")
          li(class="insta")
            a(href="https://www.instagram.com/sas_utmn/" target="_blank")
              i(class="icon-instagram")
          li(class="youtube")
            a(href="https://www.youtube.com/channel/UCTOl5FTiDD-n61Xiu0e_Uvg" target="_blank")
              i(class="icon-youtube")
      form(action="/polls/registration-media" method="post")
        fieldset
          div(class="input-group")
            .flex-container.column
              label(for="ФИО") ФИО
                sup(style="color:red") *
              input(type="text" required="required" class="form-control" name="Name")
            .flex-container.column
              label(for="Email") Email
                sup(style="color:red") *
              input(type="email" required="required" class="form-control" name="Email")
            .flex-container.column
              label(for="City") Город
                sup(style="color:red") *
              input(type="text" required="required" class="form-control" name="City")
            .flex-container.column
              label(for="About") Место учёбы (Университет, направление, курс) / Место работы и должность
                sup(style="color:red") *
              input(type="text" required="required" class="form-control" name="About")
            .flex-container.column
              label(for="Links") Ссылки на социальные сети
                sup(style="color:red") *
              textarea(rows="2" required="required" class="form-control" name="Links")
            p &nbsp;              
            .flex-container.row
              input.form-check-input(id="agreement-checkbox" type="checkbox" name="agreement" required)                         
              label(for="agreement-checkbox") Я даю согласие на обработку своих персональных данных на основании <!-- Я даю согласие на обработку своих персональных данных на основании -->
                a(href="https://www.utmn.ru/o-tyumgu/soglasheniya/politika-konfidentsialnosti.php") Политики конфиденциальности
                sup(style="color:red") *
            label 
              sup(style="color:red") * 
              span — обязательные поля      
        button(type="submit" class="btn btn-primary btn-lg") Отправить
          
