doctype html
html
  head
    title SAS — список зарегистрировавшихся
    link(rel='stylesheet', href='//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css')
    // load bootstrap css
    style.
      body        { padding-top:20px;   font-family: 'Agipo-Bold'; 
      
      -moz-osx-font-smoothing: grayscale;   /* Firefox */
     -webkit-font-smoothing: antialiased; /* WebKit  */
      }
      @font-face {
        font-family: 'Agipo-Bold';
        src:url('../fonts/agipo/Agipo-Bold.woff');
      }
      @font-face {
        font-family: 'Agipo-Regular';
        src:url('../fonts/agipo/Agipo-Regular.woff');
      }
      h2 {margin-bottom:20px;
      font-family: 'Agipo-Bold',Arial,sans-serif;}
      .jumbotron h1 {
        font-size:36px;
        margin-bottom: 40px;
        font-family: 'Agipo-Bold',Arial,sans-serif;
      }
      h3 {
        font-size: 1.5em;
        font-weight: 400;
        margin-bottom:30px;
        font-family: 'Agipo-Regular',Arial,sans-serif;;
      }
      thead {
        font-size: 25px;
        border-bottom:3px red solid;
      }
      .jumbotron{
        font-size:18px;
        line-height: initial;
      }
      img {
        width:80%;
        margin-top:10px;
      }
      .logo {padding-bottom:30px}
      a {color:#f00}
      .container{
        width:98% !important;
      }
      .input-group{
        margin-bottom:20px;
      }
      .input-group label, h4 {
        font-family: 'Agipo-Regular',Helvetica,Arial,sans-serif;
        font-weight: 500;
        margin: 18px 0;
        font-size:20px;
      }
      .input-group .label__description {
        font-family:initial;
      }
      .input-group .form-control {
        margin: 20px 0 40px 0;
      }
      form {
        margin-top: 30px;
      }
      fieldset {
        margin-bottom:30px;
      }
      label,legend,h4 {
        text-align: left;
        width:100%;
      }
      label[for="agreement-checkbox"]{
        width:92%;
        margin-top:0;
      }
      #agreement-checkbox {
        width:5%;
        margin-left: 10px;
      }
      legend {font-size: 1.8em;}
      input, textarea, select {
        float:left;
        width:75%;
        font-family: 'Agipo-Regular',Helvetica,Arial,sans-serif;
      }
      .label_width100 {
        width:100%;
      }

      input[type="radio"] {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;

        border-radius: 50%;
        width: 38px;
        height: 38px;

        border: 2px solid #999;
        transition: 0.2s all linear;
        outline: none;
        margin-right: 15px;

        position: relative;
        top:0px
        }
        input:focus {
          outline: none !important;
        }
        input:checked {
          border: 12px solid #f00;
        }
        button {
          background-color: #f00 !important;
          border-color: #f00 !important;
        }
        
        .checkbox {
          width: 5% !important;
          height: 30px;
          margin-top: 14px !important;
        }
        
        input[type="checkbox"] {
          /* -webkit-appearance: none;
          -moz-appearance: none;
          appearance: none; */

          width: 38px;
          height: 38px;

          border: 2px solid #999;
          transition: 0.2s all linear;
          outline: none;
          margin-right: 15px;

          position: relative;
          top:0;
          zoom:1.1;
          }


        @media (max-width: 1024px) {

          body{padding-top:10px}
          .container{
          width:95%;
          }
          h3 {
            font-size: 2.5em;
          }
          h2 {
            font-size: 3em;
          }
          .jumbotron h1 {
            font-size: 3.5em;
          }
        .input-group  label, h4 {
          font-size:45px ;
          margin-bottom:20px;
          width:100%;
          }
          label[for="agreement-checkbox"]{
            width:91%;
            margin-top:0;
          
          }
          #agreement-checkbox {
            width:5%;
            margin-left: 10px;
              top: 10px;
          }
          .checkbox {
            width: 5% !important;
            height: 30px;
            margin-top: 14px !important;
          }
          input[type="radio"]{
            top:5px;
          }
          button.btn-lg {
            font-size: 45px;
          }
          .label_width100 {
            width:100% !important;
          }
          .checkbox {margin-top: 13px !important;           
            height: 50px;
            }
          .input-group label, h4 {
            
            margin: 11px 0;
          }
        }
              li {
                line-height: 2; }

              .shell {
                  position: relative;
                    line-height: 1; }
                      .shell span {
      position: absolute;
      left: 3px;
      top: 1px;
      color: #ccc;
        pointer-events: none;
        z-index: -1; }
        .shell span i {
          font-style: normal;
          /* any of these 3 will work */
          color: transparent;
          opacity: 0;
          visibility: hidden; }

          input.masked,
          .shell span {
            font-size: 16px;
            padding-right: 10px;
            /* background-color: transparent; */
            text-transform: uppercase; }
        
body
  .container
    .jumbotron.text-center
      .logo
        a(href="https://sas.utmn.ru")
          img(src="/assets/Logo__red.png")
      h1 Список зарегистрировавшихся
      table.table 
        thead
          tr
            td Ф.И.О.
            td Паспорт
            td Дата рождения
            td Email
            //- td О себе
            td Мероприятие
            td Время регистрации
        tbody.tablebody
script.
  var data = [!{data}];
  var registrations = [];
  const urlParams = new URLSearchParams(window.location.search);
  var field = urlParams.get('field');
  
  data.forEach(function(el){
    var parsed = JSON.parse(el.polls[field].data)
    parsed.time = el.polls[field].time;    
    registrations.unshift(parsed);
  });
  
  registrations.reverse();
  registrations.forEach(function(elem){
    var row = document.createElement('tr');
    var table = document.querySelector('.tablebody');
    table.appendChild(row);
    var td1 = document.createElement('td');
    td1.innerHTML = elem["Ф.И.О."];
    row.appendChild(td1);
    var td2 = document.createElement('td');
    td2.innerHTML = elem["Passport"];
    row.appendChild(td2);
    var td3 = document.createElement('td');
    td3.innerHTML = elem["Birthdate"];
    row.appendChild(td3);
    var td4 = document.createElement('td');
    td4.innerHTML = elem["Email"];
    row.appendChild(td4);
    /* var td5 = document.createElement('td');
    td5.innerHTML = elem["About"];
    row.appendChild(td5); */
    var td6 = document.createElement('td');
    td6.innerHTML = elem["event"];
    row.appendChild(td6);
    var td7 = document.createElement('td');
    td7.innerHTML = elem["time"];
    row.appendChild(td7);
  });
  
  
