doctype html
head
  title The City as Text
  link(rel='stylesheet', href='//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css')
  // load bootstrap css
  style.
    body        { padding-top:20px;   font-family: 'Agipo-Bold',Helvetica,Arial,sans-serif;}
    @font-face {
      font-family: 'Agipo-Bold';
      src:url('../fonts/agipo/Agipo-Bold.woff');
    }
    @font-face {
      font-family: 'Agipo-Regular';
      src:url('fonts/agipo/Agipo-Regular.woff');
    }
    img {
      width:100%;
    }
    .input-group a {
      margin: 11px;
    }
    .logo {padding-bottom:30px}
    h2 {font-weight:800; margin-bottom:20px;font-size: 1.8em;}
    .jumbotron h1 {
      font-size:36px;
      margin-bottom: 40px;
    }
    h3 {
      font-size: 1.5em;
      font-weight: 400;
      font-family: 'Agipo-Bold',Helvetica,Arial,sans-serif;
    }
    .jumbotron{
      font-size:18px;
      line-height: initial;
    }
    .container{
      width:98% !important;
    }
    .input-group{
      margin-bottom:20px;
    }
    .input-group label {
      font-family: "Agipo-Regular",Helvetica,Arial,sans-serif;
      font-weight: 500;
      margin: 10px 0;
      font-size:20px;
    }
    .input-group .label__description {
      font-family:initial;
    }
    .input-group .form-control {
      margin: 20px 0 40px 0;
      width:75%;
    }
    form {
      margin-top: 30px;
    }
    label,legend {
      text-align: left;
          float: left;
    }
    legend {font-size: 1.8em;}
    input, textarea, select {
      float:left;
      width:75%;
      font-family: "Agipo-Regular",Helvetica,Arial,sans-serif;
    }

    input[type="radio"] {
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;

      border-radius: 50%;
      width: 38px;
      height: 38px;

      border: 2px solid #999;
      transition: 0.2s all linear;
      outline: none;
      margin-right: 15px;

      position: relative;
      top:0px;
      }
      input:focus {
        outline: none !important;
      }
      input:checked {
        border: 12px solid #00f;
      }
      button {
        background-color: #00f !important;
      }

      .label_desc {
        font-size:15px;
        margin-top:10px;
      }
      .flex-container {display:flex; margin:10px 0;}


      @media (max-width: 1024px) {

        body{padding-top:10px}
        .container{
        width:95%;
        }
      .input-group  label {
        font-size:30px ;
        margin-bottom:20px;
        }
        input[type="radio"]{
          top:6px;
        }
        button.btn-lg {
          font-size: 30px;
        }
        .label_desc {
          font-size:26px;
        }
      }
      @media screen and (min-width: 768px){
      .jumbotron {padding-top: 0px;}
      }
.container
  .jumbotron.text-center
    .logo
      a(href="https://sas.utmn.ru")
        img(src="../assets/Logo__blue.png")
    h1 Vote for your favourite video. Links are below.
    form(action="/polls/the-city-as-text-2018-video" method="post")
      div(class="input-group")
        .flex-container
          input(type="radio" value="Group 1" name="video" id="1")
          label(for="1") Group 1
          a(href="https://vk.com/wall173198222_2899") Link
        .flex-container
          input(type="radio" value="Group 2" name="video" id="2")
          label(for="2") Group 2
          a(href="https://vk.com/video?z=video96332390_456239673%2Fpl_cat_updates") Link
        .flex-container
          input(type="radio" value="Group 3" name="video" id="3")
          label(for="3") Group 3
          a(href="https://vk.com/video93657659_456239190") Link
        .flex-container
          input(type="radio" value="Group 4" name="video" id="4")
          label(for="4") Group 4
          a(href="https://vk.com/wall300011710_167") Link
        .flex-container
          input(type="radio" value="Group 5" name="video" id="5")
          label(for="5") Group 5
          a(href="https://vk.com/wall129575378_3385") Link
        .flex-container
          input(type="radio" value="Group 6" name="video" id="6")
          label(for="6") Group 6
          a(href="https://vk.com/wall349644983_46") Link
        .flex-container
          input(type="radio" value="Group 7" name="video" id="7")
          label(for="7") Group 7
          a(href="https://vk.com/wall142905444_15481") Link
        .flex-container
          input(type="radio" value="Group 8" name="video" id="8")
          label(for="8") Group 8
          a(href="https://vk.com/video51415588_456239067") Link
        .flex-container
          input(type="radio" value="Group 9" name="video" id="9")
          label(for="9") Group 9
          a(href="https://vk.com/video238670786_456239019") Link
        .flex-container
          input(type="radio" value="Group 10" name="video" id="10")
          label(for="10") Group 10
          a(href="https://vk.com/id284340738?z=video284340738_456239260%2F75658f597cc25cac7d%2Fpl_wall_284340738") Link
      button(type="submit" class="btn btn-primary btn-lg") Submit
